[2017-11-30 03:26] dr-nafanya opened #77 "Create contribution guidelines"
It would be great to have a contribution document, something like [this](https://github.com/reactjs/react-redux/blob/master/CONTRIBUTING.md). This would help with upcoming PRs/issues from the community.

[2017-11-30 04:23] sergey-surkov commented on #77
I think it's an excellent idea. We would certainly welcome contributions for specific languages, or fun facts or the like.

[2017-12-04 10:48] #77 closed

[2017-12-06 22:54] taleh007 opened #85 "Remove uselless parenthesis"
from readme

[2017-12-07 00:47] hugogrochau opened #87 "Missing #!/usr/bin/env bash in main bash script"
The bash script that gets downloaded to `~/.sourcerer/sourcerer` is missing the `#!/usr/bin/env bash` header.

So when I run `sourcerer` in my terminal I get the following error message:
[code]

[2017-12-07 02:05] sergey-surkov opened #89 "Make it easy to report app issues"
In the console output, whenever we print an error that should not happen, let's include a link to opening a new issue in this repo, e..g

[e] Unhandled exception. Please file an issue at https://github.com/sourcerer-io/sourcerer-app/issues/new and include this console output as well as some account of what happened. Thank you!

[2017-12-07 02:25] sergey-surkov opened #90 "Can the need for java JRE go away?"
Kotlin can be compiled to native binary. Maybe we could do that?
OR
Java can be bundled. Maybe we could do that?

[2017-12-07 19:59] klapen opened #92 "Cannot find repo because stores relative path to repo"
When I run sourcerer command, can not find repos I have because path is relative from where I run the 'add' command. So, to update all repos I need to run sourcerer command from all paths I used 'add' command.

[2017-12-07 21:34] #85 closed

[2017-12-08 02:21] sergey-surkov opened #94 "Make an actual release"
Guys, let's go through the customary github process and make an actual release: https://github.com/sourcerer-io/sourcerer-app/releases

[2017-12-08 16:51] osilla opened #96 "(Fun Fact) On average, my commits are # lines long."
On average, my commits are [count of lines] lines long.

[2017-12-08 16:53] osilla opened #97 "(Fun Fact) My average lines of code is 80 characters"
My average line of code is [average count of characters in a line of code]

[2017-12-08 16:54] osilla opened #98 "(Fun Fact) I like CamelCase"
I like [CamelCase|SnakeCase]

[2017-12-08 17:14] osilla opened #99 "(Fun Fact) My average file is 200 lines long"
My average file is [count of lines used in a file] lines long

[2017-12-08 17:15] osilla opened #100 "(Fun Fact) I primarily program in Python"
I primarily program in [language most used].

[2017-12-08 17:16] osilla opened #101 "(Fun Fact) Underscores are my most used file naming convention"
[Underscores|CamelCase] are my most used file naming convention

[2017-12-08 17:18] osilla opened #102 "(Fun Fact) I frequently work with a team of X"
I frequently work with a team of [count of team members in most frequently used repo]

[2017-12-08 17:19] osilla opened #103 "(Fun Fact) I make a lot of commits with small changes"
I make a lot of commits with small changes

[2017-12-08 17:19] osilla opened #104 "(Fun Fact) I delete a lot of code"
I delete a lot of code

[2017-12-08 17:20] osilla opened #105 "(Fun Fact) I write, on average, # functions per file."
I write, on average, # functions per file.

[2017-12-08 17:21] osilla opened #106 "(Fun Fact) The longest name of my classes is # characters long."
The longest name of my classes is [count of characters] characters long.

[2017-12-08 17:22] osilla opened #107 "(Fun Fact) My code to empty line ratio is X"
My code to empty line ratio is X

[2017-12-08 17:23] osilla opened #108 "(Fun Fact) In one day I have been able to remove # lines of code!"
In one day I have been able to remove # lines of code!

[2017-12-08 17:24] osilla opened #109 "(Fun Fact) I have # lines of comments per 100 lines of code."
I have [count of lines of comments] per 100 lines of code.

[2017-12-08 17:25] osilla opened #110 "(Fun Fact) I mostly use Spaces overs Tabs for indentation"
I mostly use Spaces overs Tabs for indentation
or
I mostly use Tabs overs Spaces for indentation

[2017-12-08 17:25] osilla opened #111 "(Fun Fact) I contribute to open source projects"
I contribute to open source projects

[2017-12-08 17:26] osilla opened #112 "(Fun Fact) I typically use inline braces"
I typically use [inline|multi-line] braces

[2017-12-08 17:27] osilla opened #113 "(Fun Fact) Typically I indent my code blocks with 4 spaces"
I typically indent my code blocks with [count of spaces or tabs used to indent code blocks]

[2017-12-08 17:27] osilla opened #114 "(Fun Fact) I do Functional programming"
I do Functional programming

[2017-12-08 17:28] osilla opened #115 "(Fun Fact) I do a lot of CSS2"
I do a lot of [CSS2|CSS3|CSS4]

[2017-12-08 17:30] osilla opened #116 "(Fun Fact) I use a lot of Google open source libs"
I use a lot of [Google|Facebook|Twitter] open source libs

[2017-12-08 17:30] osilla opened #117 "(Fun Fact) I like list comprehensions (python)"
I like list comprehensions (python)

[2017-12-08 17:31] osilla opened #118 "(Fun Fact) I use [tool X] to autogenerate documentation for me"
I use [tool X] to autogenerate documentation for me

[2017-12-08 17:32] osilla opened #119 "(Fun Fact) My average function has 20 lines of code"
My average function has [count of lines of code] lines of code

[2017-12-08 17:32] osilla opened #120 "(Fun Fact) My preferred build system is CMake."
My preferred build system is [build system user uses].

[2017-12-08 17:33] osilla opened #121 "(Fun Fact) I use template metaprogramming."
I use template metaprogramming.

[2017-12-08 17:33] osilla opened #122 "(Fun Fact) I use inline assembly in my code."
I use inline assembly in my code.

[2017-12-08 17:34] osilla opened #123 "(Fun Fact) The most used library besides STL is Boost."
The most used library besides STL is Boost.

[2017-12-08 17:35] osilla opened #124 "(Fun Facts) On average I have # commits per file."
On average I have [count of commits] per file.

[2017-12-08 17:36] osilla opened #125 "(Fun Fact) The oldest file in my repository that I edited recently is 2 years old."
The oldest file in my repository that I edited recently is [number of years, months] years old.

[2017-12-08 17:36] osilla opened #126 "(Fun Fact) I like to write multithreaded programs."
I like to write multithreaded programs.

[2017-12-08 17:36] osilla opened #127 "(Fun Fact) I follow up on TODOs"
I follow up on TODOs

[2017-12-08 17:37] osilla opened #128 "(Fun Fact) My TODOs live on average X days"
My TODOs live on average X days

[2017-12-08 17:38] osilla opened #129 "(Fun Fact) # files account for 80% of my commits in the past 3 months."
[number of files] files account for 80% of my commits in the past 3 months.

# == Number. We count number of files in commits, and then say 20 files account for 80% of my commits in last three months.

[2017-12-08 21:18] osilla opened #130 "Add rich Kotlin support"
This task is about parsing Kotlin tech stats

[2017-12-08 21:21] osilla opened #131 "code longevity: warped data collected"
There's a tiny error - all longevity is collected for a person who removed a line, author earns nothing. So it's easy to swim if another holds up your head или на чужом горбу в рай ехать.

[2017-12-08 21:25] osilla opened #132 "CommitHasher and CodeLongevity may share a single repo traversal loop"

[2017-12-08 21:27] osilla opened #133 "Merge commit diff"
Persiyanov commit to tensorflow repo (Commit link) has 39 additions and 22 deletions and Python code only.
But APP finds 223427 lines added and 32053 deleted. Also it finds 3036 CPP, 5k tensorflow and so on.
Also this commit leads to 2 'tensorflow' tech entities in commit_stats table.
Anatoly supposes that the reason of such behavior is problem in JGit.

[2017-12-08 21:28] osilla opened #134 "longevity fails on bootsrap repo"
[e] No line at 35; commit: 6a0a139cdabe9ad24f2dcee3044bb62f8738df15; 'Upgrade to Normalize v3-rc1 in prep for v3 final': Index: 35, Size: 35
java.lang.IndexOutOfBoundsException: Index: 35, Size: 35

[2017-12-08 21:29] osilla opened #135 "Detect colleagues"
For effective invites, we would like to detect colleagues. Can we introduce a simple metric that is the min number of months between two people (two emails) edited the same file? e.g. if alex edited a file two months ago, and I edited it just now, our colleague distance is 2.

The app should compute C-distances for all each pair of people in a repo, and upload ones that are above inf to our databa

[2017-12-08 21:30] osilla opened #136 "can we make CommitCrawler faster?"
Here's the timing of CommitCrawler:
is file binary check takes ~20%
get file content (old and new versions): ~40%
toFileHeader: ~25%
Old and new versions of a file are computed for each commit, which is an excess work, since old eventually becomes a new one. If a file content was stored, then it will make 20% faster.
Also it's worth to check whether is_binary check is any faster if we feed a file

[2017-12-08 21:32] osilla opened #137 "Longevity fails on some repos due to JGit exceptions"
Example errors:
Hashing error: Missing unknown b3de5226c057d0588316c8bb0450990605e035d1
https://github.com/persiyanov/AgentNet
Error while hashing: Missing unknown fb714b3606bd663b823f6960a73d052f97283b74
https://github.com/persiyanov/temporal-topic-models-bigartm/
Fixes for CommitCrawler for the same errors: commit
Dirty fixes for LongevityHasher: commit  @asurkov  , take a look

[2017-12-08 21:38] osilla opened #138 "Autocompletion for paths"

[2017-12-08 21:38] osilla opened #139 "Add relative path support to repos"
People often supply relative paths such as '.' or repo/myrepo. It's more serious than it sounds because if you use '.' you can switch a repo and do hashing again with a different repo. We better fix it fast.

[2017-12-08 21:40] osilla opened #140 "Add support for branches other than master"
More than one user complained that they don't have master in their repos. We should support all branches that have a remote.

[2017-12-08 21:40] osilla opened #141 "Hide additional info from get routes of CS"

[2017-12-11 18:20] osilla opened #142 "Team members are not showing accurately"
According to

https://sourcerer.io/tydanielson

via feedback

projects say 1 or 2 team members but many of them have 10+

[2017-12-11 18:25] praxeo opened #143 "Can't reset password"
I use Lastpass to generate my passwords. Unfortunately, Lastpass did not save the password I generated for my Sourcerer account, so I am stuck when running the sourcerer script on my computer. I see no mechanism on the website to get my password reset. Is this a bug?

[2017-12-11 19:06] tydanielson opened #144 "Every field in work experience is required for all entries or nothing is saved and wiped"
I have a job that I currently work at and would like to avoid adding an end date, but if I don't when I click save, all the data is lost.  Lost data includes all the other entered experience as well.

Browser: Chrome 62
Request Payload: Empty

[2017-12-11 19:27] sergey-surkov commented on #143
Hi Benjamin,

Sorry for the inconvenience. We did not implement a proper password reset yet. Could you please use this js fiddle to hash your password and send the output to support@sourcerer.io along with your username?

https://jsfiddle.net/uh47wag3/

Thank you!

[2017-12-11 20:01] praxeo commented on #143
Consider it done! Thank you for your help!

[2017-12-12 01:13] osilla opened #145 "Libs not found"
the following user added repos and we were unsuccessful at extracting a lot of his libs

https://sourcerer.io/andrew

Note:
 1.  Angular was found
 2. Missed the following he emailed me over  - Lots of spring, spring boot, spring mvc, apache camel, spring integration etc etc.
 3. Missed Rails from his Ruby projects

[2017-12-12 03:45] sergey-surkov commented on #87
@anatolykislov should we close this?

[2017-12-12 03:45] sergey-surkov commented on #89
I don't think it's a real issue a the moment. Closing it for now.

[2017-12-12 03:45] #89 closed

[2017-12-12 11:25] anatolykislov commented on #87
Yes. Thank you @hugogrochau !

[2017-12-12 11:25] #87 closed

[2017-12-18 13:43] anatolykislov commented on #92
Hi, klapen! We've added support for relative paths in release 0.1.1 only 3 days ago. Before this update users of the app only had the option to specify absolute paths. Can you give an example of how you using the app and tell your Java and OS versions.

[2017-12-18 13:46] #94 closed

[2017-12-18 13:47] #141 closed

[2017-12-18 13:48] #139 closed

[2017-12-18 14:18] #130 closed

[2017-12-19 22:28] osilla opened #151 "erroneous technology being shown for user"
the following user says she has never written any react but it shows that she has ~7000 lines of it on her profile.

https://sourcerer.io/alison

[2017-12-20 02:52] sergey-surkov opened #152 "Add screenshot to README"
![profile-sliced-sized](https://user-images.githubusercontent.com/20287615/34188912-b3aaf8ba-e4ed-11e7-861c-2adf13a921ac.png)

And use better icon:
![black-logo-hires](https://user-images.githubusercontent.com/20287615/34189346-d426d4c2-e4ef-11e7-9da4-cc76a1ed111d.png)

[2017-12-20 16:42] #152 closed

[2017-12-26 22:01] klapen opened #161 "Uncaught exception: java.net.SocketTimeoutException: Read timed out"
Hi,

I re-run sourcerer command to update my repos and got in all of them:

Hashing /path/to/repo repository...
[i] Hashing of repo started.
[i] Received repo from server with X commits.
[e] Error while hashing: java.net.SocketTimeoutException: Read timed out

and in one specially got another error: [e] Error while hashing: 83b6863dbd77fb925402e836b8e913160cfc4d94 exceeds size limit.

Regards,

[2017-12-26 22:34] sergey-surkov commented on #161
Hi Orlando,

We will look into it shortly.

Best,
Sergey

On Tue, Dec 26, 2017 at 2:01 PM, klapen <notifications@github.com> wrote:

[2017-12-29 22:54] osilla commented on #151
another user (and friend) has expressed the same issue to me.  specifically that he does not do any javascript but it is showing for him.  he thinks it takes all the repo as his commit for some reason.

https://sourcerer.io/wanghuaili

his

[2018-01-02 18:39] osilla opened #163 "(Stats) Ruby not being listed in languages"
User has informed me that he thinks the app skipped over 2 Ruby on Rails projects he added.  In the "Technologies" section it shows Rails but in the "Languages" section it doesn't mention Ruby at all.

His profile:
https://sourcerer.io/rwoliver2

[2018-01-03 21:10] yaronskaya commented on #163
It looks like ruby is not in top6 languages. So we don't show it in profile.

[2018-01-04 17:23] osilla opened #164 "technology section is missing for user"
https://sourcerer.io/rrethy

Ideally, his profile should reflect his interests - machine learning, android, kotlin. we only show kotlin. where is machine learning? where is android?

Comments from luba in slack:

@android - he has android.app imports that are not supported currently because the lib doesn't have open source code. Will do it.
@machine learning - the code is in Matlab in which we don

[2018-01-08 15:59] osilla opened #165 "Erroneous and missing technologies for user"
comment from a recent user of ours.  note his issues on not listing SASS or CSS for him and that Ember and React are listed but he never used them.

https://sourcerer.io/adnanrahic

----

Great! Yeah, the process was very simple and straightforward. Only thing I'd see as an improvement in the CLI is autocompletion for directories. It was a bit of a pain to enter 15 repos by hand, one at a time, ha

[2018-01-12 09:42] EdvinasBa commented on #161
I'm having a similar issue with a bigger repo, it receives 0 commits.
Smaller repos work fine.
[code]

[2018-01-19 20:10] #117 closed

[2018-01-19 20:11] #110 closed

[2018-01-23 19:31] osilla opened #175 "User committed in Prolog differently than what we report"
The following user wrote to me

https://sourcerer.io/vfonov

if you look at his profile we detect prolog in 2011 and 2015

[2018-01-24 19:27] wmertens opened #176 "No way to log in with app if you connected with github"
There should be a token login mechanism or something so you can connect the `sourcerer` app with the server without setting up a new account that uses login/pw…

[2018-01-26 14:58] SamuelMarks commented on #176
They emailed me a temporary password for this

[2018-01-26 15:35] wmertens commented on #176
Totally missed that! Not perfect, but ok. Closing.

[2018-01-26 15:35] #176 closed

[2018-01-26 21:26] wmertens opened #178 "(Bug) App doesn't recognize emails with different case"
[code]

adding it doesn't make a difference though…

[2018-01-26 23:02] tbrisker opened #179 "My profile only shows very old data"
My [profile](https://sourcerer.io/tbrisker) seems to only show my data for 2013, nothing newer, despite a lot of newer commits.

[2018-01-27 18:30] osilla opened #180 "(Stats) Gap in AC for user"
the following user has a strange timeline for his AC.  note how in the middle it ends at Q2 2017 then transitions to monthly up to November 2017

https://sourcerer.io/dima

[2018-01-28 18:24] osilla opened #181 "User's profile lists prolog"
The following user reached out to me and said that while his profile lists prolog he hasn't done any.

https://sourcerer.io/komzpa

[2018-01-29 09:49] anatolykislov opened #182 "Filter commits by CommitCrawler"
Optimization is possible due to #183

[2018-01-29 09:56] anatolykislov opened #183 "Code longevity chart disabling"
We are getting feedback that some of users don't understand code longevity chart in the profile, also, calculation of it requires traversal and calculation of diffs for all commits.
We will replace code longevity chart with commits share chart.

[2018-01-29 10:00] anatolystansler opened #184 "Calculation of facts for commits share chart"
Calculate statistics for the new chart that we replace code longevity chart
#183

[2018-01-29 15:52] sergey-surkov commented on #179
Hi Tomer, we are looking into this.

[2018-01-29 15:55] sergey-surkov commented on #178
Hi Wout,

Thank you for reporting. Fix is coming soon!

[2018-01-31 15:07] Bored0ne opened #188 "Convert from github created user to have user/password"
I created a new account on sourcerer using my github. Now I can't use the app to track my own private repos using my logged in account because I don't have a username/password I have a github sso. I must be doing something wrong but if not, how do I log in to the app?

[2018-01-31 15:16] osilla commented on #188
hi there - you should have received an email with a temporary password. you can use that along with the email that was associated with your github sso that we sent it too.  please let me know if you still have issues.

[2018-02-02 13:48] anatolykislov commented on #161
Hi!

Issue is fixed now. Thank you for contacting us!

[2018-02-02 13:48] #161 closed

[2018-02-03 15:25] osilla opened #189 "(Stats) Missing repos on profile from user feedback"
The following user has mentioned that he has many repos that are not being added to his profile.

https://sourcerer.io/mightyiam
https://github.com/mightyiam

[2018-02-04 15:50] walshyb opened #191 "Profile Not Displaying Data"
I didn't see another issue where this has happened, but after adding repositories locally, my profile didn't update even though after running the app it said the updates are on my profile.

What I did:
- I added 7 local repositories to track using `sourcerer add the/path`
- Ran `sourcerer`

Things I checked:
- That I was logged in successfully (`Signed in successfully. Your profile page is https:/

[2018-02-05 11:55] yaronskaya opened #192 "Models versioning"
Let the app to download updated models.

[2018-02-05 11:59] anatolykislov commented on #96
Statistics are already collected in the app. We need to update our fun facts assigning to finish this fun fact.

[2018-02-05 11:59] anatolykislov commented on #97
Statistics are already collected in the app. We need to update our fun facts assigning to finish this fun fact.

[2018-02-05 12:00] #182 closed

[2018-02-05 12:00] #183 closed

[2018-02-05 12:00] #98 closed

[2018-02-05 12:01] #145 closed

[2018-02-05 12:03] anatolykislov commented on #92
Issue resolved.

[2018-02-05 12:03] #92 closed

[2018-02-05 13:16] anatolykislov commented on #175
Issue with Prolog resolved, profile cleaned.
Missed commits in November and December require further investigation.

[2018-02-05 13:16] anatolykislov commented on #181
Issue resolved, profile cleaned.

[2018-02-05 13:16] #181 closed

[2018-02-05 14:35] anatolystansler opened #194 "(Bug) Fix team size calculation"

[2018-02-05 14:45] anatolykislov commented on #142
#194

[2018-02-05 14:45] #142 closed

[2018-02-05 14:58] anatolykislov commented on #191
Hi @walshyb!
Please make sure that you've specified all emails that you use for committing. You can check a list of your emails in [Settings page](https://sourcerer.io/settings) or during execution of the app.
The app will ask you to add emails if you've didn't specify any emails that presented in a repo. If it doesn't run the app with --setup flag to launch setup wizard, and specify your emails.

[2018-02-05 15:14] sergey-surkov opened #195 "Tensorflow, etc not detected for a user"
From a user: To make this data valuable try to analyze the technologies and libraries used Tensorflow Keras Scikit learn or which npm is used and in which frequency

The profile: https://sourcerer.io/yossico

[2018-02-05 15:46] walshyb commented on #191
True! I just noticed that the email I primarily commit with isn't listed on the settings page. However, whenever I ran the app, I got this notice:

[code]

I'd always ask if I wanted to add the other email address to my account, but it never sent me an email to confirm my secondary email address.

[2018-02-05 17:18] osilla opened #197 "User is seeing more loc than he should"
the following user wrote to me that

"it's confusing how "Technologies" work - while there is a project I've worked on which uses gdx, whole project counts less than 10k LOC (out of which 5.6k are mine), so I'm not sure how it got to the number of 11k+ lines."

https://sourcerer.io/lukaj

[2018-02-05 18:04] yaronskaya opened #198 "Processing of *.ipynb files"

[2018-02-06 13:54] anatolykislov commented on #197
We calculate LOC as the sum of added and deleted lines in commits. So it should be slightly bigger than current number of lines in files.

[2018-02-06 14:09] kernc opened #199 "(Stats) Number of lines per commit log scale"
Issue: very skewed sloc-per-commit distribution.
![screenshot_2018-02-06_14-50-53](https://user-images.githubusercontent.com/684364/35862938-aeb51dc8-0b4d-11e8-8183-503348b5f04c.png)

To make general habits more evident, the commits should be clipped filtered to 5-95 percentile interval range (remove the 5% largest and 5% smallest commits). Then, if the distribution still looks _skewed_, a logarit

[2018-02-06 14:20] anatolykislov commented on #199
Hi @kernc!
Thank you for a suggestion of an improvement, good idea!
We are working on fixing this chart now.

[2018-02-07 12:19] yaronskaya commented on #195
The repo that has his commits with techs (this one github.com/yossico/CarND-Semantic-Segmentation) is not processed by us because it has the size >100 mb. He should use the app to get the technology stats.
Other repos with technology stats don't contain his commits in the master branch.

[2018-02-11 16:22] osilla opened #203 "Not finding the immutable-js library for user"
His message with additional information below:

[code]

[2018-02-11 18:41] kounelios13 opened #205 "Can't activate account"
en I clickHello
I created an account today and I opened my email to activate my account.
However when I click the "Confirm email address" the page that opens up says that "This page could not be found".

As a result I can't activate my account.
What is going on?

[2018-02-11 18:43] sergey-surkov commented on #205
Hi,

We are looking into it. Sorry for the inconvenience.

Best,
Sergey

On Sun, Feb 11, 2018 at 10:41 AM, kounelios13 <notifications@github.com>
wrote:

[2018-02-11 19:46] kounelios13 opened #206 "Only 1 repository appears in my account"
Hello.
Today I created my account and hashed 3 local repositories.
However only data from the first repo appear in my profile.
Why is this happening?
here is my profile : https://sourcerer.io/mkcdergr

[2018-02-11 19:49] sergey-surkov commented on #206
Hi,

We are looking into this. You should expect an answer by the end of
tomorrow.

Best,
Sergey Surkov
cofounder @ sourcerer

On Sun, Feb 11, 2018 at 11:46 AM, kounelios13 <notifications@github.com>
wrote:

[2018-02-11 21:44] drAlberT commented on #205
Same for me.

 I was logged in even if the link on the confirmation email gave this error .. but, once i logged out, I wasn't able to find a "login" link ...

[2018-02-12 00:55] osilla commented on #205
hi all - a fix was just pushed to production.

let us know if you still encounter this issue.

[2018-02-12 09:59] drAlberT commented on #205
I still can't find a "login" .. the only way I found to be logged in is to re-do the "build with GH" procedure .. is it the intended behavior?

[2018-02-12 10:13] drAlberT commented on #205
I'm talking about the web page, seen by mobile .. looks like an UX issue then ..  from desktop it is ok

[2018-02-12 12:36] anatolykislov commented on #206
Hi,

Your account has only one associated email. Looks like you are using a different email for other 2 repos. Please check what email you are using in that repos with git log and add new email using sourcerer app and process repos again.

[2018-02-12 12:52] kounelios13 commented on #206
No i don't

[2018-02-12 12:53] kounelios13 commented on #206
sorry my mistake I am using a second email

[2018-02-12 12:54] kounelios13 commented on #206
so I added the 2nd email but no luck

[2018-02-12 13:00] anatolykislov commented on #206
You have 3 repos in your profile now 🙂

[2018-02-12 13:01] kounelios13 commented on #206
Yes.Can I know what technologies are available for repos?

[2018-02-12 13:07] anatolykislov commented on #206
Currently you can see summary of technologies from all of your repos in the Tech section. Would you like to see tech stats per each repo?

[2018-02-12 13:09] kounelios13 commented on #206
Is that possible?

[2018-02-12 13:14] anatolykislov commented on #206
It can be our next feature if you have interest in it. Could you send your suggestions to hello@sourcerer.io?

[2018-02-12 13:18] kounelios13 commented on #206
Sure .I will find some time later today to send some thoughts

[2018-02-12 13:18] #206 closed

[2018-02-12 15:59] osilla commented on #205
@drAlberT it was a UX issue.  we just pushed the fix to production.  you should now be able to reach our Sign in page appropriately.

[2018-02-12 15:59] #205 closed

[2018-02-12 16:00] anatolykislov commented on #205
@drAlberT "login" or "sign in" button located in "burger" menu in mobile version, unfortunately it redirected to "sign up" page. Email confirmation and "Sign in" link is fixed now.
Thank you for contacting us.

[2018-02-12 17:23] drAlberT commented on #205
perfect..  it works, thanks

[2018-02-13 14:37] anatolykislov commented on #140
App should use remote's default branch, but looks like it failing, e.g. https://github.com/CENDARI/atom

[2018-02-14 23:40] Sphinxs opened #207 "Image of profile"
Add

[code]
On profile page for when someone share his profile ( For example ) sourcerer.io/sphinxs the content looks good 'n not like this :

![](https://i.imgur.com/PeykDsi.png)

[2018-02-15 18:43] anatolykislov commented on #207
Hi Sphinxs,

Thank you for suggesting an improvement. We will add meta tags in our future release.

[2018-02-22 02:52] osilla opened #214 "User is getting credit for somebody else's code"
feedback from user:

https://sourcerer.io/carlsson87
--

I have repos where I have committed entire frameworks, and I guess that all of that code is seen as “mine”, which leads to some weird conclusions (for example that I prefer tabs over spaces).

[2018-02-27 21:20] Eusebiu-Biroas opened #218 "[FRONTEND] Improve Date Fun Facts parsing"
Hi,

I have made 3 commits on the following dates:
- 25 Feb 2018, 23:03 EET
- 26 Feb 2018, 00:10 EET
- 26 Feb 2018, 00:37 EET

On the sourcerer.io site I see the following **Date Fun Facts**:
- I commit my code at **morning**
- My most productive days are **Mondays**

I would expect to see it this way:
- I commit my code at **night**
- My most productive days are **Sundays**

Do you think would be

[2018-02-28 04:27] BlitzKraft opened #219 "Bar graph bins imply that "lines per commit" is zero in most"
![graph](https://user-images.githubusercontent.com/6516167/36769914-e7875bf0-1c0c-11e8-9021-051640df73f6.png)

I guess most of my commits are between 0 - 230 lines per commit, but the bin labeling could be clearer by translating the zero on x-axis a little bit to the left.

[2018-03-04 14:52] hyphz opened #223 "Doesn't recognize all GitHub languages eg, Elm"
A lot of the code I wrote in Elm was listed as "HTML" by Sourcerer, even though GitHub itself recognizes it as Elm. Is the language recognition being filtered somehow?

[2018-03-04 19:34] hyphz opened #224 "App crashes on Windows startup with unknown exception"
This seems to be caused by the possibility of Windows paths including drive letters, and was fixed by changing FileHelper.kt:

[code]

[2018-03-05 11:49] anatolykislov commented on #223
Hi, @hyphz !
We will add Elm support soon. Also, your repository contains HTML code, is calculated HTML stats wrong?

[2018-03-05 11:51] anatolykislov commented on #224
Hi, @hyphz !
Can you make PR for this change?

[2018-03-05 11:53] anatolykislov commented on #219
Hi, @BlitzKraft !
We are working on this chart now, will be fixed soon. Thank you for good UI suggestion.

[2018-03-05 15:51] hyphz commented on #223
It's not wrong, but the repository hyphz.github.io is triggering a ton of JavaScript stats. But I didn't write any of that JavaScript, it's compiled Elm. I'm not sure how I could tell Sourcerer this.

[2018-03-05 15:54] anatolykislov commented on #224
#226

[2018-03-05 15:54] #224 closed

[2018-03-05 15:56] anatolykislov commented on #223
We are working on ignore config now: https://github.com/sourcerer-io/sourcerer-app/pull/220
Also, soon it will be possible to specify directories to ignore via web interface.

[2018-03-06 09:13] evfool opened #228 "Only works on own repositories"
The idea is great, I always wanted to have a complete profile of my open-source contributions.
Unfortunately there's no way of marking repositories which I am not the owner of, and I am not part of the organization maintaining it, to be crawled for commits. Would it be possible to also crawl e.g. starred repositories for the users' contributions to be shown on the profile?

Example https://github.

[2018-03-06 16:32] anatolykislov commented on #228
Hi @evfool !
Thank you for a feedback! We are very glad that you like our product.
We are planning to add the ability to specify repo URLs in the user's settings menu. With it, you will be able to add gnome-system-monitor repo manually. How do you think this is a good solution?

[2018-03-06 17:27] evfool commented on #228
Yes, adding repos manually in the user settings would also a perfect solution.

[2018-03-11 07:43] pkollitsch opened #231 "Hashing error"
After seemingly successfully adding local repositories sourcerer scans some repos, but fails to "hash stats".

[code]

This happens to all local profiles.

[2018-03-13 23:09] Thorium commented on #223
FSharp seems to not be supported.

[2018-03-13 23:15] Thorium commented on #219
I have the same problem. I maintain a few repos and I expect the merge-commits are counted as zero-line-commits? They could be ignored.

[2018-03-14 01:23] sergey-surkov opened #235 "Too much HTML, too little Ruby"
https://sourcerer.io/joelparkerhenderson

According to the user: "Your system seems to have a bug or mistake; your system is saying the bulk of my work is HTML, but I think it may be confusing HTML with Markdown, and also confusing documentation (e.g. Markdown) with source code (e.g. Ruby). I'm primarily a Ruby coder. Any idea how to make your page show my Ruby work primarily? "

[2018-03-14 13:16] wende opened #236 "Pie chart can display the same colours as neighbouring"
CoffeeScript and Elm are two different languages but have the same colour and are next to each other

<img width="860" alt="screen shot 2018-03-14 at 14 14 17" src="https://user-images.githubusercontent.com/4634386/37404478-45423f7c-2792-11e8-9baf-97859e4a9ff8.png">

[2018-03-14 13:33] wende commented on #223
Works for Elm for me. Skips Elixir though

[2018-03-15 07:03] anselal opened #237 ""Did you know" section typo"
Hi there,

in the "Did you know" section there is a typo:

I mostly use CamelCase **_overs_** snake_case for naming variables

[2018-03-16 10:09] yandzee commented on #237
Hi!
Its kind of you to notify us! We will fix it soon.

[2018-03-16 10:41] yandzee commented on #237
Fixed.

[2018-03-16 10:41] #237 closed

[2018-03-16 10:47] anselal commented on #237
I don't see a commit that fixes this issue.
Was it a UI typo which is not in the codebase of the project ?

[2018-03-16 10:49] yandzee commented on #237
Yes

[2018-03-16 10:50] anselal commented on #237
OK

[2018-03-16 12:01] huyderman opened #239 "Not all Ruby is Rails"
When importing my public Github, all my ruby repositories are marked with "rails" under tech. However, none uses Rails and several are not even web.

[2018-03-16 12:13] anatolykislov commented on #239
Hi!
Thank you for creating an issue! We will investigate and solve the problem soon.

[2018-03-16 12:17] anatolykislov commented on #236
Hi!
This is default color. We will add more colors to our palette for languages.
Also, we need to update Elm caption.

[2018-03-16 12:35] anatolykislov commented on #231
Hi!
Thank you for creating an issue!
Looks like your .gitconfig contains setting for a diff algorithm patience which is not supported by JGit library that we are using to work with git repositories. JGit only supports: myers and histogram diff algorithms. See [JGit Bug 446511](https://bugs.eclipse.org/bugs/show_bug.cgi?id=446511).
You can try using histogram which is extended version of patience.

[2018-03-16 12:37] anatolykislov commented on #218
Hi!
Thank you for suggesting an improvement. We like your idea and will implement it in the future.

[2018-03-16 12:38] #188 closed

[2018-03-16 20:51] sergey-surkov opened #240 "Errors on Windows when $HOME contains a space"
If a $HOME contains space (which is the case for multiword usernames on Windows), the installer fails:

[code]

[2018-03-17 00:15] pkollitsch commented on #231
That solved it, thank you!

[2018-03-17 00:15] #231 closed

[2018-03-18 01:19] davidsneighbour opened #241 "Runaway apostrophe in commit subject breaks hashing"
I have an accidental apostrophe in one of the commits in my locally hashed repository:

[code]
On initial scan sourcerer froze and I had to kill it after several minutes.
On re-scanning sourcerer parses until that error, then freezes and stops processing and skips the repo.

I changed the label (`changes'` is the full label, nothing following behind) to `changes` and committed the changes, removed

[2018-03-19 09:18] yaronskaya commented on #235
Hi @joelparkerhenderson, we currently do not consider Markdowns because it is not a code.
We will add the ability to remove a repo from the profile in the near future. Stay tuned for more!

[2018-03-20 03:34] PlanetVaster opened #242 "[Feature request] Ability to link Gitlab and Bitbucket profiles"
I have a feature request to be able to link Gitlab and Bitbucket accounts. I use Gitlab for 95% of my projects since it has free private repos and Github doesn't. This would make Sourcerer 100x more valuable to me since it would then have most of my repos.

[2018-03-20 21:13] joelparkerhenderson commented on #235
I don't understand; can you explain more and re-open this please?

Here's an example of what I'm seeing: I have a repo that contains all Markdown files, but your system is incorrectly saying the repo contains all HTML files.

https://github.com/joelparkerhenderson/wordbooks

Is this the behavior that you are expecting for your system? In my opinion, this looks like a bug.

[2018-03-20 21:17] sergey-surkov commented on #235
Reopening the issue; will revisit in a few days.

[2018-03-20 21:44] sergey-surkov commented on #242
@PlanetVaster note that you can process any repos as private repos on your local machine. There will be no links in the repo table, but the profile will have everything else. Gitlab/bitbucket support is something we are looking into, although there is no ETA yet.

[2018-03-21 23:59] sergey-surkov commented on #241
Hi Patrick,

It is possible that an apostrophe is just a coincidence. The error is caused by the app running out of memory. Could you try increasing max heap memory available to JVM? If you used our standard script to install the app, you can:

1. Open ~/.sourcerer/sourcerer in a text editor
2. Find 'java' command in the end of the file. The current version looks as:

[code]
3. Add an option ```-X

[2018-03-22 00:05] sergey-surkov opened #243 "Haxe support is missing"
We have a request to support Haxe from a user. Some of his comments:

Not all popular Haxe libraries are on Haxelib but lots are and rated by relative popularity which might be useful: https://lib.haxe.org/all

Lots of libraries are also on npm especially js related ones.

User's currently installed local Haxe libs (which could be a good start in addition to Haxelib):

acadnme
actuate
air3
box2d
c

[2018-03-22 00:59] nanjizal commented on #243
Haxe is a pretty amazing language.
It was created by a French guy who always impressed me, not only by his achievements, but by the lesson 'don't say do' which I still struggle with, I tend to say what I want to do before being sure I can.

Nicolas studied Ocaml at Uni, and then found himself creating flash games in as2, embedded in javascript with backend in PHP - what a mess.  So he created an a

[2018-03-26 13:40] yaronskaya commented on #235
Hi @joelparkerhenderson, we investigated that  'wordbooks' repo contains commit 26e68da239875b7cf5e7b81d890543cd253f1e8d that modifies html file. So the repo contains code only in html and we give html label to the repo.
I think we will add processing of text files and markdowns in the near future.

[2018-03-26 13:50] joelparkerhenderson commented on #235
Thanks for checking. The repo should not contain any HTML files, and should not be labeled as HTML.

The same problem is happening across many repos. I'm glad you are considering adjusting your tool.

[2018-03-28 20:34] zwrawr opened #245 "Repo hashing failed: java.net.SocketTimeoutException"
Whilst using the command line app I encountered an java error that stopped stats about my repos being created an uploaded.

### Website screenshot
![screenshot from 2018-03-28 21-14-29](https://user-images.githubusercontent.com/18352787/38053836-0ade0cda-32cd-11e8-8aad-d0e17cbd158c.png)

### Program output
[code]

### Java Version
[code]

### Linux version
[code]

[2018-03-29 11:35] johann-petrak opened #246 "Website processing page shows that all repositories either failed or pending forever"
In Settings->Processing:
Long list of repository links (about 60), each with status "Failed" and reason "Processing error" no information on the profile at all plus about 4 with status "Pending" already for a long time. Not a single one completed successfully.

[2018-03-29 12:14] cuducos commented on #246
Same here.

[2018-03-29 12:32] Antronin commented on #245
Same here.

[2018-03-29 12:34] anatolykislov commented on #245
Hi! We are working on the problem, it will be resolved soon.
Thank you!

[2018-03-29 12:35] anatolykislov commented on #246
Hi! We are working on the problem, it will be resolved soon.
Thank you!

[2018-03-29 12:36] cuducos commented on #246
That's great news – many thanks. Please, let me know if I can be of any helping testing anything ; )

[2018-04-02 09:10] anatolykislov commented on #245
Hi! The problem was resolved at 30 March, we've tested system for a while and servers working good now. Thank you for patience!
Closing an issue now. Reopen if you still encountering any related problem.

[2018-04-02 09:10] #245 closed

[2018-04-02 09:10] anatolykislov commented on #246
Hi! The problem was resolved at 30 March, we've tested system for a while and servers working good now. Thank you for patience!
Closing an issue now. Reopen if you still encountering any related problem.

[2018-04-02 09:10] #246 closed

[2018-04-06 18:56] osilla opened #248 "Repos not detected for user"
The following user contacted me about several of his repos not being detected.

user:
https://sourcerer.io/benwiley4000

an example repo he pointed out is:
https://github.com/sk8border/sk8border

[2018-04-06 23:30] KyleSponz opened #249 "Do you support private Repos ?"
I have quite a bit of work Im doing in private repos php and its for live websites that is in by github profile but not in my sorcerer profile

[2018-04-06 23:57] sergey-surkov commented on #249
Hi Kyle,

We support private repos, but we choose not to ask for private repo access on GitHub to prevent accidental intellectual property leaks. For private repos, you can use our app and run analysis locally. You can build it from the source code at https://sourcerer-io/sourcerer-app, or you can simply use our installer:

curl -s https://sourcerer.io/app/install | bash

The app will ask for a us

[2018-04-07 00:13] KyleSponz commented on #249
that is pretty sweet nix compatible?

[2018-04-07 02:05] KyleSponz commented on #249
I installed the app got it to run and listed my git repo how do I push the results home when I hit refresh nothing happens

[2018-04-07 02:13] sergey-surkov commented on #249
The app pushes the results when you run. When the app is running (and reporting its progress hashing repos), you should be able to see the 'processing' banner on top of the profile. And your repos should appear in the list of repos with labels like 'repo 1', 'repo 2', etc. Is this not happening?

The refresh button only updates your public GitHub repos.

[2018-04-07 02:39] KyleSponz commented on #249
Not that I can see I have a wordpress repo Ive been doing quite a bit of work to as of late it shows added in the app when I use sourcerer list but does not show up in my profile.

PS really like the idea, thanks I might try to find a way to embed this in my wordpress site or if you could generate an embed code for it that would be sick!!! Im more a backend guy but if you want to give some guidanc

[2018-04-07 19:42] sergey-surkov commented on #249
Hm... It does not show any private repos in your profile at all. Could you send your ~/.sourcerer/data/config.yaml to me at sergey@sourcerer.io ? Also, could you run the app again, and direct its output to a file and send that to me as well? Thank you!

[2018-04-07 21:41] sergey-surkov commented on #249
oh yeah, re, embed code: people are asking. we will see what we can do. what are your thoughts on embedding? what should it be? our logo? some widget with stats?

[2018-04-08 17:27] rschiang opened #250 "(Stats) Identify QML repositories instead of C++"
Basically the same issue in github/linguist#1152 occured here. Would love to see a fix here.

[2018-04-08 18:39] sergey-surkov commented on #250
We will look into it. Thank you!

[2018-04-09 02:03] nilium commented on #239
I've noticed that a lot of projects that aren't even Ruby get marked as rails. It's pretty weird, but yeah, seconding the 'not all Ruby is Rails' sentiment here -- never used Rails, but have plenty of Ruby around the place. Attached a screenshot as an example for anyone who doesn't want to visit to my profile:

![screen shot 2018-04-08 at 7 02 07 pm](https://user-images.githubusercontent.com/44962

[2018-04-09 17:07] cleder opened #253 "Open Source Report Card"
I quite enjoyed the prose generated by Open Source Report Card
https://github.com/dfm/osrc
could that be integrated?

[2018-04-09 18:38] aoancea commented on #248
I'm having the same issue. This repo is not being tracked along with several other 20 https://github.com/aoancea/git-history

[2018-04-10 00:35] sergey-surkov commented on #248
@anatolykislov could you check why we don't see https://github.com/aoancea/git-history ?

[2018-04-10 00:37] sergey-surkov commented on #253
Christian, http://osrc.dfm.io is down 'due to breaking changes in GitHub' API, so we can't look at it at the moment. If you see there ideas that you want to be implemented in Sourcerer, could you post them here?

[2018-04-10 19:15] sergey-surkov opened #254 "Add support for documentation edits"
Request from a user:

"Suggestion: include something for documentation. A category for restructuredtext, markdown, latex, txt for example.

I suppose I’d add it in like a language. For me personally, I keep college class notes in restructured text, and documentation for my libraries. It would be neat to see this on the graph as well.

I’m not sure if you’d lump rst, md, latex, txt all together or

[2018-04-10 22:49] sergey48k opened #255 "Add recursive search for repos"
A suggestion from a user: the interactive mode should have an option to search for repos in subdirectories. Should save a lot of typing.

[2018-04-11 09:37] anatolykislov commented on #248
Hi, benwiley4000!
sk8border repo is not presented in the profile because we are not supporting Pico-8, so we don't have any statistics from this repo. Should we add support of it?

[2018-04-11 10:12] anatolykislov commented on #248
Hi, @aoancea !
We are not showing commits with a lot of vendor code to not affect profile statistics by it. For now we simply hide commits made in the same week if total LOCs count is more than 20000. Soon we will release configurable vendor filtering mechanism that will work almost like gitignore. With new filtering, it will become possible to show your repos.

[2018-04-11 12:15] benwiley4000 commented on #248
@anatolykislov I gave two repos and the other was JavaScript. Please use that instead (https://github/benwiley4000/react-responsive-audio-player).

[2018-04-11 13:48] aoancea commented on #248
@anatolykislov so I'm guessing that;s the case for all the other repos?

and just one more thing, what vendor code are we talking about here since https://github.com/aoancea/git-history it's purely written by me in a readme.md with some asset files, or is readme.md considered vendor code as well?

[2018-04-12 12:27] anatolykislov commented on #248
@benwiley4000 What do you mean by using of react-responsive-audio-player repository? This one seems to be detected correctly. Is something wrong with it?

[2018-04-12 12:37] anatolykislov commented on #248
@aoancea that's the case for almost all repos, couple other repos are just too big (+300 MB) and can be processed by the app.
We are using brute filtering for now while we working on a customizable filtering. For example, git-history repo contains [the commit](https://github.com/aoancea/git-history/commit/f4f8cffa5712f329abe9758ae5db0b00828f2339) with big diff (+20000) it will be filtered just bec

[2018-04-12 13:51] cpitclaudel opened #260 "Broken email address in privacy policy"
Your privacy policy says this:

But that address bounces:

[2018-04-12 14:26] osilla commented on #260
thanks for catching this!  we had a configuration error and all is working now.

[2018-04-12 19:26] aoancea commented on #248
@anatolykislov fair enough :)

[2018-04-12 21:37] xorz57 opened #261 "Processing FAILED for no reason"
![image](https://user-images.githubusercontent.com/1548352/38705722-2b5d90e2-3eb3-11e8-8bb1-591eea6acf96.png)

![image](https://user-images.githubusercontent.com/1548352/38705594-b84019e0-3eb2-11e8-8b48-0b05bfaf35b3.png)

[2018-04-13 02:52] anatolykislov commented on #261
Hi, @xorz57!

Thank you for reporting an issue! Working on a permanent fix now.
Made quick fix for your account, you can try to sign up now again. It will be ok.

[2018-04-13 10:42] anatolykislov commented on #261
Problem fixed completely. Rebuilding of profiles will occur without errors now.

[2018-04-13 10:42] #261 closed

[2018-04-13 15:29] xorz57 opened #262 "Overview panel tool-tips overlapping"
![image](https://user-images.githubusercontent.com/1548352/38743727-8042ffa8-3f48-11e8-91bb-cc2d8a402e5f.png)

[2018-04-13 17:04] anatolykislov commented on #262
Hi @xorz57!
Thank you for reporting an issue! We will fix it.

[2018-04-14 01:32] osilla opened #263 "user claims technology found in his repo is wrong"
The following user said on twitter "Cool app! One thing though, my "mpnetwork" repo on GitHub (same username) is not CSS, it is Elixir (although there is definitely original CSS present!)"

https://sourcerer.io/pmarreck

[2018-04-15 17:44] pedrotst opened #265 "Identifying Coq files as Verilog files"
Basically you are reading all .v files as verilog files. However it can mean a Coq file.

My profile is full of "Verilog" knowledge but it should be "Coq".

[2018-04-16 14:10] yaronskaya commented on #250
Hi @rschiang we fixed it. Please, check it and enjoy!

[2018-04-16 14:10] #250 closed

[2018-04-16 16:37] anatolykislov commented on #265
Hi @pedrotst!
Thank you for reporting an issue! Improved language classification is on our roadmap.
Do you have recommendations for heuristics we can use to determine Coq files other than file extension?

[2018-04-16 17:02] pedrotst commented on #265
Lines ending with dot are VERY likely to be a coq file and not a verilog file.

[2018-04-16 17:05] pedrotst commented on #265
Another idea would be to look for coq most common keywords such as Definition, Require, Import, Lemma, Fixpoint, Theorem, etc.

[2018-04-17 10:00] anatolykislov commented on #265
Awesome, thank you @pedrotst! We will notice you about Coq support when it's be ready.

[2018-04-17 10:11] anatolykislov commented on #191
@walshyb sorry for the long delay with the answer!
It seems that all your email addresses are confirmed, are there any problems now?

[2018-04-17 10:13] anatolykislov commented on #178
@wmertens thank you!

Closing an issue, because it has been fixed.

[2018-04-17 10:13] #178 closed

[2018-04-17 10:17] anatolykislov commented on #143
Password reset flow implemented, closing an issue.

[2018-04-17 10:17] #143 closed

[2018-04-17 10:54] anatolykislov commented on #207
Hi @Sphinxs,
Thank you again for creating this issue! We've improved link preview, looks better now.
I'm closing issue now, feel free to reopen it if any additional changes required.

[2018-04-17 10:54] #207 closed

[2018-04-18 04:09] sergey-surkov opened #266 "Replace the cover image in readme"
Use attached image.

![github-cover-20180417](https://user-images.githubusercontent.com/20287615/38911373-9f700892-4283-11e8-853b-1ca1fb9f5fa0.png)

[2018-04-18 06:41] ThisIsJeron commented on #249
definitely widget with stats, like just the main chart would be awesome

also thanks for answering the question about the password, I thought the password had to be requested but sure enough it was in my email inbox

[2018-04-18 23:58] marcosps opened #269 "After deleting a repository, those should be removed from sourcerer too"
Right now, I have some repositories that don't exist anymore, but they are still being listed, for example, the tlpi_examples repository:
https://sourcerer.io/marcosps

After deleting the repo, I executed a refresh in the settings menu, but the repository is still being listed... Am I missing something?

[2018-04-19 11:28] shinenelson opened #270 "[feature-request] Integrate git-awards.com"
The concept and [technology](https://github.com/vdaubry/github-awards) that powers [git-awards.com](https://git-awards.com) is a good candidate for integration into sourcerer profiles.

Since we already have access to the Github profiles, it would be easier to source the data off github into the sourcerer profiles.

We could put up rankings only if a profile has integrated their Github profiles (w

[2018-04-19 15:28] anatolykislov commented on #269
Hi @marcosps!
Thank you for reporting this issue! We will fix it.

[2018-04-19 18:21] p3x-robot opened #271 "👽 sorry but i starred this repo but the program still tell me i should star it..."
👽 sorry but i starred this repo but the program still tell me i should star it...

[2018-04-19 18:32] osilla commented on #271
hi @p3x-robot yes, we currently always show the star notification after analysis is complete and on the header nav regardless if you have already or not.  we'll look into updating this.  thx!

[2018-04-19 18:32] #271 closed

[2018-04-19 21:47] #266 closed

[2018-05-01 22:35] Antronin opened #276 "Java version 1.8.0 not recognized by bash"
Hi,

I'm using Sourcerer on a Fedora 27, JRE is installed  and called java-1.8.0-openjdk.
Strangely enough the bash script to start sourcerer identifies my JRE as version 10, which result in the following error message:
[code]
I did some research and I found out the the following line has the glitch:
[code]
Not sure why but bash string comparison thinks, that 1.8.1 is equal to 10:
[code]
Any idea?

[2018-05-23 15:03] GO3LIN opened #280 "Execution failed for task ':compileBuildConfig'. java.lang.reflect.UndeclaredThrowableException"
Hello, I tried building the app but got this error:

Here's my java -version output:

[code]
And finally, the stack trace:

[code]

[2018-05-23 15:28] anatolykislov commented on #280
Hi @GO3LIN

Try to update your gradle to latest version.

[2018-05-23 15:32] GO3LIN commented on #280
Hello, I am already on the latest version 4.7, I tried downgrading to 4.6 but in vain.

[2018-05-23 15:38] GO3LIN commented on #280
[code]
hmm.. Don't you have a docker image ?

[2018-05-23 16:12] GO3LIN commented on #280
Well, I was able to add a repository but this one doesn't appear on my profile page.
I was firstly asked to enter a new email address because the one that I have used is not present in any commit, so I added the one I was using. I think that this is why the stats doesn't appear on my profile, because in my sourcerer account, I only see 1 email address. Isn't it ?

[2018-05-24 12:54] GO3LIN commented on #280
That was my bad, I was building the default branch (develop) after cloning the repository.
Going to close this. Thanks @anatolykislov

[2018-05-24 12:54] #280 closed

[2018-06-14 04:21] Azhng commented on #179
+1

[2018-06-16 17:08] redbitshift commented on #179
@Azhng could you send us example repos / email addresses for commits we overlooked? sergey@sourcerer.io

[2018-06-26 07:49] kenrube opened #291 "Gradle isn't language but build tool"
Groovy actually

[2018-06-26 09:53] ntziolis commented on #90
Would love to use this, but not installing java for using this tool.

[2018-06-26 12:34] faraazahmad commented on #291
Agreed. My Flutter projects which are around 80% Dart code are shown as using Gradle

[2018-06-26 18:56] aslafy-z opened #293 "No data in my profile"
My profile (https://sourcerer.io/aslafy-z) does not shows any content, I did two (successful) scans and it seems that no data went in.
Thank you

[2018-06-26 20:26] chris48s opened #294 "Some commits are not counted"
I really like the idea for this project. Great work on it. Unfortunately in some cases it seems commits are not counted.

For example, https://sourcerer.io/chris48s says I have made only one commit to https://github.com/badges/shields (this repo is in 64th position on my list) but in reality I have made many commits to this repo: https://github.com/badges/shields/commits?author=chris48s

Any idea

[2018-06-28 19:32] europ opened #296 "Cake diagram bug"
The mouse hover effect (zoom) above the cake diagram does not return the cake parts into their original size.

![cake](https://user-images.githubusercontent.com/22373707/42056380-4c798364-7b1a-11e8-8201-c0ce6f2300ca.gif)

[2018-06-28 19:36] sergey-surkov commented on #296
Best bug report ever!
S.

On Thu, Jun 28, 2018, 12:32 PM Adrián Tóth <notifications@github.com> wrote:

[2018-06-28 20:07] europ opened #297 "Element indention bug"
First element in the lower row of elements is mis-indented when the elements are moved due to row size change.

![row](https://user-images.githubusercontent.com/22373707/42058089-8d172b60-7b1f-11e8-8f7b-23098f458c1e.png)

![row](https://user-images.githubusercontent.com/22373707/42058057-7169159a-7b1f-11e8-8246-696fe0334548.gif)

Change the zoom level of your browser to reproduce the bug shown in

[2018-06-29 09:38] Bera opened #299 "Same profile for sourcerer app and github contact"
Very nice stuff. I have and doubt. If I choose to use Sorcerer with the first option, Github profile but also and together with the app for local repositories then I don't push to Github, my profile will be the same for both approaches (considering that the Git user is the same nickname and email of Github) ?

Awesome idea and execution, but I think the web page lacks with contact information for

[2018-06-29 13:03] anatolystansler commented on #291
Hi @kenrube and @faraazahmad !
Thank you for your feedback! We will fix language detection problem.

Also, where do you think we should show gradle statistics and other build tools? What is more suitable additional group in the "tech" section or a new section called "build tools"?

[2018-06-29 13:16] anatolystansler commented on #293
Hi @aslafy-z !

Fixed your profile (https://sourcerer.io/aslafy-z) manually, now it contains data and looks good. Thank you for creating an issue!

Other profiles may be affected, we are working on fix for this bug.

[2018-06-29 13:39] anatolystansler commented on #294
Hi @chris48s !

Thank you for the feedback! 😃

I fixed your profile (https://sourcerer.io/chris48s) manually, now it shows contributions to shields repository (a great project, thank you for it) and other additional statistics too.

It's the same bug as #293. We are working on fixing it.

[2018-06-29 13:45] anatolystansler commented on #296
Hi @europ !

Thank you for creating of such amazing report! Could you specify what browser and platform do you use?

[2018-06-29 13:48] anatolystansler commented on #297
Hi @europ !

Thank you for showing problem visually! Specify browser and platform, please.

[2018-06-29 13:55] anatolystansler commented on #299
Hi @Bera !

Thank you for reaching us! You can create profile using GitHub OAuth first and then add local repos, or in a different order, final result will be merge of data from both sources.

Do you suggest to add contact information to about page? We can do it, of course.

[2018-06-29 14:06] europ commented on #297
**Operating System**:
* `Ubuntu 16.04.4 LTS`
* `Linux 4.13.0-36-generic #40~16.04.1-Ubuntu x86_64 GNU/Linux`

**Browser**:
* `Mozilla Firefox 60.0.2 (64bit)`

[2018-06-29 14:07] europ commented on #296
**Operating System**:
* `Ubuntu 16.04.4 LTS`
* `Linux 4.13.0-36-generic #40~16.04.1-Ubuntu x86_64 GNU/Linux`

**Browser**:
* `Mozilla Firefox 60.0.2 (64bit)`

[2018-06-29 14:15] kenrube commented on #291
@anatolystansler If you can detect other build tools like `Maven`, `cmake`, `Bazel` and so on, I think "build tools" section would be preferable :)

[2018-06-29 19:30] chris48s commented on #294
Thanks for fixing. If this is a straight duplicate of another issue, feel free to close it.

[2018-06-30 13:04] #294 closed

[2018-07-02 12:50] klaaspieter opened #300 "My profile appears empty"
After two scans my profile is still empty. I believe this is a duplicate of #293 but decided to file a separate issue so the original author isn't notified of changes.

[2018-07-02 14:19] anatolystansler commented on #300
Hi @klaaspieter !

Thank you for creating an issue! You are right, it's a duplicate of #293. Fixed your profile manually for now. We working on a fix.

Closing this issue, feel free to reopen it if you still have any problems.

[2018-07-02 14:19] #300 closed

[2018-07-02 16:24] hellsan631 commented on #151
Just wanted to add a little to this issue, i've added some private repos that make extensive use of ```Preact,``` but they are all detected as ```Less``` libraries. I also have a couple of back-end API's that use Flow, Fastify, and Firestore, but they are detected as async. I use babel & es7 async/await, but I think that detection matches the library?

So far I love the profile tool, very neat and

[2018-07-02 17:45] anatolystansler commented on #151
Hi @hellsan631 !

Thank you for a feedback! We will release improved tech detection classifiers very soon it will improve overall profiles quality.

Could you provide an example of `Preact` files that can be detected as `Less`?

You can contribute desired libraries to our [Awesome Libraries](https://github.com/sourcerer-io/awesome-libraries/) list. We use data from this repo to train our tech dete

[2018-07-02 19:41] anatolystansler commented on #293
Problem is fixed now.

[2018-07-02 19:41] #293 closed

[2018-07-03 21:21] bennygenel commented on #293
@anatolystansler I have a similar problem. 2 of my contributions are not counted (I have so little that it is easy to identify). I have 2 merged PRs to both [zeit/next.js](https://github.com/zeit/next.js) and [sequelize/sequelize](https://github.com/sequelize/sequelize). Do my contributions staying under some sort of minimal limit or something or do I have some sort of missing information?

_Thank

[2018-07-06 04:25] dantuluri opened #301 "App is out of date. Please get new version at https://sourcerer.io"
I just installed sourcerer with `curl -s https://sourcerer.io/app/install | bash`

and everything seems to work fine. I've entered my Github username and password, but I get an "App is out of date." Error everytime I run sourcerer

[2018-07-06 07:20] fybwid opened #302 "Sourcerer channels"
I,m trying to visit [Sourcerer Channels](https://sourcerer.io/channels) but it show not found message.
![screenshot_2018-07-06-14-08-47-997_com android chrome](https://user-images.githubusercontent.com/17536001/42365083-ae22e02a-8127-11e8-8d49-26d19c369890.png)

[2018-07-06 08:06] ehsanpo opened #303 "User data export - EU GDPR law"
Is it possible to export all my data from the site?

[2018-07-06 13:32] yaronskaya commented on #263
We've updated the profile. It's showing elixir and scss as tech.
I'm closing the issue.

[2018-07-06 13:32] #263 closed

[2018-07-06 13:40] yaronskaya opened #304 "Support for Dart language"
We've missed Dart language (referencing #291)

[2018-07-06 14:19] anatolystansler commented on #301
Hi @dantuluri !

Problem fixed, try again, please. Thank you for creation of the issue!

[2018-07-06 14:19] #301 closed

[2018-07-06 18:37] sergey-surkov commented on #303
Hi @ehsanpo ,

If you need to export your data, please send us a request to hello@sourcerer.io from your confirmed email address, and we'll be happy to send your data back to you.

Best,
Sergey

[2018-07-07 01:30] nilium commented on #239
@yaronskaya The matching appears to be improved (re: #286) but still mis-matching a pretty wide range of things as "rails" when they're simply not and couldn't be further from it. You can observe this on https://sourcerer.io/nilium but here's a [screenshot](https://user-images.githubusercontent.com/44962/42405355-56882ff6-8149-11e8-8569-bb041c866353.png) for posterity.

How is the rb.rails line's

[2018-07-09 04:52] alexxxdev opened #306 "The technology section is not complete for the user"
https://sourcerer.io/alexxxdev

I do not see really used technologies, such as android, kotlin or for example glide (https://github.com/sourcerer-io/awesome-libraries/blob/master/java.json#L140 ->
https://github.com/alexxxdev/Sample/blob/master/app/build.gradle#L54
https://github.com/alexxxdev/Sample/blob/master/app/src/main/kotlin/com/github/alexxxdev/sample/ui/main/ImageAdapter.kt#L9) and others

[2018-07-09 06:14] sergey-surkov commented on #306
Hi @alexxxdev
Thank you for filing this issue. We are adding new libraries but our resources are limited. If you know a few good libraries that you use often, please consider filing a PR in sourcerer-io/awesome-libraries. This is the fastest way to get them supported.

[2018-07-09 15:42] europ opened #307 "Update of user email addresses"
The _sourcerer-app_ does not provide an update of user email addresses.

After a manual profile refresh the email addresses of the user are not being updated. The email address list of the user profile at _sourcerer.io_ includes emails that are already deprecated (e.g.: the email address was confirmed and added to GitHub account before, but now it is removed and the address is still on the list).

[2018-07-10 07:26] mathieutu opened #308 "Add several repo with add command"
Hi,
It should be cool to be allowed to add several repo directly with the add command.
For now, we're forced to "add" them one by one.

And if allowed it will be possible to use wildcard too.

[code]

Thanks for your amazing work!

[2018-07-12 03:39] rshipp opened #311 "Commits not being attributed correctly"
Many of my commits processed by Sourcerer are showing up as other people's, under "My commits vs. Average commits". I tried adding more emails I've committed from to my GitHub profile, and re-processing with Sourcerer, but it didn't make a difference.

Here's an example of a repo that shows up on my profile:

![image](https://user-images.githubusercontent.com/1382374/42611069-e5ddc4fe-8559-11e8-80

[2018-07-12 05:46] sergey-surkov commented on #311
Hi @rshipp ,

Average commits also include your own, so there is nothing wrong with attribution here per se. When you see that your commit number is the same as average commits, this means that all commits are likely yours.

I do see your point though. As it is now, this chart may be confusing. We are currently redesigning it, and will take this into account.

Thank you!

[2018-07-12 13:35] rshipp commented on #311
Ah, OK, sorry for the confusion. I'm not sure I understand what the graph is showing still, but I love the UI changes you've been making so far, so I look forward to seeing how this redesign turns out.

[2018-07-12 13:35] #311 closed

[2018-07-14 14:15] asurkov commented on #291
@faraazahmad Do I understand right that gradle lives in '.gradle' files, dart lives in '.dart' files or are there exceptions?

[2018-07-14 15:17] faraazahmad commented on #291
@asurkov yes

[2018-07-14 15:20] asurkov commented on #291
@yaronskaya, so @faraazahmad issue has to be something else than lack of Dart support. I believe that sourcerer-app will report Gradle language for anything located in '.gradle' files.

[2018-07-16 02:07] #303 closed

[2018-07-16 12:10] yaronskaya commented on #291
@asurkov sure. However, it revealed a missing language.

[2018-07-16 13:48] asurkov commented on #291
@yaronskaya check it out for missing languages :) https://github.com/sourcerer-io/sourcerer-app/blob/develop/src/test/kotlin/test/tests/extractors/IgnoredSamplesWildcards.kt

[2018-07-17 20:22] nukeop commented on #296
I'm seeing the same bug on Firefox Nightly (61).

[2018-07-17 20:23] nukeop opened #314 "Where are the halos?"
I just received the newsletter and it says that "halos are now here". Where exactly?

[2018-07-17 20:25] osilla commented on #314
halos are the colored bars around your avatar.  each color currently represents one of the languages you use.  we will soon be adding technologies to this as well.

[2018-07-17 20:37] nukeop opened #315 "Display bug with legend item"
I found one tiny bug. Looks like one of the items, in my case "react" is displayed incorrectly under the chart. There's an empty line in it that messes up the alignment. Here are some screenshots that illustrate the issue.

![](http://i.imgur.com/Kh3ytQu.png)

With css box model overlaid:
![](https://i.imgur.com/FbakQuC.png)

I'm seeing this on Firefox Nightly 61 on Linux Mint 18.3.
It looks like

[2018-07-17 22:00] shawncatz commented on #228
I'd actually like to see the app discover the organizations that I'm a part of and let me choose which ones to add, or something like that. I'm part of 25+ organizations on github and work on over 100 repos regularly :)

[2018-07-17 22:45] osilla opened #316 "User's Swift commits being recognized as XML"
The following user on linkedin said:

--
Apparently sourcerer.io recognizes some of my older Swift commits as xml
#strangeAlgorithms
--

https://sourcerer.io/nacicatus

[2018-07-17 22:47] osilla opened #317 "User's javascript code being mistaken for Perl"
The following user commented on linkedin that:

--
Although it mistook my JavaScript code for Perl, here's my developer profile as of today!
--

https://sourcerer.io/tkaden4

[2018-07-18 16:18] zivbk1 commented on #242
+1 for GitLab Public and Private Repos

[2018-07-19 19:59] #316 closed

[2018-07-28 11:39] dkorobtsov opened #321 "Sourcerer identifies library tech as guava when it's actual usage less then 0.003%"
Noticed interested issue. According to my profile I'm working mostly with Guava. Which is a little bit strange considering I've never written a single line using methods provided by Guava.

In general, using mostly testing related libraries:
For example, https://github.com/codeborne/selenide

In my sourcerer [profile](https://sourcerer.io/dkorobtsov) Selenide is also identified as Guava tech.

Mad

[2018-07-28 13:18] dkorobtsov opened #322 "Lines of code sum does not match to sum of LOC in languages section."
For example, my [profile](https://sourcerer.io/dkorobtsov) at the moment shows 556565 total lines of code.
According to languages section:

  | Commits | Lines of code
-- | -- | --
Java | 994 | 271804
Xml | 971 | 35819
Gradle | 280 | 1897
Html | 74 | 4355
Kotlin | 11 | 1175
CSS | 7 | 318
JavaScript | 7 | 122
Groovy | 4 | 31
  | Sum: | 315521

Not sure where additional 241044 lines of code are comi

[2018-07-30 12:46] anatolystansler commented on #322
Hello @dkorobtsov !

Appreciate for your detailed observations. Looks like there is a problem with calculation of statistics. We will investigate it and get back to you.

Pie chart: the logic behind the usage of commits instead of locs for it is to show how often you use a technology. Also, for example, Gradle files are usually less than Java files so it will affect the distribution of shares base

[2018-07-30 12:49] anatolystansler commented on #315
Hi @nukeop
Thank you for reporting it! WIP

[2018-07-30 12:51] anatolystansler commented on #308
Hi @mathieutu

This is a really good suggestion! We plan to update the app interface in the future and will take this into account.

[2018-07-30 12:53] anatolystansler commented on #307
Hi @europ

We are working on email edition through web interface already. We will release it soon.

Thank you for the creation of an issue.

[2018-07-31 00:54] KaranRawlley opened #324 "It isn't displaying my repositories in sourcerer.io/karanrawlley"
please fix the above mentioned problem

[2018-07-31 15:59] anatolystansler commented on #315
Should be fixed now, please, check.

[2018-07-31 16:01] anatolystansler commented on #134
We don't calculate code longevity anymore.

[2018-07-31 16:01] #134 closed

[2018-07-31 16:26] anatolystansler commented on #324
Hi @KaranRawlley

Email that you usually use for claiming of authorship of commits is not assigned to Sourcerer or GitHub profiles. I've assigned it manually and reprocessed your profile.

Have a nice day!

https://sourcerer.io/karanrawlley

[2018-07-31 16:39] anatolystansler commented on #262
Hi @xorz57

We've made a huge refactor of the overview chart, give it a try:
![overview chart](https://user-images.githubusercontent.com/29913247/43473606-4f6ff582-94f9-11e8-85a5-ed55f6909a48.gif)

Closing issue now, feel free to reopen it if you have any comments of suggestions.

[2018-07-31 16:39] #262 closed

[2018-07-31 16:44] anatolystansler commented on #253
Hi @cleder

Closing this issue for now. Feel free to reopen it if there is any updates on http://osrc.dfm.io status, it's down at the moment.

[2018-07-31 16:44] #253 closed

[2018-07-31 16:45] nukeop commented on #315
Yes, it's fixed.

[2018-07-31 16:45] #315 closed

[2018-07-31 16:46] #249 closed

[2018-07-31 16:49] #248 closed

[2018-07-31 17:04] anatolystansler commented on #228
Hi @shawncatz! It can be done already on sign up. But we can't discover organizations which is not publicly listed in your GitHub profile.

Adding of a repo by URL is WIP.

[2018-07-31 17:06] anatolystansler commented on #223
Elm and FSharp support was added! @Thorium thank you for your help!

Elixir support is WIP. We will land it soon.

[2018-07-31 17:11] shawncatz commented on #228
By sign up, I'm guessing you mean new user flow? Is there a way to redo that?

[2018-07-31 17:16] anatolystansler commented on #214
We add filtering of well-known vendor files: https://github.com/sourcerer-io/sourcerer-app/blob/develop/src/main/kotlin/app/hashers/Vendors.kt

Also, there is base support of stats-ignore config, but we need to update incremental update protocol to it start working properly. @asurkov let's discuss it offline.

[2018-07-31 17:16] #214 closed

[2018-07-31 17:17] #203 closed

[2018-07-31 17:25] #197 closed

[2018-07-31 17:25] #195 closed

[2018-07-31 17:25] #194 closed

[2018-07-31 17:29] #131 closed

[2018-07-31 17:30] #191 closed

[2018-07-31 18:16] anatolystansler commented on #189
@mightyiam we've reprocessed your profile check it :) https://sourcerer.io/mightyiam

it took some time
![slowpoke-logo-0951a87e3f-seeklogo com](https://user-images.githubusercontent.com/29913247/43478628-06209bb2-9507-11e8-8c0d-856536ccd4d6.png)

[2018-07-31 18:16] #189 closed

[2018-07-31 18:17] #184 closed

[2018-07-31 18:19] anatolystansler commented on #180
Fixed

[2018-07-31 18:19] #180 closed

[2018-07-31 18:28] anatolystansler commented on #179
Hi @tbrisker

Sorry for late response. What you can do:
1. Check that you've add all emails that you use for claiming of authorship of commits.
2. We process only commits from default (master) branch, is your latest commits on it?
3. Add more repos and latest stats using GitHub auth.

Hi @Azhng
Do you still have problems with your profile? I see June commits in your overview chart.

[2018-07-31 18:32] anatolystansler commented on #175
Probably related to not assigned email. Closing for now.

[2018-07-31 18:32] #175 closed

[2018-07-31 18:34] anatolystansler commented on #165
Fixed

[2018-07-31 18:34] #165 closed

[2018-07-31 18:40] anatolystansler commented on #164
Profile have tech section now and libs for android. But we should cover more machine learning techs in future.

[2018-07-31 18:41] #163 closed

[2018-07-31 18:51] anatolystansler commented on #137
We don't calculate code longevity anymore.

[2018-07-31 18:51] #137 closed

[2018-07-31 18:59] anatolystansler commented on #321
Hi @dkorobtsov

Looks like we didn't found any other libs in such repos. You can check (and add to) the list of all supported libs in [Awesome Libraries](https://github.com/sourcerer-io/awesome-libraries) repo.

Also, we will refactor the repository table in the near future. We show most used library (that we detected) as the main library in a repo and it can be a misguidance. In the new version w

[2018-07-31 19:04] #324 closed

[2018-07-31 19:05] dkorobtsov commented on #321
@anatolystansler actually, it's already done :)
Send [PR](https://github.com/sourcerer-io/awesome-libraries/pull/25) couple of days ago.
But it does not affect anything - still only Guava is displayed. :)

[2018-07-31 19:32] anatolystansler commented on #228
@shawncatz you can edit organizations permissions at our [GitHub application page](https://github.com/settings/connections/applications/234472f42264e3374002) and then in your profile click "Update -> Update GitHub repos".

[2018-07-31 19:37] shawncatz commented on #228
ahh cool, good to know. Thanks :)

[2018-07-31 19:50] anatolystansler commented on #321
Nice! :) Thank you for the contribution!

It requires some time to train new classifiers from data that you've provided. Usually, it takes a couple of days, but in current circumstances I expect it to be done at the end of August, sorry for the delay.

[2018-08-01 07:28] alexxxdev opened #326 "It is not possible to save a link to a profile in Linkedin as a media resource"
when you save a link to the profile, an error occurs: "Failed to send media files, please try again."
whether there can be a problem on the side of sourcerer or problem linkedin?

[2018-08-01 07:59] KaranRawlley commented on #324
Thank you for solving my issue

On Wed, Aug 1, 2018, 00:38 Anatoly Stansler <notifications@github.com>
wrote:

[2018-08-01 11:56] anatolystansler commented on #236
@wende we've improved colors and titles for all of our supported languages. Give it a try.

[2018-08-01 11:56] #236 closed

[2018-08-01 11:59] anatolystansler commented on #326
Hi @alexxxdev

If linkedin's saving functionality depends on a link's preview then it's a problem on our end, because preview isn't always available. Fix is WIP.

[2018-08-01 12:41] anatolystansler commented on #297
Fixed :)

[2018-08-01 12:41] #297 closed

[2018-08-01 12:42] anatolystansler commented on #296
Fixed :)

[2018-08-01 12:42] #296 closed

[2018-08-01 13:52] alexxxdev commented on #326
@anatolystansler  Yes, I think that the problem in the previews

[2018-08-02 02:04] alexxxdev commented on #306
lately I've added a few private repositories and I do not see in my profile in the "Technologies" section some libraries that are nevertheless present in "https://github.com/sourcerer-io/awesome-libraries"

for example:
realm: https://github.com/sourcerer-io/awesome-libraries/blob/727c15dae2c5e5b6b23d83b95b3e858844009fc9/libs/java.json#L151
javapoet: https://github.com/sourcerer-io/awesome-librari

[2018-08-02 15:00] KaranRawlley opened #327 "It's stuck at 10 commits"
not counting or updating the data for my account

[2018-08-05 18:44] Rav3nPL opened #329 "Could not create an instance of type com.google.protobuf.gradle.ProtobufSourceDirectorySet_Decorated."
```gradle build``` failing on win10 x64 linux shell

[code]

[2018-08-10 01:57] rshipp opened #331 "Stuck processing repos, unable to edit profile sections"
I clicked "Update" -> "Update GitHub repos", and Sourcerer seems to be stuck on one of my repos.

![image](https://user-images.githubusercontent.com/1382374/43934546-81762b78-9c15-11e8-8c5b-34b444600f22.png)

![image](https://user-images.githubusercontent.com/1382374/43934634-e4c36d3a-9c15-11e8-839b-26f564ba6240.png)

The repo in question seems to be "disabled", not sure if that's related to the p

[2018-08-10 02:29] rshipp commented on #331
Looks like it finally hit a timeout and I can edit my profile again.

![image](https://user-images.githubusercontent.com/1382374/43935699-c5f8b3e2-9c1a-11e8-8975-6adb2c26f3ed.png)

I'll close this issue. Feel free to reach out if you want any more info. All of the failed repos are private, once Sourcerer got to the public ones after that it started processing again.

[2018-08-10 02:29] #331 closed

[2018-08-11 23:20] enginmanap opened #332 "Error while hashing"
Hi,

I am trying to use the app, logged in with resulting url of https://sourcerer.io/enginmanap, but one of my repositories (LimonEngine) is not listed. When I check the settings/processing I see the line:
enginmanap/limonEngine  Failed  Processing error

So I give it a go and downloaded the client, switch to master, cleared up and run the local client, but it didn't work neither. At least now I

[2018-08-12 05:28] iArunava opened #333 "Can't update 'About me' section"
First of all, Great work you all, the UI is so lovely and eye-catchy. I just love it!

Coming to the issue,
It is pretty much how it sounds, I am saving the about me section after writing about myself, but it isn't staying after the page reload.
Am I missing something?

[2018-08-12 14:36] iArunava commented on #333
I was writing a very lengthy about me.
Right now, I tried to go with a rather small about me, and it worked.
So, it was the length of the about me text that resulted in this.
Hoping that this would be fixed in future releases.
It would be nice if you guys mention the text length. I'll open a new issue on that.
And closing this issue.

[2018-08-12 14:36] #333 closed

[2018-08-12 14:38] iArunava opened #334 "Mention the text length in the about me section and the work experience section."
As I faced an issue in #333
I think it would be nice if the max text length is mentioned in the about me and work experience sections.

[2018-08-12 20:59] p3x-robot opened #335 "I mostly use snake_case over CamelCase for naming variables"
Hello,
How are you?

This naming variables is weird. For paths, filenames, html, xml, css I uses kebab-case, for variables, classes, functions, i use CamelCase (which is weird is named is named camelCase actually, what it refers is PascalCase - SomeClass so camelCase is classNameWithCamelClase).
I have never used snake_case, though one of my forked P3X Gitlist does use snake_case, but if you look

[2018-08-21 16:35] osilla opened #336 "User claims spaces over tabs and camel case over snake case is wrong for his profile"
see attached tweet from twitter

his profile is - https://sourcerer.io/rochacbruno

<img width="603" alt="screen shot 2018-08-21 at 9 32 43 am" src="https://user-images.githubusercontent.com/20307788/44415502-7760b680-a525-11e8-9f28-fc6b4e7039b1.png">

[2018-08-22 13:16] halsten opened #337 "Remote authentication failure in local mode"
Hi,

I have cloned the repository and built it successfully, not problems with that. Next step was to run the application as instructed with

[code]

The application starts and it seems that it is doing the initialization process and trying to read its configuration file if it exists. This is the first time, so the file in question does not exist. Then I am asked to input my username and then my p

[2018-08-23 20:11] sergey48k commented on #337
Hi @halsten

It was an issue with GitLab integration. Could you try again? We manually confirmed your email.

[2018-08-26 22:44] halsten commented on #337
@sergey48k

Sorry, that doesn't seem to fix it at all. 3 more trials and the same exact thing.

[2018-08-30 18:21] mcg1969 opened #339 "MATLAB & Objective-C confused"
I haven't written a lick of code in Objective-C, but Sourcerer sure thinks I do :-) I can understand why, but it would be great if there's a way to do a more advanced syntax analysis to differentiate between the two languages with unfortunately identical file suffixes.

[2018-08-30 20:39] ORESoftware opened #340 "auth via github is not working"
I get this when I first try to sign up via Github

![screenshot from 2018-08-30 13-38-13](https://user-images.githubusercontent.com/11139560/44877843-125e3c80-ac5a-11e8-9c31-006f2a0f7b60.png)

[2018-08-30 20:57] sergey48k commented on #340
Sorry about it. Your profile was created just fine:
https://sourcerer.io/oresoftware , but it looks like something else is going on. We will investigate and let you know.

[2018-08-30 21:08] ORESoftware commented on #340
yeah from what I can tell, Github was provisioning something and wasnt
ready for Sourcerer...maybe a timeout.

I think there is a better way to do Oauth maybe. Gitter has good
integration with Gihub, Travis and CircleCI too.

On Thu, Aug 30, 2018, 13:57 Sergey Surkov <notifications@github.com> wrote:

[2018-08-31 19:35] yandzee commented on #340
You were trying to sign-in, and that didn't perform signup if in that moment you had no sourcerer account. Now it's fixed.

[2018-08-31 19:35] #340 closed

[2018-09-01 00:18] asurkov commented on #339
@mcg1969 could you please provide an example of your matlab code which is recognized as objective-c. I believe our samples [1] don't cover your case.

[1] https://github.com/sourcerer-io/sourcerer-app/tree/develop/src/test/resources/samples/Matlab

[2018-09-01 00:38] mcg1969 commented on #339
Feel free to take anything from either of these:
- https://github.com/cvxr/CVX
- https://github.com/cvxr/TFOCS
Again, I've written _no_ Objective-C, so all of the 681 commits and 110775 LOC being reported [on my profile](
https://sourcerer.io/mcg1969) are actually MATLAB.

[2018-09-01 04:29] asurkov commented on #339
I imported all samples above, and no one of '.m' files was recognized as 'objective-c' (there's two of them recognized as mathematica, but it is a different story). @yaronskaya any ideas, where where it gets broken then?

[2018-09-01 04:30] asurkov commented on #339
here's matlab samples pull request - https://github.com/sourcerer-io/sourcerer-app/pull/342

[2018-09-01 09:27] alichtman opened #343 "Overview shows work done with `q`"
<img width="828" alt="image" src="https://user-images.githubusercontent.com/20600565/44944594-5ad34280-ad9f-11e8-8501-51a5b4d53e37.png">

https://sourcerer.io/alichtman

[2018-09-01 09:31] alichtman opened #344 "Finer granularity with LOC Graph"
I think it'd be good to introduce a bit more distinction in the LOC graph.

This is what mine looks like:

<img width="380" alt="image" src="https://user-images.githubusercontent.com/20600565/44944634-d92fe480-ad9f-11e8-9f34-7011c68679d3.png">

[2018-09-13 16:51] sergey48k commented on #344
Yes, we will update this soon. Thank you!

[2018-09-13 16:52] sergey48k commented on #343
hi @alichtman ,

Could you provide more details?

[2018-09-13 16:53] sergey48k commented on #339
@asurkov if this is merged and deployed, could you close the issue?

[2018-09-13 17:40] alichtman commented on #343
I don't know what other details to provide. I've never done work in a language, or with a library, called `q`

[2018-09-13 17:43] mcg1969 commented on #339
All I know is that my profile still claims I'm a prolific Objective-C developer.
https://sourcerer.io/mcg1969

[2018-09-13 19:56] sergey48k commented on #343
Ah, now it makes sense. Thank you!
S.

On Thu, Sep 13, 2018 at 10:40 AM, Aaron Lichtman <notifications@github.com>
wrote:

[2018-09-14 00:51] asurkov commented on #339
@sergey48k right, PR is merged, but the issue is not fixed yet. Let me follow up with @yaronskaya on this.

[2018-09-14 10:39] anatolystansler commented on #339
Hi @mcg1969!

Your profile was updated. It's a proper Matlab developer profile now :)

Feel free to reopen the issue if you have any other problems.

[2018-09-14 12:13] mcg1969 commented on #339
Thank you for working on this! Unfortunately, something still seems amiss.

For one thing, my pie chart has a nice big section for "Wolfram". I've never programmed in that language, ever.

Secondly, my most "important" repository, subjectively, is CVX; and for some reason, in the "Repository Facts" section, it claims that it's HTML (it's Matlab, though there is some auto-generated HTML documentati

[2018-09-14 12:14] mcg1969 commented on #339
@anatolystansler for some reason I can't reopen the issue; your permissions must be set to disallow that.

[2018-09-15 16:32] Kristories opened #348 "Duplicate Vue"
Hello, I'm curious for Sourcerer stats. Is this intentional or not? (Same commits, different LOC)

![screen shot 2018-09-15 at 23 23 14](https://user-images.githubusercontent.com/774338/45588450-2636bd80-b93f-11e8-823f-2d61a570868f.png)

![screen shot 2018-09-15 at 23 27 27](https://user-images.githubusercontent.com/774338/45588451-2a62db00-b93f-11e8-9001-f35cd3595ae5.png)
![screen shot 2018-09-15

[2018-09-16 10:36] yjh0502 opened #349 "badge broken on MS Edge"
![tantivy_edge](https://user-images.githubusercontent.com/554344/45595491-b8929c00-b9e7-11e8-8367-6e038c5abbfb.png)

[2018-09-17 07:02] asurkov commented on #339
@mcg1969 Wolfram is used as a fallback language, when content of *.m or *.nb file extensions is not recognized. Do you have repos other than CVX and TFOCS, which have *.m or *.nb files?

[2018-09-17 14:12] mcg1969 commented on #339
I'm afraid I do not. But I'm quite surprised that there isn't enough distinctive MATLAB in either of these modules to properly alert you!

[2018-09-17 14:13] mcg1969 commented on #339
Actually, I've contributed to the repos in this org as well, but less: https://github.com/sqlp

[2018-09-18 19:00] jonhartnett opened #351 "Display languages by LOC"
I would love to see a toggle switch for displaying the pie chart of languages by LOC rather than commits. For instance, in C# I have 70000 lines of code but only 142 commits, while in JavaScript I have 440 commits and 20000 lines of code. To me, seeing a pie chart based on lines of code would be more meaningful than the commit counts, as it's more indicative of time spent in each language.

Here's

[2018-09-20 07:39] wojtekmaj opened #352 "Lack of Windows install instructions"
On this page: https://sourcerer.io/howitworks#app there's only a link to download a source code or an instruction to run `curl -s https://sourcerer.io/app/install | bash` command. This, however, doesn't work on Windows. What am I supposed to do to install the app on Windows?

[2018-09-24 05:38] Aecasorg opened #354 "Text written in About section has disappeared"
I wrote some really nice text in the About section and when I came back a couple of days later to copy it to something else it was all gone. I can't remember what I wrote now...

Saving/storage always needs to be reliable.

[2018-09-24 06:59] subramanya commented on #352
Hi wojtekmaj,
I have installed gitbash on windows that allows me to run unix commands on windows. Install gitbash for windows from here https://gitforwindows.org/.
See the sample run of  curl -s https://sourcerer.io/app/install | bash:M1047999@A2ML28411 MINGW64 ~/Documents/Sample-project/AEMMaven13/core
$  curl -s https://sourcerer.io/app/install |bash
Installing sourcerer app..
We installed app t

[2018-09-24 15:56] sergey48k commented on #354
Hi @Aecasorg

Sorry about this!

@yandzee : could you please take a look?

[2018-09-24 15:58] sergey48k commented on #352
Hi @wojtekmaj ,

I will update Windows instructions shortly.

[2018-09-24 16:02] yandzee commented on #354
Sure

[2018-09-24 16:18] yandzee commented on #354
We currently have a limit for this text in 1024 bytes. We will increase this soon.

[2018-09-24 17:29] sergey48k commented on #354
Regardless of the limit, it should not let users enter more than it can
save.

On Mon, Sep 24, 2018 at 9:19 AM Tuktarov Renat <notifications@github.com>
wrote:

[2018-09-24 22:29] mohammedbasra opened #355 "app.BuildConfig File is missing"
When im trying to build  the project on my local machine it shows multiple errors saying app.BuildConfig is unresolved

[2018-10-03 14:32] luka-j opened #359 "Double counting of repositories"
I've recently changed my username on GitHub (from luq-0 to luka-j; my Sourcerer is [lukaj](https://sourcerer.io/lukaj)), and when I fired up Sourcerer to update my repositories, it added them as separate from my old username. GitHub account is still the same, it's only the username that's different.

Also, when I've imported local repositories, it failed to merge them with the ones with the ones I

[2018-10-03 15:46] sergey48k commented on #359
wow, that's pretty bad.we are looking.

[2018-10-03 16:32] sergey48k commented on #359
@anatolystansler

[2018-10-03 20:30] anatolystansler commented on #359
Hi @luka-j

We are working on fix of this problem. I cleaned up your profile from duplicate repos for now.

[2018-10-03 20:36] anatolystansler commented on #348
Hi @Kristories!

This is a bug, we will investigate it. Thank you for reporting the problem.

[2018-10-03 20:38] anatolystansler commented on #344
Hi @alichtman!

We temporarily removed the chart, the new version of it is coming soon.

[2018-10-03 20:44] anatolystansler commented on #343
Hi @alichtman!

Problem was fixed, thank you for reporting it.

[2018-10-03 20:44] #343 closed

[2018-10-03 21:49] luka-j commented on #359
@anatolystansler thanks for the quick response & temp fix. Looking forward to a permanent solution. Let me know if I can be of any help.

[2018-10-04 01:29] alexxxdev opened #360 "Server error when opening a profile"
For some time now I constantly watch the"Server error when trying to access your profile (https://sourcerer.io/alexxxdev), although many other profiles open without problems
![image](https://user-images.githubusercontent.com/975579/46448118-863aba00-c7af-11e8-88d6-8b7d5121c145.png)

[2018-10-09 03:02] alexxxdev commented on #360
Can anyone help solve the problem?

[2018-10-09 07:08] sergey48k commented on #360
@anatolystansler , @yandzee  : could you please look into this?

[2018-10-12 13:00] anatolystansler commented on #360
Hi @alexxxdev!

We fixed an issue with your profile. Sorry for a long wait.

[2018-10-12 13:00] #360 closed

[2018-10-12 17:12] FredHappyface opened #363 "Doesn't count all public repos"
It seems to recognise all of my public repositories (29 at the moment) however only provides analytics for 11 of these

[2018-10-14 17:29] areisrosa opened #364 "Help: Could not cartridge installation sourcerer-app"
Hey, guys

I performed curl -s https://sourcerer.io/app/install | bash has created the `.sourcerer` file that contains **sourcerer** and **sourcerer.jar**.

But when execulto the ./sourcerer or sourcerer. The terminal displays the following message:
**Remark**: I did this too: sudo ln -s $HOME/.sourcerer/sourcerer /usr/local/bin/sourcerer

[code]
Important Information
================
**O. S**: De

[2018-10-15 10:57] FredHappyface commented on #363
Closing and reopening the account seems to have fixed this issue

[2018-10-16 09:41] asurkov commented on #364
Should be fixed in #365 PR. Are there any extra steps required to update the installation script at https://sourcerer.io/app/install?

[2018-10-16 19:34] areisrosa commented on #364
@asurkov great job. It worked. :+1:
Thank you very munch. :)

[2018-10-17 01:38] asurkov commented on #364
glad to hear this :)

On Wed, Oct 17, 2018 at 3:35 AM Anderson Reis <notifications@github.com>
wrote:

[2018-10-17 16:39] ssbarnea commented on #363
I still find the statement true as it seems to miss indexing http://github.com/openstack/ and https://github.com/openstack-infra organizations which are public and really active.

[2018-10-17 23:41] #364 closed

[2018-10-18 15:22] guw opened #368 "Error processing GitHub repo eclipseguru/gyrex"
I tried Sourcerer a couple of times. It always fails to process https://github.com/eclipseguru/gyrex. No further error message reported other than "Processing Failed".

[2018-10-19 03:16] alexxxdev opened #369 "Error writing to server"
I added a private repository on the local machine and when I call the
`> surcerer `
I get the following answer:
[code]

I made more than 10 attempts in a few days (
Can this be fixed?
and can i help you with this?

[2018-10-19 07:08] Tech-Overlord opened #370 "GitHub repositories processing issue"
Hi,

I have about 7 repositories. Each time that I perform an "Update GitHub Repos", it says that all 7 of the repositories have been processed successfully. However, their are only 4 git repos visible on my sourcerer profile. Also the analysis on my Sourcerer profile is based off of those 4 repositories only. I am wondering why all the other repository stats, commits etc are not being fetched?

R

[2018-10-19 14:53] fabriziofortino commented on #337
Getting the same error using Github credentials with 2FA.

I tried to reset my password using the `Forgot` functionality on the Sign In page but I haven't received any email.

[2018-10-19 14:59] yandzee commented on #354
Fixed

[2018-10-19 14:59] #354 closed

[2018-10-19 18:43] Nekromancer opened #422 "Scan branches other than master"
Is there a reason why are you scanning only master branches of repositories? I think a lot of code is sitting on develop. I know (and i work on one) some repositories that have develop set as default branch on GitHub. Maybe you should consider scanning default branch? I'm not sure if you can get that info from GitHub api though

[2018-10-21 01:38] JonathanTroyer commented on #359
A similar thing happened to me. After importing several of my projects to GitLab from GitHub, they both show up in Sourcerer. I've since closed the repos on GitHub, but they still show up in Sourcerer.

[2018-10-23 13:09] sorenbug opened #377 "Give Scala a darker red so as to not be confused with XML or HTML"
![Pie chart](https://i.gerdere.date/i/3jdc.png)

Currently in the halo, Scala is not recognizable. With a darker red, `#dc322f`, it looks much better:

![New pie chart](https://i.gerdere.date/i/q3z2.png)

[2018-10-23 14:50] reisraff commented on #370
Also having the same issue, It can not process my C repo, reisraff/cim, that has some commits, and it does not count since it is not processed.

[2018-10-23 20:03] obarbier commented on #128
I would like to contribute to this. Can I get more information on this.

[2018-10-24 11:20] sergey48k commented on #128
Hi @obarbier ,

Thank you! Please give us a few days to prepare a better description for this ticket.

[2018-10-27 06:47] icyphox opened #381 "Emails sent to all followers without my permission"
Why was an unsolicited email sent to all my GitHub followers, without prior permission from me? This isn't quite right.

[2018-10-27 09:55] icyphox commented on #381
Ah yikes. I think I might've missed a checkbox.

[2018-10-27 09:56] #381 closed

[2018-10-27 20:39] sergey48k commented on #381
Hi @icyphox ,

Sorry for the inconvenience this has caused. We are making this checkbox more visible to reduce accidental notifications. Should be in prod by Monday. On our end, the reasoning was:

* Followers choose to follow precisely because they are interested in coding-related updates from people they follow.
* We understand that indiscriminate emails are not likely to be welcome, so we are m

[2018-10-28 02:31] icyphox commented on #381
It's all good. Glad to see this being addressed.

[2018-10-29 02:48] kornelski opened #382 "Non-personal GitLab projects not discovered"
GitLab has a separation between [personal](https://gitlab.com/users/kornelski/projects) and [contributed](https://gitlab.com/users/kornelski/contributed) projects. Sourcerer finds only the personal ones, but not other projects that live under their own namespaces/groups.

Since I put my major projects in their own groups (sort-of like orgs on GitHub), Sourcerer misses a lot of my GitLab work.

[2018-10-29 09:11] Bera opened #383 "Add Flutter Projects to libraries"
Projects made with Flutter doesn't show  in the website also dart projects may be

[2018-10-29 09:32] sergey48k commented on #383
Hi @Bera ,

Thank you for the suggestion. The fastest way to see your favorite library or framework on sourcerer is to file a pull request to https://github.com/sourcerer-io/awesome-libraries/tree/master/libs .

Best,
Sergey

[2018-10-29 10:55] yaronskaya commented on #128
Hi @obarbier!
You will need to collect all added and deleted TODO lines in`FactHasher` using `onNext` function there. Also, you need to store commit time for each such line.

In function `createFacts` you will need to calculate time delta between a time of addition and a time of deletion for lines that present both in added and deleted. After that, you should create `Fact` with code FactCodes.TODO

[2018-10-31 15:06] stephentuso commented on #381
I thought I unchecked the box but the emails were still sent... but who knows, maybe I refreshed the page or something. Definitely shouldn't be a default.

[2018-10-31 19:28] yasinuslu commented on #269
I was syncing my intellij and webstorm settings in a github repo in the past, now i look like an XML developer :)

[2018-10-31 19:43] balupton opened #388 "Feature Request: Leaderboard / Ranking"
It would be nice if there was a viewable leaderboard for each programming language.

[2018-10-31 19:44] yaronskaya commented on #348
Fixed.

[2018-10-31 19:44] #348 closed

[2018-10-31 19:53] #121 closed

[2018-11-01 09:55] jfcieslak opened #391 "name private repos"
Private repos, when added manually, appear to have no names, when listed on sourcerer.io profile. Can that be changed? Is there a way to manually name these repos? Or is this intentional? It could be useful mainly for keeping track of the repo list.

[2018-11-01 10:00] sergey48k commented on #391
Hi @jfcieslak ,

It is intentional; we don't want any proprietary info made public by accident. What you can do is you can click Edit icon on the repo section and enter something as a repo one-liner.

[2018-11-01 16:00] akshitac8 opened #392 "Invite button not working"
In the Invite section, The Invite button mentioned under " We found some of your team members: " is not working. We still have to manually write the mail ids.

[2018-11-01 21:32] toupeira commented on #382
Looks like this is a limitation of the current GitLab API, see https://gitlab.com/gitlab-org/gitlab-ce/issues/4321

[2018-11-01 21:33] sergey48k commented on #382
What if we add an ability to add repo urls?

[2018-11-01 21:39] toupeira commented on #382
@sergey48k great idea, also opens the door for arbitrary Git repos hosted on other tools like gitweb, gitea, etc.

[2018-11-02 10:56] lfuelling opened #394 "Prevent spam by making the "Notify followers"-checkbox an opt-in instead of opt-out"
When you register on the site, the little checkbox that says "notify my followers" should be unchecked by default to prevent people from getting spammed.

[2018-11-02 13:03] anatolystansler commented on #392
Hi akshitac8!
Thank you for reporting this problem. WIP.

[2018-11-02 13:37] anatolystansler commented on #392
Fixed. Invitations work properly now.

[2018-11-02 14:49] barambani commented on #394
+1

[2018-11-02 15:02] shan5742 opened #395 "most recent repos not showing up in profile"
app shows it has updated but most recent repos are not there

[2018-11-02 16:18] lmsanch commented on #395
I am experiencing the same issue. Many commits since the first update (private repos specifically), and the profile is not updating.

[2018-11-02 16:50] shan5742 commented on #395
Private repos won't show up, will explain how to get that sorted in your welcome email, in my case the repos are public and not showing up, they're rather large though, so this could be the problem?

[2018-11-02 22:15] manaswinidas commented on #377
Is this solved? I'd like to solve this issue🙂

[2018-11-03 20:34] AnandChowdhary commented on #394
Please do this. I didn't even notice that checkbox and it says nothing about using my followers' data in your privacy policy. This is very very questionable in this day and age of GDPR.

[2018-11-04 06:08] alexxxdev opened #397 "broken repository sorting"
I noticed that after adding the description to some private repositories, the sorting in the list itself was changed.
It is not clear how to change the sorting now.
https://sourcerer.io/alexxxdev

[2018-11-04 13:34] freakeinstein opened #398 "Organization contributions are not being counted"

[2018-11-05 05:16] Xe opened #399 "Delete all data"
I have looked and can't find a way to have a user unconditionally have all of their data deleted from this service. I made a mistake authorizing this app and want to opt out. I can't find a way to do this in the app, so I am making a ticket here hoping that this will reach someone who can comply with this request.

Thank you and be well.

[2018-11-05 05:18] Xe commented on #394
https://github.com/sourcerer-io/sourcerer-app/issues/399 related

[2018-11-05 09:11] sergey48k commented on #399
Hi @Xe ,

You can delete your account by clicking 'here' link at https://sourcerer.io/settings#account . See attached screenshot.

<img width="609" alt="image" src="https://user-images.githubusercontent.com/20287615/47988636-d03af680-e0f3-11e8-907c-60fbb12bd213.png">

[2018-11-05 09:11] #399 closed

[2018-11-05 11:59] anatolystansler commented on #398
Hi @freakeinstein!

All of your organizations have a private membership (not listed in your public profile). You need to authorize sourcerer to access public data about your organizations by pressing "Request" button in authorization dialog.

![org-access](https://user-images.githubusercontent.com/29913247/47996907-249da080-e10b-11e8-913c-224b0561bff6.png)

Also, you can edit organization access s

[2018-11-05 12:31] anatolystansler commented on #397
I see. Thank you for video. WIP.

[2018-11-06 04:10] sorenbug commented on #377
@manaswinidas No:

![a](https://i.gerdere.date/i/t49j.png)

[2018-11-06 05:02] freakeinstein commented on #398
got it worked! Thanks.

[2018-11-06 05:47] manaswinidas commented on #377
I'm interested to solve this

[2018-11-06 11:06] feysal-Ibrahim opened #400 "Followers"
Web App does not fetch user Followers and Following

[2018-11-06 23:44] Dalgona opened #401 "I cannot see my profile"
Probably related to, or a duplicate of #360, which has been fixed, but the same error happens when trying to open my profile. (https://sourcerer.io/dalgona)

cURL-ing the URL gave me this JSON:

[code]

[2018-11-07 09:32] pearl2201 opened #402 "Add Unity3d to Technologies"
While project is made by libgdx has "libgdx" label, project is made by Unity3d engine be treating like C# project :D.

[2018-11-07 11:53] anatolystansler commented on #401
Hi @Dalgona!

Fixed

[2018-11-07 11:53] #401 closed

[2018-11-07 12:42] yandzee commented on #401
Fixed

[2018-11-07 18:35] mazipan opened #404 "Sort repo based in star"
Currently, we sort based on total commit in those repo.
I think it's good for sort based on 🌟 count.

[2018-11-07 22:53] enginmanap commented on #332
This is fixed, many thanks.

[2018-11-07 22:53] #332 closed

[2018-11-08 04:35] kalbasit opened #405 "My profile is broken after revoking and re-authing Github"
Hello,

When I first created my account, I did not grant permission to access my work organization but I did want to get that counted so I went ahead and revoked the permission on Github and logged out then logged back in and as expected I was prompted to authorize again which I did. However, now whenever I click on Update Github repos, the call to https://sourcerer.io/api/face/user/profile/refres

[2018-11-08 20:21] aromanro commented on #405
Maybe my issue is similar. The account is: https://sourcerer.io/aromanro I cannot update my repos. Currently I have 18 repos, 17 are C++ projects.

[2018-11-09 07:42] aromanro commented on #405
I closed the account then reopened it, that refreshes the stats.

[2018-11-09 09:00] kalbasit commented on #405
Worked for me as well, thx @aromanro for the tip!

[2018-11-09 09:42] jfcieslak commented on #391
@sergey48k I understand that this is intentional, I guess this can be closed then? Maybe for a feature suggestion: perhaps repos can be labeled through cli when adding them? like:
`sourcerer add [REPO] [LABEL]`. Anyway, amazing project!

[2018-11-09 09:42] #391 closed

[2018-11-09 12:59] anatolystansler commented on #334
Fixed

[2018-11-09 12:59] #334 closed

[2018-11-09 13:00] anatolystansler commented on #219
The chart temporary removed from the profile.

[2018-11-09 13:00] #219 closed

[2018-11-09 13:00] anatolystansler commented on #144
Fixed

[2018-11-09 13:00] #144 closed

[2018-11-10 12:36] jaywink opened #406 ""Your coworker has joined" emails"
Hi crew,

I started getting "your coworker has just joined" emails from repositories where I have contributed something, for example `awesome-vue`. This is odd since none of these people are my coworkers ;)

Aside from the incorrect message content which is not that critical, it would be nice to opt-out of these emails via an unsubscribe link or failing that the settings on the site.

Thanks for t

[2018-11-10 12:48] jozefizso commented on #406
I cannot unsubscribe from these spammy emails.

[2018-11-10 13:19] MatheusMCuba opened #407 "Feature Request: Translation"
Hi, as Brazilian developer it would be very nice to have translation on my profile page, as I see that `en-US` is the only supported language right now (correct me if I'm wrong). You could configure the `i18n` and let the community do the translations

[2018-11-10 13:58] osilla commented on #406
@jozefizso @jaywink We're so sorry for this.  The co-worker emails we pushed out had several bugs in it and of coarse no way to unsubscribe.  We've disabled the feature and are working on fixes.

[2018-11-10 13:58] #406 closed

[2018-11-10 14:02] jaywink commented on #406
Thanks! No worries, no big deal. Thanks for promptly dealing with it!

[2018-11-10 19:20] Bera commented on #383
Hi Sergey

Unfortunately, until now, Sourcerer isn't allowing to add flutter projects yet.

[2018-11-11 20:47] 4oo4 opened #408 "Better language detection for non-GitHub repos"
This feature works really well for GitHub, but it appears that non-Github repos have issues having the language detected correctly, and don't show anything other than the top result, whereas GitHub repos will have a breakdown of multiple languages that are used.

For example, this repo is primarily Markdown/SCSS/YAML, but shows up as only HTML (possibly related to #235?)

https://gitlab.com/4oo4/p

[2018-11-12 16:59] tuliobluz commented on #363
I'm facing the same problem, I have five repo, but It is showing just one. I tried to create a new account, but It has happened the same problem.

[2018-11-12 16:59] tuliobluz commented on #370
I'm facing the same problem, I have five repo, but It is showing just one. I tried to create a new account, but It has happened the same problem.

[2018-11-12 22:15] lazlozerv commented on #359
I have faced a similar problem.I had a commit with wrong email and I changed it to recognize me and after the update, it duplicated the repo.

[2018-11-12 22:46] lazlozerv opened #409 "how to remove duplicate repos from profile"

[2018-11-13 01:05] RubenMateus opened #410 "Go inst supported in the contribution?"
Seems like my commits with golang arent being counted...

[2018-11-13 01:35] doughsay commented on #394
If you sign up using GitHub, does it even present the checkbox?  I didn't see it at all...

[2018-11-13 05:39] whoan opened #411 "Docker support"
Is there a way to use sourcerer app with docker? [I created a repo](https://github.com/whoan/sourcerer-app-docker) myself to not install Java in my machine, but I see there is some work with Docker in the repo.

What would be the steps to get it working without installing Java?

[2018-11-13 10:14] BuptStEve commented on #394
+10086

[2018-11-13 14:33] bigmeech opened #412 "No Data for my profile"
After several scans I still cannot see any data for my profile, My profile is https://sourcerer.io/bigmeech

[2018-11-14 15:21] lucasdeassis opened #413 "Section 1 numeration is overlapping personal-info"
When `Github Bio` is long, the section 1 numeration overlaps the `personal-info` content

[2018-11-15 10:29] silverbucket opened #414 "Stop spamming my contacts without my consent!"
It is a very unethical thing to do, and shockingly arrogant for an open source project.

[2018-11-15 10:30] silverbucket commented on #381
The checkbox should not be enabled by default if it's that easy to miss, I don't recall seeing a checkbox at all.

[2018-11-15 11:49] icyphox commented on #381
I actually agree with @silverbucket, I never saw any checkbox to begin with.

[2018-11-15 13:54] ligi opened #415 "deep link not working"
when e.g. using share on fun facts you get a link like this:

 https://sourcerer.io/ligi?fun_fact=indentation

unfortunately this link does not get you to the fun fact

[2018-11-15 14:20] ligi commented on #414
Yea - same here - just got a mail from a follower complaining about this. Was not aware this happens when signing in - really not cool ;-(

[2018-11-15 14:48] hsanjuan commented on #414
Same here, how can I delete all my data from your platform?

[2018-11-15 14:48] pujiaxun commented on #414
really angry!

[2018-11-15 15:08] XenGi commented on #414
The consent was given by a very tiny checkbox which is on by default. I just checked after getting the spam myself. Maybe make the checkbox more visible and default to disable it.

[2018-11-15 15:11] XenGi opened #416 "Email address with '+' in it doesn't work"
I'm trying to verify my email address but it doesn't work. I get the email, I click the link but the website says there was an error. I suspect that the handling of emails is done wrong. I have a + sign in my email address which is completely valid but causes trouble on most sites.

[2018-11-15 16:22] asvrada commented on #414
Same here. Although this repo is well made, the spamming literally destroy everything else. I am not recommending this to my friend and I will no longer use it.

STOP IT.

[2018-11-15 16:31] silverbucket commented on #414
Yeah it's a shame that clearly so much good work went into this project and yet someone thought that spamming everyone in the users github list by default, before the user even sees the page, was a good idea. Totally killed this project for me, there's no world in which I would allow an app to email *everyone* that is following me on github, about anything, ever. Ever heard of a share button?

[2018-11-15 19:32] GiancarloJung commented on #242
The website says: "Include repos from GitLab, GitHub, Bitbucket, and more." but there is no option to link bitbucket accouts, I think you guys should remove that until the integrations is ready or explain that is a feature comming out soon.

[2018-11-16 02:14] umihico opened #417 "adding topic #portfolio-websites"
Hello! I'm collecting screenshots of everybody's portfolio here.
https://umihico.github.io/thumbnailed-portfolio-websites/
If you don't mind, I'd like you to add topic #portfolio-website. Then I can crawl your cool portfolio next time. Thank you!

[2018-11-16 08:07] yaronskaya commented on #410
Hi, @RubenMateus! In which of your repositories golang is not shown?

[2018-11-16 09:39] RubenMateus commented on #410
Hey @yaronskaya, these two repos show up in the list but its not counting on the main graph.

repos:
https://github.com/RubenMateus/ready-set-go
https://github.com/RubenMateus/go-playground

sourcerer link
https://sourcerer.io/rubenmateus

[2018-11-16 11:46] yaronskaya commented on #410
Looks like C# is not in top-6 languages and therefore is not shown in languages section.

[2018-11-16 13:13] lfuelling commented on #394
Hello again, great addition, now I also get mails about "coworkers" I never even heard of, just because I contributed to a repository they also did.

Stop the fucking spam already.

[2018-11-16 23:21] arturmamedov commented on #352
Okay i understood that my `/usr/local/bin/sourcerer` is `C:/Windows/System32`
But now when i run `sourcerer` it ask me with wich app i want to open it... what i need to do?

[2018-11-17 00:00] osilla commented on #394
@lfuelling  We’re so sorry about these co-worker joined emails. This feature was pushed out and had several bugs in it including receiving notifications from irrelevant contributors.  We’ve since pulled it down and are re-working it.

[2018-11-17 13:41] iArunava opened #418 "Count in the contributions for Jupyter Notebooks"
Hey,
A lot of the commits have jupyter notebooks! So it would be great if the contributions of the notebook are also shown! Maybe parse the raw notebook content to check out the imports and add it to contributions!
Need to give it a thought! But it should be done!

[2018-11-17 16:48] sjsakib opened #419 "Some libraries are not being shown even though they are listed"
I've done [this](https://github.com/sjsakib/ABPBloodBank) and [this](https://github.com/sjsakib/Dingulu) project with react-native. But there is not mention of react-native in my [sourcer profile](https://sourcerer.io/sjsakib). And in another project I've used express, mongoose, socket.io. Among them, socket.io didn't get counted.

I've checked that all of the libraries are listed in the [javascri

[2018-11-18 10:19] peachiia opened #420 "Can't login to an accidentally revoked account."
I can't log in to my an account caused from accidentally page-refreshing while revoking GitHub. For now, if I try to signup or sign in, It's will said that "Emails associated with this GitLab account are already in use. Sign in and add this account."

My question is "Is it possible to force-delete my account then I can start over again.?"

My account is https://sourcerer.io/peachiia

Thank you.

[2018-11-18 14:30] EricKrg commented on #412
I have almost the same problem, it only shows data of one repo for me... @bigmeech can label this as bug?

[2018-11-18 23:36] sergey48k commented on #420
@anatolystansler can you help?

[2018-11-19 11:59] gandrade commented on #400
Same here. Screenshots below.

![image](https://user-images.githubusercontent.com/2265523/48705888-a1d41580-ebe1-11e8-85e5-c2e4266890b7.png)

-----
![image](https://user-images.githubusercontent.com/2265523/48705900-aac4e700-ebe1-11e8-842f-29a6667c1dd5.png)

[2018-11-19 13:12] anatolystansler commented on #420
Hi @peachiia!

I've deleted your account. Now you can create a new one.

[2018-11-19 13:29] anatolystansler commented on #415
Hi @ligi!

We use fun_fact param to show fun fact preview instead of summary profile preview. Example:
![image](https://user-images.githubusercontent.com/29913247/48709958-1b86f600-ec18-11e8-9325-a01ae339d725.png)

Scrolling to fun fact is a good idea.

[2018-11-19 14:10] anatolystansler commented on #411
Hi @whoan!

Good work on creating the repo. Very appreciate. With docker we create a nginx image to serve an app, it's not intended to run the app locally.

[2018-11-19 14:33] anatolystansler commented on #400
Hi! We don't fetch followers and following from GitHub. Users should subscribe manually.

[2018-11-19 14:41] ClintOxx opened #421 "Sourcerer doesnt scan Archived repos"
Just checking to see if that is intended behavior, if you visit my github profile then visit my Sourcerer profile you will see its missing 3 repos.

[2018-11-19 14:42] anatolystansler commented on #422
Feel free to reopen an issue if problem still exists.

[2018-11-19 14:42] #422 closed

[2018-11-19 17:52] gandrade commented on #400
Got it. Thanks for the feedback

[2018-11-20 07:46] yaronskaya commented on #383
Hi @Bera, which of your repositories use flutter?

[2018-11-20 17:21] peachiia commented on #420
@sergey48k  @anatolystansler Thank you very much for your support.

[2018-11-21 08:49] Ruxton commented on #414
It shouldn't even be a checkbox option. Let alone an intentionally deceptive one. Very weak.

[2018-11-21 12:08] ronilaukkarinen opened #423 "Any way to hide a local repository from public stats?"
Hello. First of all, I love this idea. I'd like to add local repositories I'm currently working on, but I don't want them to be visible in public stats. Any way to publicly hide repos added via app?

[2018-11-21 16:04] asch3ron opened #424 "Give the possibility to rename a private repo"
Hello,

you can work on private project (which means you code is not visible) but wanna share that you are working on this specific project (IE I'm working on @XPulZ_Gaming but I don't want the code being share)

Thanks!

source: https://twitter.com/sourcerer_io/status/1065273948709867520

[2018-11-21 16:17] anatolystansler commented on #423
Hi @ronilaukkarinen!

Use hide button in edit mode of repo table.

[2018-11-21 19:40] gubatron opened #425 "how do you use the sourcerer-app if you never received a password email after profile was created via GitHub auth?"
I go to the site and try to change my password but I need to know the previous password which I never got (yes, nothing on spam folder either), I got an email that my profile was ready but no password was in there.

Is there any other way to reset the password?

[2018-11-21 23:48] anatolystansler commented on #425
Hi @gubatron!

Look for "Welcome to Sourcerer" email a temporary password was sent to you in it. If you confirm that you didn't receive it I will send a new one.

[2018-11-22 02:06] aweimeow commented on #414
I even don't notice there is a checkbox for this action, after I authorized with GitHub account, it started to scan my profile, and send out invitation automatically.
I realized this app send invitation after heard from my friend, very uncomfortable with send mail to my contact. You SHOULD remove this function, it's useless and offend.

[2018-11-22 04:38] gubatron commented on #425
Hi @anatolystansler just checked all of my inbox, I didn't receive any email under that subject, it'd be great if you could send another one. Thanks for the prompt response.

[2018-11-22 07:19] ronilaukkarinen commented on #423
Got it, thanks! And as I see, they are imported as "Repo" so it's anonymous already. I don't know if it should be that way, but great thinking!

[2018-11-22 09:21] foursixnine commented on #414
I just got also a message from a colleague getting spammed by this app... :/ Was quite nice... until this. If you want to invite people to use your app, please make sure that you ASK THE USER, before peforming this kind of actions...

[2018-11-22 11:20] Bera commented on #383
Hi @yaronskaya these are repos with flutter

https://github.com/Bera/eval-bloc-pattern-login-widget
https://github.com/Bera/animaflu

![image](https://user-images.githubusercontent.com/43844/48899695-6af73d00-ee37-11e8-99a9-77886c169b54.png)

But after updating my github profile new repos aren`t added

![image](https://user-images.githubusercontent.com/43844/48899734-84988480-ee37-11e8-860c-a1c26a

[2018-11-22 16:57] yaronskaya commented on #383
@Bera looks like you didn't specified emails used in these repos. You can add them in Settings and then update your profile again.

[2018-11-22 17:12] boredstiff commented on #414
If you all would like to report this like I am about to do, you can do so here: https://github.com/contact/report-abuse?report=sourcerer-io

[2018-11-22 17:15] boredstiff commented on #414
It's also really scummy that in your README, you don't list what your real intentions are:

# Why do you need GitHub permissions?

We use emails to identify commit authorship, read orgs access to get list of public repositories that you've contributed to. You also need to grant access to read this public information from an organization.

[2018-11-22 17:48] osilla commented on #414
Hi everyone. We apologize for the confusion our UX is causing.  To clear up any issues, we present the choice to notify your followers on signup when you choose to analyze your public repositories (see attached).  Regarding GitHub permissions, we do not use the GitHub API to read email addresses. Our tool only looks at publicly available addresses from the public repositories a user submits and th

[2018-11-22 17:54] foursixnine commented on #414
It took you 7 days to take this seriously?... That’s sad. Please, instead of making it par of the sign up workflow, make it an explicit user action. I normally don’t want to send invitations to people, for services that I use. Not even facebook.

Sent from my iPhone

[2018-11-22 17:56] boredstiff commented on #414
I am not someone who connected an account, so why do I have to get spam email because someone else doesn't pay attention?

- It's apparently not clear enough for people that don't pay attention
- Why should a user whom I've never contributed toward have access to spam me?
- I, as someone who didn't (and won't) connect my account, did not give permission for you to have my email.
- Our tool only lo

[2018-11-22 17:57] osilla commented on #414
hi @foursixnine i'm so sorry for the delayed response.  It's really unacceptable of us.

[2018-11-22 18:06] osilla commented on #414
hi @boredstiff thank you for this.  Please know that we are looking into this, both from the UX perspectives as well as the email associations our algos determine.

[2018-11-22 18:08] silverbucket commented on #414
@osilla What do you mean "looking into this" ? Just remove it. Add a "share" button if people like it they can share. Don't email peoples contacts just to promote your app before the user even decides if they like it.

[2018-11-22 18:12] osilla commented on #414
hi @silverbucket fair point.

[2018-11-22 23:38] osilla commented on #414
hi @hsanjuan This thread got so long, I missed seeing your request.  Very sorry about that.  A user can delete all their data under Account in Settings.

Here's the link to the page:
https://sourcerer.io/settings#account

[2018-11-23 04:58] asurkov commented on #369
sorry for delay, still investigating, this case doesn't appear to be an easy one.

[2018-11-23 09:37] highskillzz commented on #413
Is this ok if I take this issue?

[2018-11-23 11:13] yaronskaya commented on #383
Your commits are with email "bmoura@produban.com.br" in the repo animaflu for example.

[2018-11-23 11:19] highskillzz commented on #138
Can this issue be taken?

[2018-11-23 19:17] yaronskaya commented on #408
Hi @4oo4. We currently do not show statistics from commits having more then 20k lines of code. So most of your contributions are not counted in your profile. Is it a common way to make such a huge commits? If so, we will change showed statistics of languages and technologies.

[2018-11-23 19:30] 4oo4 commented on #408
Ahh, didn't think about that. In this case the commits are huge since I was changing a website from using Semantic UI to Jekyll, and the group I'm working on that for prefers having squash and merge when accepting pull requests versus merging individual commits.

I can't speak for other people but I know that a number of groups prefer the squash/merge approach for PRs too, so maybe it would be wor

[2018-11-23 20:11] joeblackwaslike opened #426 "Webapp profiles broken?"
Every time I've tried to visit my profile @ https://sourcerer.io/joeblackwaslike I get the following:

[code]

I thought initially that maybe this was temporary, but it's been like this for about 4 days now.

Does anyone else have this problem or is it just me?  This looks like a cool project and can't wait to see it, but it's kind of a bummer. :(

[2018-11-23 20:20] sergey48k commented on #426
@yandzee please help ASAP, seems like an isolated problem but it's not temporary. something is broken for https://sourcerer.io/joeblackwaslike

[2018-11-23 22:05] sergey48k commented on #138
I believe it was not. Yours if you are interested!

[2018-11-23 22:18] Whatapalaver opened #427 "Processed repos but shows no stats"
I signed up to use public data via GitHub.
It has successfully pulled my profile data but isn't showing anything for my stats.
I get an email saying my profile is ready but if that is the case - it's not very exciting.
https://sourcerer.io/whatapalaver
Thanks

[2018-11-25 00:58] galvez opened #429 "Bio not updated"
https://sourcerer.io/galvez doesn't match https://github.com/galvez.

I'd love to link to my sourcerer.io profile more but it's a bummer that it stills shows my title at an old job and not my current one :)

[2018-11-26 12:34] gandrade commented on #400
Should we consider closing it?

[2018-11-27 00:17] redbitshift commented on #429
@galvez we will look into this, but as a quick fix, you could also click that pencil icon and update the bio manually. I realize it's not very exciting, but it gets the job done while we're working on it.

[2018-11-27 01:13] TomOrth commented on #426
This also happened to me. If you go to sourcerer.io/tomorth

[2018-11-27 13:21] yandzee commented on #426
Yep, im aware of this issue. Fix will be deployed soon.

[2018-11-27 14:48] yandzee commented on #426
@TomOrth @joeblackwaslike your profiles are working now

[2018-11-27 14:49] #426 closed

[2018-11-28 22:44] foursixnine commented on #414
@osilla Did you guys ever do anything to fix this?. Did you manage to implement @silverbucket's suggestion?. Or simply are just waiting it out?. Not cool.

[2018-11-28 22:57] osilla commented on #414
hi @foursixnine - we have not been waiting it out. we have implemented a number of measures regarding user acquisition and more are in progress.

[2018-11-29 10:06] XenGi commented on #414
Could we all calm down a bit? wtf...
They did something that the community doesn't like. They listened and acted. Now let them do there work and stop bashing. A more civilized tone would be very appreciated.
Some people in here act like children..

[2018-11-29 12:48] lucasdeassis commented on #413
That's ok for me @highskillzz

[2018-12-02 15:50] toupeira opened #430 "Can't start on Debian / OpenJDK 11"
I just set up the Sourcerer app and ran into this error:

[code]

I saw there's a package `libactivation-java` in Debian, installing it didn't help though since it contains a different module "java**x**.activation".

But removing `--add-modules java.activation` from the `sourcerer` wrapper script did the trick and I can now successfully use the app.

Not sure if this is issue is specific to Debian

[2018-12-03 08:37] alexxxdev commented on #369
Hi! I also started getting errors when updating from the site

![image](https://user-images.githubusercontent.com/975579/49362336-1f833f80-f711-11e8-91e8-c2ecec336cb8.png)

[2018-12-03 20:21] sergey48k commented on #369
@alexxxdev does this happen every time?

[2018-12-04 04:45] alexxxdev commented on #369
@sergey48k Yes, every time, the last few days

[2018-12-04 06:20] sergey48k commented on #369
@anatolystansler could you guys check logs and see what is happening?

[2018-12-05 08:02] Bera commented on #383
Thanks @yaronskaya

Now I correct the email but Flutter still not recognized yet in the technology panel

![image](https://user-images.githubusercontent.com/43844/49498793-52cde780-f853-11e8-888a-18d4e6118302.png)

[2018-12-05 22:02] sergey48k commented on #414
Closing this as not relevant any more. We no longer provide this feature.

[2018-12-05 22:02] #414 closed

[2018-12-06 07:05] asurkov commented on #430
it should be fixed now #431

[2018-12-06 07:05] #430 closed

[2018-12-06 13:01] toupeira commented on #430
@asurkov looks good, thanks! :+1:

[2018-12-06 13:57] Bera commented on #383
Now it's working like a charm

![image](https://user-images.githubusercontent.com/43844/49588408-c18f6b80-f94d-11e8-99f2-540d852ede35.png)

![image](https://user-images.githubusercontent.com/43844/49588443-d7049580-f94d-11e8-8746-d1ead7f1452f.png)

![image](https://user-images.githubusercontent.com/43844/49588501-ff8c8f80-f94d-11e8-807e-e03257cf1404.png)

[2018-12-06 14:03] yaronskaya commented on #383
Looks great @Bera 👍

[2018-12-06 14:03] #383 closed

[2018-12-06 14:07] Bera commented on #383
https://www.reddit.com/r/FlutterDev/comments/a3o7al/sourcerer_app_now_supports_dart_and_flutter/

[2018-12-07 00:18] asurkov commented on #430
@toupeira glad to hear, thanks for checking out!

[2018-12-08 05:05] shayanealcantara opened #433 "Sourcerer aplication is not counting all contributions"
#### Description:
Even though I try to update my GitHub repositories several times, some repos are ignored. When I access `https://sourcerer.io/settings#processing`, it says that there are no contributions in some repositories, but I have. I have already allowed all permissions to sourcerer in the organizations which I contributed.

Below, an example that is happening it:
![image](https://user-ima

[2018-12-08 07:42] yaronskaya commented on #433
Hi @shayanealcantara. Looks like there were some changes in your repo. So now there are no commits authored by you in repository history. See https://github.com/MachineLearningDosCogumelos/YelpDataset/commits?author=shayanealcantara

<img width="684" alt="2018-12-08 10 38 59" src="https://user-images.githubusercontent.com/29913475/49683417-9768b580-fad5-11e8-8397-97b2f6271e87.png">

[2018-12-08 16:40] shayanealcantara commented on #433
Hi @yaronskaya, which is weird, right? There are some minimal quantity of commits to be included in sourcerer repos? My contribution is one commit until now, but there is https://github.com/MachineLearningDosCogumelos/YelpDataset/graphs/contributors

[2018-12-08 18:54] yaronskaya commented on #433
@shayanealcantara could you point to that commit?

[2018-12-09 02:00] VentGrey opened #434 "[Possible duplicate] No data displayed on my profile."
I think this is a far known issue by now. But despite my efforts I can't seem to figure out what is happening to my sourcerer account, this thing happened 1 or 2 months ago, at first some languages were "dissapearing" one by one, until one final "Refresh Github repos" click where my profile was completely empty.

Now, I've tried several things in this time:

* Deleting my sourcerer account
* Using

[2018-12-09 09:30] france193 opened #435 "I do a lot of XML (!?!?)"
Looking at my profile (https://sourcerer.io/france193) it seems that i have the madjority of code as XML. This is so strange, it seems that the code of my repos is misunderstood.
Any checks or solutions?

Thank you!

[2018-12-09 23:45] shayanealcantara commented on #433
@yaronskaya what do you mean with "point to that commit"? here is the specific commit, if it's that what you meant:
https://github.com/MachineLearningDosCogumelos/YelpDataset/blob/00ef62d991c58d627d1c354f98994cced045428e/Analise%20de%20comportamento%20-%20Yelp%20.ipynb

[2018-12-10 03:59] sergey48k commented on #435
@france193 : we will look into it. Meantime, you can click Edit icon (pencil) and hide XML, as a temp solution.

[2018-12-11 18:35] sergey48k commented on #434
@anatolystansler could you take a look?

[2018-12-12 03:13] dexterbrylle opened #436 "Error in running sourcerer command locally"
Installed the bash command, but I keep getting this error:

[code]

[2018-12-12 03:53] rithvikvibhu commented on #246
@anatolystansler Hey, I'm having the same issue with 1 pending and 21 failed (processing error) from GitLab. Could you please take a look?

Here's the current status: https://screenshots.firefox.com/xWI1KQOyvdSDwCjG/sourcerer.io

[2018-12-12 06:17] alexxxdev commented on #360
I get it again error(

[2018-12-12 09:50] manosbatsis opened #437 ""Processing error" for most own repos"
My most important repos are ifnored due to a "Processing error". No error log seems available

![sourcerer](https://user-images.githubusercontent.com/3016927/49861259-22aeb780-fe04-11e8-9886-fd1266f044ea.png)

[2018-12-12 17:04] VitorLuizC commented on #437
Same is happening to me.

![captura de tela 2018-12-12 as 15 03 41](https://user-images.githubusercontent.com/9027363/49885733-2996f380-fe1f-11e8-9095-7bfd5d9ecde6.png)

[2018-12-13 14:49] iwburns commented on #437
Same here.

![image](https://user-images.githubusercontent.com/6172641/49946123-ee92cf80-feb3-11e8-929e-f83cf0f36870.png)

[2018-12-13 21:37] FredHappyface commented on #437
This is also an issue for me

[2018-12-14 17:44] gubatron commented on #433
Not sure if related, I run `sourcerer` on my local copy of the repo (since it was too big to run from the website), I get this output at the end:

[code]

But after I go to my profile page, even after 30 mins, I don't see my most important locally hashed repository showing there, only the smaller ones.

[2018-12-15 17:30] gaui commented on #370
Same here with GitHub.

First run: 8 repos ok, 24 skipped.
After couple of runs: 1 repo ok, 31 skipped.

Maybe a GitHub API limitation?

[2018-12-15 20:50] #335 closed

[2018-12-17 06:55] ronilaukkarinen opened #439 "Run without questions by default"
I have a suggestion to automatically suppress `Do you want to specify additional emails that you use in repositories? [y/N]` when running `sourcerer` command without options. Could this be run only with some option hook? Now I just type `N` every time I run it manually.

[2018-12-19 03:51] alexxxdev opened #440 "Server error when opening a profile"
For some time now I constantly watch the"Server error when trying to access your profile (https://sourcerer.io/alexxxdev), although many other profiles open without problems

[2018-12-19 16:41] anatolystansler commented on #440
Hi @alexxxdev!

Fixed. Thank you for creating an issue.

[2018-12-19 16:41] #440 closed

[2018-12-19 23:01] anatolystansler commented on #437
Should be fine now. Can you confirm?

[2018-12-19 23:21] manosbatsis commented on #437
@anatolystansler the repos are reported as processed ok, but no relevant information is added to my profile.

[2018-12-19 23:48] anatolystansler commented on #436
Hi @dexterbrylle!

Download Sourcerer app and try again.

[2018-12-20 07:42] alexxxdev commented on #440
thx!

[2018-12-20 19:54] yaronskaya commented on #435
Fixed.

[2018-12-20 19:54] #435 closed

[2018-12-21 09:58] alexxxdev commented on #369
@sergey48k Hello, is there any news? I still can not add a private repositories because of errors
`Error while hashing: java.io.IOException: Error writing to server`

[2018-12-21 17:53] sergey48k commented on #369
@alexxxdev: @anatolystansler said he will work on this next week.

[2018-12-22 23:04] prydin commented on #433
I'm seeing commits from to repos I've had nothing to do with (e.g. metrics and numpy) and nothing from repos I've made thousands of lines of contributions to (e.g. telegraf and govmomi). Seems broken...

[2018-12-23 13:45] prydin opened #443 "Contributions to repos not owned by me"
More of a question than a bug report: Is sourcerer supposed to count contributions to repos I don't personally own? For example, I've contributed thousands of lines of code to influxdata/telegraf, vmware/govmomi and vmware/vrops-export and it would be nice for that to show up. In fact, my most interesting contributions are to repos I don't own.

[2018-12-23 19:13] sergey48k commented on #443
@prydin it is supposed to, but it does not always work for various reasons. we are working on it.

[2019-01-02 18:38] qwertpi commented on #437
Same here

[2019-01-03 17:48] TylerLeonhardt opened #450 "Changed username on Github doesn't get updated on sorcerer.io"
Hi there - love the product!

I recently changed my Github username:

tylerl0706 -> TylerLeonhardt

But my sourcerer profile doesn't seem to reflect this change when I re-login with GitHub:

https://github.com/TylerLeonhardt
https://sourcerer.io/tylerl0706

I also tried manually changing it in the bio but sadly no luck on that front. Any chance you could add support for this?

Or potentially delet

[2019-01-03 18:35] pieshop opened #451 "Messed up my accounts"
Hi

I created an account a while back by signing into github (profile: https://github.com/pieshop) - but lost interest as this only scanned public repos and the majority of my work is in private repos.

Today I got an email and decided to try to scan private repos via your app. I downloaded the app - tried to login to my account - got a password refused and found no email with a password from you.

[2019-01-03 18:36] pieshop commented on #425
Yes - I never got one of these emails either.

[2019-01-03 21:31] jmhobbs commented on #412
Chiming in as another case of this. https://github.com/jmhobbs  & https://sourcerer.io/jmhobbs

[2019-01-03 22:44] acidjazz opened #452 "help.. emails.."
![image](https://user-images.githubusercontent.com/967369/50665590-d5db7e00-0f76-11e9-94d3-bb0975701c4f.png)
all w/in 30m, still 0 repositories worth of data to show

[2019-01-04 09:52] robaxelsen commented on #425
Same here, never received one.

[2019-01-04 10:07] Nekromancer commented on #422
I'm trying to scan my private repo which have all of it's code on develop branch. But only master get scanned. Can i force `sourcerer` app to scan particular branch?

[2019-01-04 12:17] matheusd opened #453 "Timeout when processing"
I'm trying to update my profile, given it was stuck with changes only from feb/2018, but I get timeouts when processing github repos.

I tried revoking and resyncing the app permissions, but that didn't make a difference.

![image](https://user-images.githubusercontent.com/1752493/50687832-e852c780-1009-11e9-867b-133a983602bc.png)

[2019-01-05 03:18] shayanealcantara opened #454 "Fun facts fields aren't showing up in profile"
#### Description:
Trying to update my github repos, some fun facts fields that I used to have are missing now: "I'm most productive during" and "I`m a Top Typescript Developer". I didn't edited any options (like with the pencil button).
After this event, I can't refresh anymore: the button doesn't even get an action.

![shayanealcantara _ sourcerer](https://user-images.githubusercontent.com/335011

[2019-01-05 13:44] sidneibjunior commented on #437
This error is still happening here.

The client console shows IOException, but shows no stack trace.
I don't know if this information helps, but the error only occurs on a very big repository.

![error](https://user-images.githubusercontent.com/3899718/50725058-de4ec880-10de-11e9-9e26-51820b31a066.png)

[2019-01-11 09:49] VentGrey commented on #434
Bump issue (?)

[2019-01-15 14:43] yandzee commented on #450
Hi!

We are glad to hear that you love it :)
The feature you are asking for is currently in progress. I will report here soon.

[2019-01-17 09:57] NeuroWhAI opened #456 "Some commits are excluded from results."
![image](https://user-images.githubusercontent.com/1130686/51309993-3d7bd980-1a0b-11e9-8969-56105adbe91e.png)
This was my GitHub profile.
But LOC now just only 44,933 after I added a GitLab account.
I realized that all my C++ commits were gone from results.
Can I get some help?

[2019-01-17 15:52] sergey48k commented on #456
@yandzee could you help?

[2019-01-18 04:51] TylerLeonhardt commented on #450
It worked! Thanks @yandzee :)

[2019-01-18 04:51] #450 closed

[2019-01-18 18:08] pranavprajapati commented on #420
I also have a similar issue.
I can't log in to my an account

My account is https://sourcerer.io/pranavprajapati

Thank you.

[2019-01-19 03:36] pranavprajapati opened #457 "Login issue"
I can't log in to my an account

Error-
"Emails associated with this GitLab account are already in use. Sign in and add this account."
My account is https://sourcerer.io/pranavprajapati

Can this account be deleted so that I can recreate it?

Thank you.

[2019-01-19 03:52] sergey48k commented on #457
@anatolystansler could you help?

[2019-01-20 17:03] leojkwan opened #458 "Do we need gender pronouns in the "invite others" copy?"
I'm guessing the copy is based on gender data provided by Github, but is Sourcerer defaulting to "his"?

![screen shot 2019-01-20 at 12 01 24 pm](https://user-images.githubusercontent.com/10264891/51442504-4ee31100-1cab-11e9-9918-9bb83354b20a.png)

[2019-01-20 17:58] sergey48k commented on #458
Wow this is really bad. Not sure how we overlooked it. @yandzee : let's remove 'his' ("Invite to unlock fun facts")

thanks @leojkwan !

[2019-01-20 17:59] leojkwan commented on #458
no problem! Thanks for building a great tool team!

[2019-01-21 01:32] lazlozerv opened #459 "how can I remove duplicate repos from my profile"

[2019-01-21 11:31] yandzee commented on #458
Done.

[2019-01-21 11:31] #458 closed

[2019-01-21 12:19] NeuroWhAI commented on #456
@yandzee
Thank you for your support!
The huge commits are maybe 'First commit' contains all my first files of project.
(Yes, I know that this is not a good habit)
However, there are remaining problems...
The 'Languages' section (and 'Fun facts' maybe also?) still don't contains C++.
I'm sorry to bother you :+1:

[2019-01-21 23:52] lmsanch opened #460 "Sourcerer profile down"
As in the title, my sourcerer profile is gone. "An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details."

[2019-01-22 00:39] sergey48k commented on #460
sorry about that. we are looking.

[2019-01-22 01:17] lmsanch commented on #460
Thank you Sergey! Profile seems to be up again, but all the badges are missing. A bug?

[2019-01-22 01:17] #460 closed

[2019-01-22 02:03] sergey48k commented on #460
We rolled back some changes to restore it quickly, will address this
tomorrow.
S.

On Mon, Jan 21, 2019 at 5:17 PM Luis M Sanchez <notifications@github.com>
wrote:

[2019-01-22 10:50] kLabz commented on #243
I'm also interested in Haxe support. What could be done to help?

[2019-01-22 16:52] sergey48k commented on #243
@yaronskaya : what would it take to add Haxe extractors to the app?

@kLabz : we can add language support (hopefully, quickly) but we would appreciate any help adding libraries for it in https://github.com/sourcerer-io/awesome-libraries/tree/master/libs

= Sergey

[2019-01-22 22:54] lmsanch opened #461 "Badges, years using specific programming languages, etc."
First of all, congrats to all the developers of sourcerer. Excellent application. Anyway, the issue is the info I had in my badges is gone, and now I can only see "years using X" , etc., which is not compatible with the timeline charts. I.ex, the time line shows some of my python repos as far back as 2012, but the badges say that I have been using python for only 2 years, etc.

[2019-01-22 23:09] sergey48k commented on #461
Hi @lmsanch ,

We will double check your profile, but the change we recently done was to count commit for 'top-developer' badges from repos with 5 or more contributors. The thinking was a commit made in a team is more valuable than a commit made in a repo with one contributor. But since you contributed since 2012, something must be broken in the process. We'll debug. Thank you

[2019-01-22 23:44] lmsanch commented on #461
Thank you @sergey48k . Very interesting observation..I am fascinated by Sourcerer because the local app allows me to account for my private repos. I have been coding since 1982, and since  1998s, I have been coding mostly for banks/hedge funds etc., and nothing is put in  public repos, but private. Most of the time, coding alone is the norm in order to keep proprietary info compartmentalized. The

[2019-01-23 08:05] blubMe opened #462 "Write with extension .re (Reason) but detect as Javascript"
is sourcerer support for Reason / Ocaml lang ? on my github repo its detect using Ocaml lang. But in sourcerer its detected using Javascript lang & immutable. I hope if sourcerer support Ocaml its will be great.

My repos : https://github.com/blubMe/belajar-reason ( detected using Ocaml )

My repos at sourcerer :
![screen shot 2019-01-23 at 15 02 52](https://user-images.githubusercontent.com/17546

[2019-01-23 12:44] yaronskaya commented on #243
Hi @kLabz!
In order to support libraries extraction, you should add information about libraries in [sourcerer-io/awesome-libraries](https://github.com/sourcerer-io/awesome-libraries) and implement class HaxeExtractor(see [example for Scala](https://github.com/sourcerer-io/sourcerer-app/blob/develop/src/main/kotlin/app/extractors/ScalaExtractor.kt)).
If there any questions feel free to ask.

[2019-01-23 13:04] yaronskaya commented on #461
Hi @lmsanch!
Could you please point to your profile at Sourcerer?

[2019-01-23 13:35] lmsanch commented on #461
Sure! https://sourcerer.io/lmsanch

[2019-01-27 00:08] Peuapeu2019 opened #464 "Logging issues when login with github"
Having issue login in when using github login . Other user with username Wise12 is logged in instead of my profile.  Find screenshot below.

![image](https://user-images.githubusercontent.com/45409364/51794297-a4cd2280-219d-11e9-8f81-f01a869f5281.png)

[2019-02-02 11:38] yaronskaya commented on #461
Hi @lmsanch. We slightly updated the formula for badges. Now it works with repositories of small teams too. I hope your profile looks better now.

Still investigating the issue with years.

[2019-02-03 01:54] walterdumba commented on #359
Hi i've stumbled on this issue too, like i've changed my Github name and then i've sincronized my profile at sourcer.io i've and i've realized all my repositories were fetched again so i ended up having all my repositories duplicated.
I guess cache has something to do with that, because i did logout and login and then re-synced my profile and did work.
ps: I was quite almost to open an issue, fort

[2019-02-04 17:11] yaronskaya commented on #462
Hi @blubMe!
Could you please update your profile? Reason should be detected as OCaml now.

Also, you can help us improve the app by adding some libraries for OCaml to [sourcerer-io/awesome-libraries](https://github.com/sourcerer-io/awesome-libraries).

[2019-02-04 19:57] jwoertink opened #466 "Fun Facts section is a bit misleading"
I think this data is pretty cool, but the "Fun Facts" section feels a little misleading to me.

Using [my page](https://sourcerer.io/jwoertink) as an example:

1. I definitely do *not* prefer camelcase.
2. I've used ruby for closer to 15 years, but SVN was a thing before github existed 😛
3. Same for JS, CSS, HTML
4. My most "starred" repo is in Crystal, as well as I contribute to mainly Crystal re

[2019-02-05 03:28] ericgiambattista opened #467 "Error Installing on Mac-osx"
When I run $sourcerer, I get the following message:

Installed  version of Java is not supported.
Sourcerer requires JDK 8+ installed on the system. You can download it from:
http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

After downloading at the above link,

$java -version

yields:

java version "1.8.0_201"
Java(TM) SE Runtime Environment (build 1.8.0_201-b09

[2019-02-05 05:03] sergey48k commented on #467
Hi @ericgiambattista ,

I am a bit confused. Sourcerer did not work because you did not have Java 8. Then you installed Java 8. But what happens then? Do you see the same message when run sourcerer?

[2019-02-05 10:21] ericgiambattista commented on #467
Got this fixed with $brew update gawk

(https://stackoverflow.com/questions/49457773/dyld-library-not-loaded-usr-local-lib-libmpfr-4-dylib)

Full error message (which I should have posted originally) was:

dyld: Library not loaded: /usr/local/opt/mpfr/lib/libmpfr.4.dylib
  Referenced from: /usr/local/bin/awk
  Reason: image not found
Installed  version of Java is not supported.
Sourcerer requires

[2019-02-05 10:21] #467 closed

[2019-02-06 02:42] blubMe commented on #462
Thanks , i've update my profile and now detected as OCaml. 👍

[2019-02-06 03:46] aisensiy opened #468 "Feature request: generate report for specific time bound"
It seems that right now sourcerer will generate a report from the whole git history. What if I want to generate a one year bound report.

[2019-02-06 07:20] #462 closed

[2019-02-06 16:52] FredHappyface commented on #363
Just an update on this, after closing and reopening the account. This issue is fixed for me

[2019-02-07 05:02] EzyBreezy opened #469 "Feature Request: A embeddable snap shot"
A snap shot of information like lines of code or quick analytical data

[2019-02-07 10:21] yandzee commented on #464
@Peuapeu2019 we did an appropriate fix, so it should be ok now, try to signup again

[2019-02-07 10:21] #464 closed

[2019-02-09 18:47] #434 closed

[2019-02-09 19:30] VentGrey commented on #370
Again, same issue here.

[2019-02-11 01:50] JoshuaVandergriff commented on #352
Hey there everyone. I know this may seem like a generally older thread, however I am asking for some kindness to a new practitioner. How exactly do I connect and actively display my Github information? I know this may not work properly as i do not have much on my Github profile (I am just starting out as a Bootcamp student) however I want to get it set up now so it logs over the next 1.25 years as

[2019-02-11 02:32] sergey48k commented on #352
hi @JoshuaVandergriff ,

If your repos are public, you can just login to sourcerer with github: https://sourcerer.io/start

S.

[2019-02-11 02:34] sergey48k commented on #352
But if you want to do the local repos, just follow the instructions above by @mutiemule

[2019-02-11 09:48] TheKetan2 opened #470 "My profile stats are not getting displayed even after multiple scans. I deleted my account and signed in again using GitHub but problem still persists. Any help will be appreciated. Great tool indeed!"

[2019-02-11 09:48] TheKetan2 commented on #470
Profile link: https://sourcerer.io/theketan2

[2019-02-11 20:44] sergey48k commented on #470
@anatolystansler - could you take a look?

[2019-02-11 20:45] sergey48k commented on #466
@yaronskaya - could you debug this case?

[2019-02-11 20:46] sergey48k commented on #452
Wow. sorry that I missed that. Did it just happen once? Or did it happen again?

[2019-02-12 09:50] janvanveldhuizen opened #471 "Cannot change my picture"
When I want to change my picture the Save button is somewhere outside the window, and there is no scroll bar...

[2019-02-12 15:54] iansan5653 opened #472 "Stats say I've contributed 745k LOC in 760 commits but I definitely don't average close to 1k LOC per commit"
Pretty much what the title says. My profile stat for lines of code seems excessively high - almost all of my commits are less than 100 lines.

[2019-02-12 16:00] iansan5653 opened #473 "When processing, you cannot access the top menu bar"
The top menu bar of the site is not accessible when processing repos.

[2019-02-14 16:07] yaronskaya commented on #461
Updated calculation of the number of years is in production.

[2019-02-14 16:07] #461 closed

[2019-02-15 09:17] yaronskaya commented on #466
Hi @jwoertink! Thank you for your comments.

1. We are debugging that.
2, 3. Currently, we don't support svn repositories, so the Ruby has 10 years.
4. We've added how long you've been using Crystal.
5. The dark means night time:) How does the graph should look like to your perception?

[2019-02-15 12:57] revolter commented on #466
Maybe it should say something along the lines of "I've used Ruby for at least 10 years" and maybe add an info button that explains that the respective information is deduced from GitHub (or GitLab) activity and might not be 100% accurate.

[2019-02-15 16:09] jwoertink commented on #466
Yeah, I like the "for at least", even though it does make it a bit verbose. Maybe could use ">= Xyrs"? I think it's all starting to make a bit more sense now. Thanks @yaronskaya!

[2019-02-16 10:27] TheKetan2 commented on #470
Is it a bug or is there some problem on my part?

[2019-02-18 08:03] kajchang opened #474 "Stuck at 1 / 36 processing"
I logged into sourcerer through Github, and after processing the first repo, which is an repo that I was added as a contributor for but I've never committed to, it doesn't continue to process. I tried refreshing github repos, but that just changed it to 2 / 72. I got rid of sourcerer from my Oauth apps and re-added it still with the same problem.

[2019-02-18 08:08] kajchang commented on #474
Now all of them have failed with `Timeout reached`.

[2019-02-18 14:13] yaronskaya commented on #466
Fixed calculation of variable naming fact. Should be snake_case now.

We will add mention of possible older contributions soon. Thank you @jwoertink!

[2019-02-18 15:22] kajchang commented on #474
It finally worked overnight, I don't know exactly what the problem was.

[2019-02-18 15:22] #474 closed

[2019-02-18 15:38] kajchang commented on #472
For me, I think I've committed `node_modules` a few times, and technologies like `bootstrap` show up as 4k LOC and `jquery-validate` shows up as 11k so maybe there should be a check that excludes vendored / `node_modules` code.

[2019-02-18 16:27] kajchang commented on #472
@yaronskaya was this removed globally? Because this type of filter would probably help.
https://github.com/sourcerer-io/sourcerer-app/issues/456#issuecomment-456038758

[2019-02-18 17:12] iansan5653 commented on #472
I think it might have something to do with submodules? Sourcerer says I contributed 500k lines in [this range](https://github.com/usf-avc/public-website/commits?author=iansan5653&since=2018-02-01&until=2018-03-01), but the biggest commits I can find are still only 20k lines ([here ](https://github.com/usf-avc/public-website/commit/87adcb310112befb21b19295c47ae1a29181a614) and [here](https://github

[2019-02-18 17:37] iansan5653 commented on #472
Actually, never mind. Here's the 650k line commit https://github.com/usf-avc/public-website/commit/18a0f4c2d6be2feea346eefdc9ef62cfc8479a7b

[2019-02-18 17:55] kajchang commented on #472
I worked on a repo without `node_modules` in `.gitignore` and when I added a dependency it added 200k LOC: https://github.com/rishinath4159/discord-app/commit/c3a1e7af22268a49711f5d334253b004221e35c3.

[2019-02-18 18:03] jwoertink commented on #466
It's looking great! Thanks for the update.

[2019-02-21 16:16] MikeColes opened #475 "Mismatch between fonts for "Followers" and "Following""
![image](https://user-images.githubusercontent.com/11658633/53183609-a1c12880-35c9-11e9-8eda-3975385ef03b.png)

I'm not sure if this is intentional or not. It looks like the attributes for the count of Followers and the count of Following is mismatched (slashed zero vs non-slashed zero).

[2019-02-22 10:37] alexxxdev opened #476 "Icons in the icons are located at different levels in height."
![sourcerer](https://user-images.githubusercontent.com/975579/53236988-31e59780-36c8-11e9-87ef-173cc1eae8e2.png)
It would be cool if the icons were always on the same level.

[2019-02-27 05:28] JLLeitschuh opened #478 "[SECURITY] Releases are built/executed/released in the context of insecure/untrusted code"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)
[CWE-494: Download of Code Without Integrity Check](https://cwe.mitre.org/data/definitions/494.html)

The build files indicate that this project is resolving dependencies over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infec

[2019-02-27 05:39] sergey48k commented on #478
thanks @JLLeitschuh !

[2019-02-27 08:20] #478 closed

[2019-02-27 08:30] PandiyanCool opened #480 "missing repo details"
I have 43 repos but it showing only details of 5 repos

Profile link:
https://sourcerer.io/pandiyancool

[2019-02-27 15:47] outcastdreamer commented on #269
I am also having this problem, my latest repos are not been shown on my profile but my old ones are. It also shows that I have worked the most on HTML and CSS as per my previous deleted repos in the pie chart on my profile page which isn't true anymore. My sourcerer profile is :
sourcerer.io/outcastdreamer

[2019-02-28 15:51] angelcervera opened #481 "Only US number format is allowed."
In https://sourcerer.io/settings#jobs is not possible to use the phone number from outside of the US.

For example, my phone number in Ireland is +353861245678 with international prefix or 0861245678 without international prefix.

To reproduce the problem, try to set this number and save.

[2019-02-28 15:53] angelcervera commented on #327
Same problem for me.

[2019-03-04 07:20] yaronskaya commented on #472
Hi @kajchang. We updated the app so it doesn't count node_modules now.

[2019-03-04 16:03] kajchang commented on #472
Thanks, it's working well for me now!

[2019-03-04 17:24] #472 closed

[2019-03-05 15:04] iansan5653 commented on #473
Seems to be fixed...

[2019-03-05 15:04] #473 closed

[2019-03-05 15:07] iansan5653 commented on #472
@yaronskaya Can this be reopened? My original issue was not fixed -- this commit (usf-avc/public-website@18a0f4c), for example, is 650,000 lines without involving node_modules. Could you set a maximum line limit per commit, or at least allow me to set one?

[2019-03-05 15:08] iansan5653 commented on #472
Actually, never mind. Looks like it is handled already and my profile hadn't updated.

[2019-03-10 16:59] yaronskaya commented on #456
Hi @NeuroWhAI, sorry for the long reply. Looks like you have just one commit with code in c++.
Since we show top 6 languages by the number of commits, c++ doesn't appear there.
Top developer fun fact is also based on the number of commits. So it's not shown for c++ too.

[2019-03-14 18:12] herodrigues commented on #481
Sadly, this is true. The input mask only works for US numbers.

[2019-03-14 23:42] ZapDos7 opened #483 "Repository is empty when it shouldn't be"
Hello. I visited the site, and created an account using GitHub. The site processed my repos but eventually came up with nothing, when it should display my public repos.
Then, I tried the terminal/app method, using the code sent to me via email: I installed the app and the check performed informed me that all my repos had been scanned (even the private ones) and that my profile had been updated, ye

[2019-03-15 09:47] yandzee commented on #481
Yes, we only support phone numbers in international format, `+353861245678` works.

[2019-03-19 16:19] anatolystansler commented on #483
Hello @ZapDos7!
We had a bug on our server, your commits were not assigned to your profile. It's fixed now. Thank you for reporting an issue.
Feel free to use the app to add your closed source repo to the profile.

[2019-03-19 16:19] #483 closed

[2019-03-19 16:28] anatolystansler commented on #471
Hi @janvanveldhuizen!
Sorry for the late response. What browser and platform do you use?

[2019-03-19 16:38] anatolystansler commented on #470
Hi @TheKetan2!
Problem is fixed now. I've updated your profile. Thank you for reporting and issue!

Refreshing of a profile should help now if someone encountered the same problem before.

Related to #483

[2019-03-19 16:38] #470 closed

[2019-03-19 16:57] anatolystansler commented on #427
Hi @Whatapalaver!
Sorry for a late response, we've finally fixed the problem and updated your profile, you can use it now.

Related to #483

[2019-03-19 16:57] #427 closed

[2019-03-19 17:55] anatolystansler commented on #480
Hi @PandiyanCool!

Thank you for creating an issue! I've updated your profile after latest fixes of processing algs. Your profile contains more repos now, but not all of 43. Here is why:

|Repo|Comment|
|---|---|
|csharp-practice|Presented|
|angular-clipboard|Presented|
|test-proj|Presented|
|pipeline-test|Presented|
|azure-pipeline-demo|Presented|
|BeingYoutuber|Presented|
|NationForesee|Presente

[2019-03-19 18:43] anatolystansler commented on #481
@yandzee Phone field works really strange for me. Max length bound counts plus in first case and not in second. It is definitely hard to type sample phone number to the edit.
![1](https://user-images.githubusercontent.com/29913247/54632852-0324cc00-4a90-11e9-8449-3e11e454d2b5.gif)
![2](https://user-images.githubusercontent.com/29913247/54632854-0324cc00-4a90-11e9-9eeb-15d09a7a917d.gif)

[2019-03-19 18:48] anatolystansler commented on #451
Hi @pieshop!

Sign up should not be a problem, try again, please.

[2019-03-20 08:55] janvanveldhuizen commented on #471
I tried Firefox and Edge.
![image](https://user-images.githubusercontent.com/43573150/54671480-4dd92f00-4af6-11e9-8525-5118b02983e6.png)

[2019-03-20 08:56] janvanveldhuizen commented on #471
Sorry, closed it unintentionally

[2019-03-20 09:43] ajanssens opened #484 "Error 500 on hashing"
Hello facing this issue:

[code]

Also having a few timeouts

[code]

[2019-03-20 15:04] yandzee commented on #475
Fixed. Thank you!

[2019-03-20 15:04] #475 closed

[2019-03-20 15:04] yandzee commented on #471
Fixed.

[2019-03-20 15:04] #471 closed

[2019-03-20 15:05] yandzee commented on #476
Fixed.

[2019-03-20 15:05] #476 closed

[2019-03-20 19:46] ZapDos7 commented on #483
Thank you so much! I have used the app already.

[2019-03-20 20:45] dan-compton opened #485 "Jsonnet Support (.jsonnet, .libsonnet)"
Jsonnet (ext: .jsonnet or .libsonnet) made it into github linguist https://github.com/github/linguist/blob/c71777f52cb5c61e5cd3c62445c86ad2a0b3e872/grammars.yml#L482 but you're missing support for it

[2019-03-21 07:21] PandiyanCool commented on #480
Thanks, thats helpful!

[2019-03-21 07:21] #480 closed

[2019-03-21 10:11] clime commented on #484
The same here. E.g.
[code]
or sometimes it fails later during hashing.

[2019-03-21 14:56] Hermesiss opened #486 "Deleted repo displayed, active repo doesn't"
Can be related to https://github.com/sourcerer-io/hall-of-fame/issues/36
Deleted repo was [problem repo](https://github.com/SamaraITCommunity)'s fork
Existing repos are processing correctly, but [one ](https://github.com/Hermesiss/unity-navigation-splines)is absent in profile

[2019-03-21 15:24] anatolystansler commented on #484
It works now, thank you for reporting an issue.

[2019-03-21 15:24] #484 closed

[2019-03-21 18:30] Hermesiss opened #488 "Matlab and Unity"
App shows matlab in a half of my commits, but I never used it. I'm working mostly in Unity, and there's a Unity material file format *.mat , maybe there's the reason?

[code]

[2019-03-22 04:46] Hermesiss opened #489 "Order of repos doesn't save"
Order resets to default after page refreshing. Can be related to #486

[2019-03-22 04:48] Hermesiss commented on #486
Added missing repo via local app, but its info doesn't update with "update github repos"

[2019-03-22 09:12] TheKetan2 commented on #470
It's working now, Thank You very much.

[2019-03-23 15:40] fsancheztemprano commented on #294
Hello, i didn't want to open new issue jic...
i believe i have similar issues, my profile
https://sourcerer.io/fsancheztemprano
says i have 1 contribution to
https://github.com/fsancheztemprano/YYY_DaLi
but i have nearly 320 commits

am i doing something wrong?
i rescaned several times, deleted my sourcerer account and re created it no fix.
thanks in advanceq

[2019-03-26 06:29] ethanae opened #490 "Testing frameworks/tools"
Does the app currently support recognising testing frameworks?

If not, that would be really helpful and maybe way down the line... test coverage?

[2019-03-27 22:07] sergey48k commented on #490
We recognize some testing frameworks, but we currently don't support things like test coverage. One day, hopefully.

[2019-03-31 02:23] PabloPavan opened #492 "Support to Org-Mode"
Support for Org-Mode files could be added.
Several codes in other languages are written in this format, e.g., Shell, Python, and R.

[2019-04-02 01:59] Kimeiga opened #493 "Misspelled "No following" as "No nollowing""
I just clicked "Following" from the header

![image](https://user-images.githubusercontent.com/20587215/55370700-34e65b80-54b0-11e9-9d73-b57c360e74e4.png)

and got

![image](https://user-images.githubusercontent.com/20587215/55370706-3f085a00-54b0-11e9-8532-2858d15e4f9d.png)

I believe its "following" not "nollowing" :)

[2019-04-02 12:18] marcosps commented on #269
This bug is still present, and somehow it makes the tool not so useful as it should be, because it shows some work that I wouldn't like to point in my github. Can you guys also create a configuration entry to choose between the repos that would be shown?

[2019-04-03 12:34] whoan opened #494 "Not having access to an email accoun- from a previous job. What to do?"
I don't have access to an email account from a previous job, so how can I confirm the account belongs to me?

[2019-04-07 08:05] dan-compton commented on #494
I actually  have the same issue and I think it's going to be a common one.  One solution would be to verify your commits with PGP -- then you could prove that you were the committer regardless of email I think.  (e.g. export your public key, and sourcer.io executes a challenge using it).

If the startup went under, you could buy the domain...

[2019-04-07 08:47] dan-compton opened #495 "Support multiple file extensions which map to the same language"
Some languages support multiple file extensions that result in no behavioral difference in compilation.  Jsonnet is one of those.  Frequently used extensions in jsonnet are .jsonnet, .libsonnet, and .TEMPLATE (by datastax).

In object Heuristics, fun analysze, we first attempt to find the extractor factory by file extension.  For the above case, this will fail approximately 50% of the time unless

[2019-04-07 08:49] dan-compton commented on #485
Update:  This work is complete but tentatively blocked on the results of my issue/suggestion here:  https://github.com/sourcerer-io/sourcerer-app/issues/495

[2019-04-07 16:12] OtakuSenpai opened #496 "I'm having trouble updating my github history on sorcerer.io"
Hey there, nice product you have got !
I currently commit files to my github from the cli git command, and somehow sorcerer.io can't check
if both the accounts are same.

Sample : https://postimg.cc/fkzJrV0S

Can you please do something about it ? I'm really looking forward to using this service.

[2019-04-07 16:31] OtakuSenpai commented on #496
Apparently I used a different email and the way github uses git config files to store the commits are quite bad for me.
https://help.github.com/en/articles/why-are-my-commits-linked-to-the-wrong-user
Can you do something about it? I have written quite a lot code, that I don't want to go to waste :frowning:

[2019-04-07 17:29] obahareth opened #497 "Timeouts and HTTP errors when trying to open profile"
Hi,

I have been unable to open my profile https://sourcerer.io/obahareth

For a couple of days now. I either get timeouts or 502 bad gateway errors.

[2019-04-07 19:18] sergey48k commented on #495
@yaronskaya Could you please comment?

[2019-04-07 20:03] sergey48k commented on #496
Hi @OtakuSenpai ,

Could you send an email to support@sourcerer.io and include both of your email addresses? We will look into it.

Best,
Sergey

[2019-04-08 03:07] alexxxdev commented on #497
I have the same problem (

[2019-04-08 07:08] OtakuSenpai commented on #496
Thanks a lot man

[2019-04-08 08:05] OtakuSenpai commented on #496
Sent the email.

[2019-04-08 10:08] dan-compton commented on #495
@sergey48k @yaronskaya

Depending on your philosophy and deployment strategy, a new microservice could potentially be a great way to break out language-detection.  It could rely primarily on/proxy https://github.com/yoeo/guesslang which is 90% accurate across various language-guessing tasks (from snippets).  The service's API might look like:

[code]

[2019-04-08 12:18] AlexWayfer commented on #497
The similar for https://sourcerer.io/asterite

![image](https://user-images.githubusercontent.com/6510020/55723210-23053b00-5a11-11e9-9fd1-eb36dfc4f055.png)

Or a blank (white) page.

`net::ERR_SPDY_PROTOCOL_ERROR`

[2019-04-08 14:35] OtakuSenpai commented on #496
This is my off.avraneel@gmail.com (dont use it very much though).
The other one linked on my Github account is edu.avraneel@gmail.com.

And the one I actually had on the git config is this string "Find me on
Freenode".

Hope that helps,
Avra Neel.

On Sun, Apr 7, 2019 at 8:03 PM Sergey Surkov <notifications@github.com>
wrote:

[2019-04-08 19:53] yaronskaya commented on #496
Hi @OtakuSenpai !
'Find me on Freenode' is not a valid email. So it is not stored in our databases.
You can change email manually(see [guide](https://help.github.com/en/articles/changing-author-info)).
If you don't want to store emails on github then you can run sourcerer-app locally for a repo with updated git history.

[2019-04-09 07:14] yaronskaya commented on #495
Hi @dan-compton.
`Languages.kt` stores just language names, not extensions. Extensions are stored in `HeuristicsMap`.
So if the language has multiple extensions then you should add the mapping of an extension  -> Extractor for each extension of the language(see how mapping was implemented for cpp for example). If multiple languages have common extension then we use language regexes to decide which

[2019-04-09 07:27] dan-compton commented on #495
https://github.com/sourcerer-io/sourcerer-app/blob/develop/src/main/kotlin/app/extractors/Heuristics.kt#L278-L357  demonstrates that the extensions used in Heuristics.kt are indeed provided  by Language.kt in some cases.   In others, regular expressions are used that have no known (AFAIK) accuracy rate.    I'm suggesting that this language-detection behavior be normalized and encapsulated in it's

[2019-04-09 15:54] OtakuSenpai commented on #496
Thanks alot, did it and my profile seems fair enough.
Cheerios !!

[2019-04-10 06:04] CorruptComputer commented on #369
This seems to be happening to me as well, it sucks too cause I just got done analyzing 63000 commits which took hours to do and I would hate to have to do all that again.

[code]

[2019-04-10 06:32] CorruptComputer opened #499 "This repo appears in my profile 3 times"
![image](https://user-images.githubusercontent.com/5573038/55856598-5ee2f200-5b30-11e9-9dad-f2b4d4785ed0.png)

It also shows as HTML, even though it only has Java code in it.

[2019-04-10 06:58] yaronskaya commented on #496
@OtakuSenpai cool 👍

[2019-04-10 06:58] #496 closed

[2019-04-10 08:35] yaronskaya commented on #495
@dan-compton  Regarding confidentiality I mean that code snippets shouldn't go somewhere out of the sourcerer-app.
Another thing that worries me is that we should run classifier for each snippet. For big repositories, it would take really much time.
Also, I didn't find the number of languages supported there.

[2019-04-10 12:10] Hermesiss commented on #499
Similar
![image](https://user-images.githubusercontent.com/20972731/55877499-2a604c00-5bab-11e9-86ec-996c08579b0f.png)

[2019-04-14 09:23] nfuhs opened #501 "Can't create account with old same github name"
Hi,

I deleted my old github account nfuhs and now I'm using this one.

I can grant access to github:

![Github-2](https://user-images.githubusercontent.com/48379615/56090809-7a8b2700-5ea7-11e9-848a-d335105c14a2.png)

I deleted my old sourcerer.io account nfuhs and wanted to create a new one but if try to I only get this error message :

![sourcerer](https://user-images.githubusercontent.com/48379

[2019-04-15 06:17] dan-compton commented on #495
Sorry -- have been busy with handoffs and birthday celebrations.  First of all, you bring up a good point regarding lack of support for many languages that linguist does support.

_You bring up a good point that guesslang only supports 20 languages.  So, I'm going to go ahead and implement the code in the existing framework -- look for a PR tonight or tomorrow._   Linguist supports 453 types of st

[2019-04-16 13:41] aodj commented on #494
It's even worse than that in some cases, if you haven't configured git correctly and your commits come from the hostname: `alexander@Alexanders-MacBook-Air.local` for example.

Good luck validating that email address.

[2019-04-16 17:02] #494 closed

[2019-04-21 17:24] obahareth commented on #497
It now works for me but takes quite a while to open.

[2019-04-22 11:12] AlexWayfer commented on #497
Yep, `/asterite` is working now after many seconds:

![image](https://user-images.githubusercontent.com/6510020/56498034-b1e17f80-6508-11e9-8138-703339cf9e36.png)

[2019-04-22 15:04] sergey48k commented on #501
@anatolystansler could you help?

[2019-04-22 15:05] sergey48k commented on #499
@anatolystansler - could you help debugging this?

@yaronskaya - can we not select HTML if a repo has  a programming language?

[2019-04-22 15:06] sergey48k commented on #497
folks, we are working on optimizing this. yes, for some profiles loading times are bad at the moment.

[2019-04-22 15:06] sergey48k commented on #493
@yandzee can you please fix?

[2019-04-22 15:07] sergey48k commented on #492
@yaronskaya could you take a look?

[2019-04-22 17:50] reuben opened #502 "Error while hashing: Protocol message end-group tag did not match expected tag."
Ran into this while trying to hash https://github.com/mozilla/DeepSpeech/

I added some debugging code and the problem seems to be that `libraries_meta.pb` points to a `cpp.tensor-flow.pb` classifier which does not exist in the server:
[code]

Trying to download that URL directly shows a XML error about the file not existing. I'm assuming the code then tries to parse a protobuf out of the XML erro

[2019-04-22 18:45] reuben commented on #502
After manually patching the code to replace `cpp.tensor-flow` with `cpp.tensorflow` I ran into the same problem but this time with boost.Program_Options: https://storage.googleapis.com/sourcerer-app/library-models/v2/cpp/cpp.boost-program_options.pb

[2019-04-22 18:52] reuben opened #503 "NullPointerException in CodeLongevity hasher"
I added a line to print the stack trace when an error is found during hashing, here's what I get while hashing https://github.com/mozilla/DeepSpeech with the CommitHasher disabled (due to #502):

[code]

[2019-04-22 18:58] reuben opened #504 "Build error in task :generateProto - Value 'directory '.../sourcerer-app/build/extracted-protos/main'' specified for property '$2' cannot be converted to a file"
Gradle scan: https://scans.gradle.com/s/pbxnfb4bsjcdu

Seems to be a problem with protobuf-gradle-plugin, upgrading to 0.8.4 fixes the problem for me: https://github.com/gradle/gradle/issues/6877#issuecomment-424198125

[2019-04-22 19:22] ben9992 opened #505 "Offline support"
Can I deploy this app with server on offline systems?

[2019-04-22 22:29] sergey48k commented on #505
Hi @ben9992 ,

Not at the moment, but we are working on it. If you can share your use case (here or dm to sergey@sourcerer.io), I will appreciate it.

= Sergey

[2019-04-22 22:36] sergey48k commented on #504
@anatolystansler @yaronskaya : did we break something?

[2019-04-22 22:46] anatolystansler commented on #502
Hi @reuben. Based on your other issues I can guess that during app building you had an issue with protobuf generator. `Protocol message end-group tag did not match expected tag.` error usually means that something is wrong with protobuf models. Try to rebuild them again.

[2019-04-22 23:35] reuben commented on #502
How do I rebuild the protobufs? I ran into this problem with a release version of the app, installed via `curl -s https://sourcerer.io/app/install | bash`, the only reason why I modified the code was to try and figure out what was going on.

[2019-04-22 23:38] reuben commented on #502
And yes, something *is* wrong with the protobuf, it's trying to download a protobuf from https://storage.googleapis.com/sourcerer-app/library-models/v2/cpp/cpp.tensor-flow.pb and getting a 404 error. Instead of giving up, it tries to parse the contents of the 404 error page.

[2019-04-22 23:54] sergey48k commented on #502
@yaronskaya did we lose a classifier from production? maybe it's a versioning issue?

[2019-04-24 14:08] tiagodenoronha opened #506 "Feature Request: Default Verified Repos"
There are some user's which should have verified repositories (Google, Microsoft, Github, etc).

My proposal is to, in some way, make a list of users whose repos should be verified by default.

For example, if Microsoft was a "Verified User", then if I contribute to Microsoft/AI, that repo would be verified.

What do you think?
Have I gotten the concept of Verified wrong?

[2019-04-25 08:55] yaronskaya commented on #502
@reuben Could you please rebuild app again? Issue with cpp.tensorflow should be fixed now.

[2019-04-26 19:14] yaronskaya commented on #492
Hi @PabloPavan. Could you please give an example of such files?

[2019-04-28 07:50] #501 closed

[2019-04-28 22:52] reuben commented on #502
@yaronskaya successfully got past the `cpp.tensorflow` problem, now getting a similar error with `cpp.boost-program_options`:

[code]

[2019-04-29 00:40] PabloPavan commented on #492
Sure, the extension of this file is .org.
Below an example this file with R code blocks, the code started using the tag ``#+begin_src R`` end finished with ``#+end_src R``
Another programming language can be used, inclusive in the same org file along with other languages.

This file starts with a head that contains some attributes of the file. The " * " is similar to " # " in Markdown.

[code]

[2019-04-30 08:33] yaronskaya commented on #502
@reuben it should work now. Hopefully you won't get this error again.

[2019-05-02 09:25] yaronskaya commented on #492
@PabloPavan looks like it is sort of documentation similar to README. We currently do not take into account text and documentation files.

[2019-05-03 11:48] nfacha opened #508 "Server issues?"
![photo_2019-05-03_11-47-03](https://user-images.githubusercontent.com/8540172/57135562-5ed5bb00-6d99-11e9-8f3c-6d105661cfaa.jpg)

Not a network issue on my side, site works just fine.
The problem persists across multiple devices and geographically different networks.

[2019-05-03 20:01] JLLeitschuh commented on #478
@sergey48k This should probably have a followup, either auditing if there was any compromise of this app, or a CVE should be issued.

If you want to audit, you can use this tool to compare JAR files:
https://reproducible-builds.org/tools/

[2019-05-07 14:36] parmentelat opened #511 "newbie questions"
I've just created a profile on sourcerer; for now from just github

https://sourcerer.io/parmentelat

I have a few questions:

* I try to refresh/update github repos, there's a message about progress, like * Processing
3 out of 34 repos have completed*; but it does not seem to reach that many repos, the most I have seen for now is 15; it might be just me being too impatient, but it's been 1h30 alr

[2019-05-08 07:49] tsnowlan commented on #508
I haven't been able to connect for probably 3 weeks. Refresh github/gitlab from site also still times out for me, though.

[2019-05-08 14:51] yaronskaya commented on #508
@tsnowlan did it finish processing? You can find it in Settings->Processing.

[2019-05-08 14:52] yaronskaya commented on #508
@tsnowlan did it finish processing? You can find it in Settings->Processing.

[2019-05-08 16:36] yaronskaya commented on #508
@tsnowlan is the processing finished properly? You can find it in Settings->Processing.

[2019-05-09 09:08] tiagodenoronha commented on #511
Hey, if you go to https://sourcerer.io/settings#processing you can see what repos are being processed and their state!

[2019-05-09 09:14] tiagodenoronha commented on #240
Any progress on this one? Still getting the error :)

[2019-05-10 18:07] yaronskaya commented on #511
Hi @parmentelat

It is better to see the status of processing in Settings->Processing since the banner might be wrong.
Now your profile shows 18 repositories. 3 repositories are big and weren't processed, 6 repositories don't contain commits with your emails. Looks like other 7 repositories have commits with languages that sourcerer doesn't process yet. One such case is .ipynb files. But we are wo

[2019-05-11 07:38] parmentelat commented on #511
hey there

thanks for your answer

I had not spotted the 'settings' thing at first, and it took me a while to figure once you told me it was there...

I still could not figure how to change the scope of what gets scanned; how do I turn off repos ?

also, a substantial part of my work goes into repos owned by github organizations, like https://github.com/fit-r2lab and https://github.com/flotpython,

[2019-05-15 10:19] yaronskaya commented on #511
@parmentelat at the moment we don't support the scope of what gets scanned in the site. You can use the app to scan additional repositories.

[2019-05-18 01:05] #508 closed

[2019-05-18 22:25] grabear opened #514 "git/github username mixup."
I'm having an issue that's I think is related to (or at least compounded by) #370.

I'm having the repo processing issues.  I only have 17 in my sorcerer.io profile, but if you look at GitHub I have 66 (some of them might be private), and that's not including the ones that I have in all of the organizations that I contribute to.

Additionally, if you look at the repositories that are on my profile

[2019-05-24 13:17] iminchenko opened #515 "C recognized in C ++ repos"
In repositories https://github.com/dahek/labs and https://github.com/iminchenko/opticalexperiment only C++ code that correctly recognized by github. But in the sourcerer profile indicated the presence of pure C code.

[2019-06-04 02:58] KeithETruesdell commented on #511
for the repos that are private that one would use the app for, do you need to run the `sourcerer` app every so often in order to get the new commits?  Or is there a process already running or something that will check once the config file is created, or something else?

[2019-06-04 20:27] sergey48k commented on #511
Hi @KeithETruesdell ,

There is no process for auto-update of private repos just yet. If you are on Unix-like system, you could schedule sourcerer via a cronjob or the like.

Best,
Sergey

[2019-06-14 06:08] yasirmturk opened #517 "Local repos list deleted/reset automatically"
While i continue adding my local repos by navigating to the repo root and using
`sourcerer add .`
after a while it starts resetting the list and previously added local repos are removed from the list :(
![punchee_—_punchee_Yasir-MacBook-Pro_—_-zsh_—_121×37_and_New_Issue_·_sourcerer-io_sourcerer-app](https://user-images.githubusercontent.com/306691/59486999-ae2d0200-8e94-11e9-94b0-b1253e97ce9e.jpg)

[2019-06-17 15:13] KeithETruesdell opened #518 "ColdFusion Language Support"
I know its a semi-dying language, but is there any support for ColdFusion as a language?
That might open up a whole can of worms with CFC vs CFM and CFScript vs CFTags and the different frameworks.
The area and usage for this is very niche I understand.  I have several repos that are in CF (and are private).  I love this and just thought that would be cool.

[2019-06-17 15:29] KeithETruesdell opened #519 "Markdown Language Support"
Is there an option to add Markdown Language support?

I have 2 different thoughts here. about this.

First is that many of my repos, and many others, have a several standard markdown files, possibly named `.md` or `.markdown`, such as `license.md`, `contributing.md`, `readme.md` and so on.  These seem to be counted for commits and some fun facts.
This would also be nice if it was separated out for

[2019-06-29 09:07] CorruptComputer commented on #499
So I was able to fix this by deleting my profile and making it again. This really isn't a good solution though.

It seems to have created another issue though, the repository which was giving me issues is now showing myself as two different contributers for some reason:
![image](https://user-images.githubusercontent.com/5573038/60382059-442f6380-9a23-11e9-9c99-b6e5a39c3aaf.png)

[2019-07-02 11:29] sellingsolutions opened #520 "Error while hashing: GC overhead limit exceeded"
This only happens with large local repositories

[2019-07-05 17:13] tawilkinson commented on #425
Same problem here. I've sent an email to the email listed on the Sourceror github page in the hopes of a support fix to this. I think this is an issue for people who signed up very early on.

[2019-07-06 09:57] sellingsolutions opened #521 "How do I ignore folders/files?"
Sourcerer crashes at 99% when processing certain folders so I figured there might be a way to ignore them?

Kind of like a .gitignore for Sourcerer?

[2019-07-11 10:56] sergey48k commented on #520
@anatolystansler can this be fixed with a JVM setting?

[2019-07-11 13:13] yaronskaya commented on #521
Hi @sellingsolutions
you need to create .sourcerer-conf inside of your repositories.
Add the following information there

` [ignore]`
 `path/to/first_file.ext`
 `path/to/second_file.ext`
and run the app again.

By the way, what sort of files it crashes in?

[2019-07-17 16:16] edgarberlinck opened #523 "Support for Svelte"
Hi. Have you guys any plan to support Svelte (https://svelte.dev/)?

[2019-07-17 18:02] sergey48k commented on #523
We don't but if it's just detecting extension, it should not be too hard. @yaronskaya , what do you think?

[2019-07-17 20:35] edgarberlinck commented on #523
I`m trying to do, but I don`t understand some points of your code.

I did the same logic at JavascriptExtractor to detect .svelt files just like Vue files. I think it should work after I update the awesomeLibs files and create a js.svelte property.

My problem is: The tests are not passing. Can you guys take a look at may code? Maybe I`m close to do it.

https://github.com/edgarberlinck/sourcerer-

[2019-07-18 07:23] yaronskaya commented on #523
Hi @edgarberlinck,
first of all add the library to [sourcerer-io/awesome-libraries](https://github.com/sourcerer-io/awesome-libraries) so that it to be indexed to be shown in the profile. Also add a test like [this](https://github.com/sourcerer-io/sourcerer-app/blob/06252cd5a980d2f6097395ffb6cb57769c591033/src/test/kotlin/test/tests/hashers/CommitHasherTest.kt#L344).
Your code passes tests for me.

[2019-07-18 15:54] edgarberlinck commented on #523
Nice. Thanks for your help @yaronskaya, that helps me alot!

My pull requests are ready, I think everything is ok. Glad to contribute to this amazing tool.

[2019-07-19 09:41] Seia-Soto opened #525 "Is 'No nollowing' typo error?"
![image](https://user-images.githubusercontent.com/30369714/61526101-b9a3b800-aa54-11e9-8247-1e8aebbcb001.png)

In following page.

[2019-07-19 19:21] #523 closed

[2019-07-26 06:28] mlaggner commented on #369
I am getting this error too in my big repo:

[code]

I could not manage to hash that repo (tried several times on different days)

[2019-07-26 07:28] mlaggner commented on #382
would be great too, since I have almost all my repos in a gitlab group

[2019-07-31 14:57] MHillier98 opened #527 "Adding Repositories - Status 'OK', but not appearing on profile"
I've attempted the process several times, but haven't had any success in actually adding any repositories to my profile.

If I use the Refresh button to update my GitHub repos, it gives the message "Finished 2 repos ok, 5 skipped."
I've also tried using the desktop app, which doesn't give me any errors and appears to process correctly?

Maybe it takes more time to add to my profile, or I'm misunde

[2019-08-03 19:25] yaronskaya commented on #527
Hi @MHillier98! Check your profile - the repositories have been added to your account.
FYI commits in your repositories had invalid emails. If you plan to process new repositories, consider changing wrong emails. See (changing author info)[https://help.github.com/en/articles/changing-author-info]

[2019-08-04 01:34] MHillier98 commented on #527
Thanks!

[2019-08-07 17:57] TravisEz13 opened #528 "Recognize Dockerfile as a language"

[2019-08-07 21:34] gigashiro commented on #527
+1 having same problem here with my gitlab account. I've checked my email.

[2019-08-09 13:37] patrickmonteiro opened #531 "Add the Quasar Framework"
Is there a possibility to add the Quasar Framework?

Since it is possible to recognize frameworks like Angular and Vue, I think it would be interesting for Quasar as well.

Quasar Documentation Link: https://quasar.dev

[2019-08-09 13:41] lucianopereira86 commented on #531
It would be a great addition!
Quasar is the future

[2019-08-09 13:44] thauska commented on #531
Waiting for this to.

[2019-08-09 16:48] sergey48k commented on #531
@asurkov could you look into it and see if we can add Quasar quickly?

[2019-08-09 16:57] patrickmonteiro commented on #531
@asurkov  any questions please contact @nothingismagick

[2019-08-09 16:59] nothingismagick commented on #531
Just let me know what you need.

[2019-08-09 23:44] lucianopereira86 opened #532 "Private repos uploaded with success but not updating profile"
Hello!
First of all, congratulations for this amazing tool.
My username is: lucianopereira86
I've uploaded many private repositories with Sourcerer app by following the steps described below.

- Used Git Bash to install Sourcerer with this command:
 curl -s https://sourcerer.io/app/install | bash

- Opened the sourcerer folder:
C:\Users\luxcl\.sourcerer

- Ran this command with Powershell:
java -j

[2019-08-10 06:07] yaronskaya commented on #527
Hi @gigashiro. Looks like you don't have any personal projects in your gitlab account.
By the way, you can process any repositories locally using the app.

[2019-08-11 18:05] ruchern opened #533 "Option to disable email notification after processing repositories are done"
At this moment, email notifications are being sent upon each successful profile refresh. Could we have an option to disable this?

Thank you!

[2019-08-13 15:44] asurkov commented on #531
@nothingismagick, do you have tips/suggestions how to recognize this particular vue file is a quasar one?

As far as I see quasar is build on vue (SFC vue files), so any quasar file is a vue one. Quasar defines own set of vue directives, components and plugin, which are connected via /quasar.conf.js in a proejct. So the presence of this config file in the project may indicate it is is a quasar pro

[2019-08-14 08:32] burhanhelmy commented on #140
@anatolystansler Any update on how to solve this issue? How I can change the default branch (master) to another branch?

[2019-08-14 11:36] nothingismagick commented on #531
Hi, I guess I'd need to know a TOUCH more about how the app works. Sorry, I'm new here. :)

@asurkov

[2019-08-14 11:46] sergey48k commented on #531
@nothingismagick Usually, it looks at file extensions and signatures inside of a file to classify a language.

For libraries and frameworks, it does the following:

1. looks for imports needed to include library/framework. Sometimes there are not relevant imports, so sometimes this can be skipped.
2. if the step above suggested there may be a library used in the file, a machine learning classifier

[2019-08-14 12:13] nothingismagick commented on #531
OK, I get it. Thanks. So basically there are three ways to use the Quasar Framework:
- Quasar CLI
- UMD
- Vue-Cli

These all require imports from at least one entry point, but there is one unifying factor:
the vue components and potentially the plugins.

a component will generally be invoked with e.g. `q-btn`, `q-page` etc.
a plugin will generally be invoked with e.g. `this.$q.platform` etc.
direc

[2019-08-14 12:31] nothingismagick commented on #531
but if you see quasar.conf.js in a project, and
[code]
Then you can be pretty sure its a quasar project.

Another hint would be to parse the
`.gitignore`

and look for
`.quasar` in there.

[2019-08-14 12:35] nothingismagick commented on #531
There is also a whole class of quasar development known as Quasar App Extensions.

These are technically node modules, but follow a very specific naming convention (which can be parsed from the package.json):
[code]
These are add-ons that can be consumed by any dev (assuming its public).

Here is an example of one I wrote:
https://github.com/quasarframework/app-extension-icon-genie

Note that the

[2019-08-14 14:32] yaronskaya commented on #532
Hi @lucianopereira86. Does it contain verified emails?

[2019-08-14 14:36] lucianopereira86 commented on #532
Yes. It contains.

[2019-08-15 19:30] asurkov commented on #531
I suppose that that works for Quasar CLI/Vue CLI, however it doesn't seem applicable in UMD case? Does UMD have to have quasar.conf.js?

[2019-08-15 19:53] nothingismagick commented on #531
Right - neither UMD nor  Vue CLI will have a quasar.conf.js

[2019-08-17 20:55] sfat commented on #308
@yaronskaya we can close this, right?

[2019-08-19 17:24] yaronskaya commented on #308
@sfat sure

[2019-08-19 17:24] #308 closed

[2019-08-23 11:27] jaeyeonling opened #537 "Build Error: Some problems were found with the configuration of task ':generateProto'."
Gradle scan: https://scans.gradle.com/s/pqhpsczvqu4iu

I don't know what the problem is and I can't solve it with my ability.

[2019-08-25 14:28] prasanth-varikallu commented on #129
I'd like to work on this issue

[2019-08-26 19:41] sfat commented on #537
I think it has to do with Gradle `5.6`.
Can you check if using `4.10.3` works fine?

[2019-08-27 15:46] yaronskaya commented on #129
@prasanth-varikallu great! Ask me here if you have any questions regarding the issue.

[2019-09-01 18:52] sfat commented on #255
@anatolystansler , this can be closed, right?
I think tab completion can be done via #138, right?

[2019-09-02 20:26] brendonguedes opened #541 "Error "can't send uour data to server. Try again later.""
I am receiving the error message: Error "Can't send data to server. Try again later." right after syncing my Gihtub account with Sourcerer. I can not use due to the error mentioned.

[2019-09-03 15:31] yaronskaya commented on #541
Hi @brendonguedes. Could you please try to sync github account again?

[2019-09-03 15:48] brendonguedes commented on #541
Vi @yaronskaya. I will revoke the sync and do the process again.

[2019-09-03 15:52] brendonguedes commented on #541
Hi @yaronskaya
I did the process again and the error persisted.

[2019-09-04 07:10] yaronskaya commented on #541
@brendonguedes could you please try once again?

[2019-09-04 11:09] brendonguedes commented on #541
I tried again and it worked. You haven't uploaded my data and repositories yet but I received an email from confircak de creation di my profile. Thank you @yaronskaya

[2019-09-04 19:34] #532 closed

[2019-09-04 19:34] lucianopereira86 commented on #532
x

[2019-09-06 18:07] sfat commented on #537
@yaronskaya , I think this can be closed since #540 was merged.

[2019-09-06 18:07] sfat commented on #504
@yaronskaya , I think this can be closed since #540 was merged.

[2019-09-06 18:58] #504 closed

[2019-09-06 19:15] yaronskaya commented on #537
@sfat sure

[2019-09-06 19:15] #537 closed

[2019-09-06 19:16] #255 closed

[2019-09-06 19:32] sfat commented on #104
Is this something that I take?
Can you also give me a bit of guidance on what this means exactly in terms of what does "a lot of code" mean :)

[2019-09-06 19:55] redbitshift commented on #104
Hi @sfat ,

One way to do it is to look at a ratio of deleted lines and added lines, make a distribution of this ratio across users, and award the badge to those who are in top 5% or so. @yaronskaya will probably have ideas as well.

Thank you for looking into it!

[2019-09-06 19:56] sergey48k commented on #104
Damn. I always comment from my tests account by accident. The above was me.

[2019-09-07 09:29] yaronskaya commented on #418
Done.

[2019-09-07 09:29] #418 closed

[2019-09-07 09:32] #198 closed

[2019-09-07 13:23] yaronskaya commented on #101
Done.

[2019-09-07 13:23] #101 closed

[2019-09-09 17:06] imhta opened #543 "Everytime Skipping entire repos"
Whenever I tried to scan my GitHub profile, it scans and skipped the entire repos

![image](https://user-images.githubusercontent.com/25448577/64550968-ad9bee80-d351-11e9-921f-dcc52cbef6d6.png)

[2019-09-10 19:34] yaronskaya commented on #543
@imhta thank you for reporting that. Fixed the problem.

[2019-09-10 19:44] yaronskaya commented on #104
@sfat sorry, the issue doesn't require any changes in sourcerer-app.
But we still strongly appreciate any contributions, especially the issue with paths autocompletion:)
Sorry for misunderstanding.

[2019-09-10 19:46] #541 closed

[2019-09-10 20:49] brendonguedes commented on #541
error ceased after retries

[2019-09-11 06:31] imhta commented on #543
Now it working fine

[2019-09-11 06:31] #543 closed

[2019-09-11 07:03] styd commented on #429
No news for this? My profile is not updated too.

[2019-09-11 23:54] prasanth-varikallu commented on #129
@yaronskaya I'm new to this and I'm unable to run the existing tests. Could you please let me know how I can run a single test? I used IntelliJ and I can't figure out a way to run a single test. Thanks

[2019-09-13 21:53] gigashiro commented on #527
Sorry, I just forgot this issue. @yaronskaya only personal projects are eligible? Cause I have a little bit more projects than none:
![image](https://user-images.githubusercontent.com/9381924/64896874-b9d8c200-d657-11e9-8713-c0a3484c6176.png)

[2019-09-14 09:17] yaronskaya commented on #527
@gigashiro yes, currently only personal projects can be processed through the site. One way to add other projects is through the use of sourcerer-app.

[2019-09-18 08:41] srihari-humbarwadi opened #544 "Error while hashing"
Processing error on webapp and if i try to add the repository from local machine
i get this message
[code]

[2019-09-19 06:22] yaronskaya commented on #544
@srihari-humbarwadi thank you for submitting this. The problem is fixed in the latest version of sourcerer-app.

[2019-09-19 07:22] srihari-humbarwadi commented on #544
Works fine now! Thanks

[2019-09-19 07:22] #544 closed

[2019-09-20 11:54] patrickmonteiro commented on #531
@asurkov We can close this branch, since quasar is already part of the Sourcerer ecosystem right?

[2019-09-20 14:35] asurkov commented on #531
yep, umd should be supported now by https://github.com/sourcerer-io/awesome-libraries/commit/2584212d7e69e751536ddc167a0a4d88429b6f2e, cli https://github.com/sourcerer-io/sourcerer-app/pull/538