[2019-09-20 14:35] #531 closed

[2019-09-21 14:24] VSevagen opened #548 "Sourcerer.io does not work with gitlab.gnome acounts."
I actually tried linking my gitlab profile to sourcerer but gitlab itself was not able to recognize my account.  I'm a gnome contributor and I have a gnome account for accessing my profile on gitlab. I know that some permissions might be required for accessing gnome accounts database but is there something else that can be done ?

[2019-09-23 21:45] sergey48k commented on #548
Hi @VSevagen ,

Is this a private GitLab installation or is it gitlab.com?

[2019-09-24 04:46] VSevagen commented on #548
It is not gitlab.com. It is actually gitlab.gnome.org and my account is a gnome account.

[2019-10-06 23:23] AmerAnsari opened #549 "Fix vocabulary error"
![image](https://user-images.githubusercontent.com/42090970/66277561-38203100-e8b1-11e9-922b-059d62b24f41.png)

sourcerer.io>username>following

Error when => !folloing.length

[2019-10-08 10:54] Areso opened #550 "Sourcerer doesn't support override the language in git project"
So, basically it ignores the .gitattributes file.
In my case it is https://github.com/Areso/1255-burgomaster/blob/master/.gitattributes

[2019-10-09 16:43] raa-zez commented on #352
When I run `java -jar sourcerer.jar`, getting the error message `Error: Invalid or corrupt jarfile sourcerer.jar`. How to fix this issue?

[2019-10-09 18:58] sergey48k commented on #352
@yaronskaya what do you think? wrong java version?

[2019-10-10 07:58] yaronskaya commented on #352
@raa-zez what is your java version?

[2019-10-10 09:35] algo7 opened #551 "Unable to Verify Commit After Adding GPG Keys"
I've added GPG Keys to my GitHub account and was signing commits with them. For some repos, I've got a mix of signed and unsigned commits. However, in that case, sourcerer will count it as 2 people; therefore, I'm unable to verify my repos as the verification email is sent to the same account.

[2019-10-11 09:33] naus3a commented on #488
I can confirm this: all those materials show up as matlab also on my profile :)

[2019-10-24 12:41] pheliperocha opened #552 "Error while hashing: Illegal char <:>"
Processing error on a repo where there is a file, in git history, with `:` char on it.

`[e] Error while hashing: Illegal char <:> at index 30: folder/subfolder/2019-03-06T17:35:13-0300-filename.ts`

It's an old file, where were already been renamed to remove the `:` char, but it obviously keeps on git history.

[2019-10-30 12:05] jbroque1 opened #553 "Sourcerer only check master branch"
data in my profile is not correct since sourcer only fetch commits from master branch

[2019-10-30 12:07] jbroque1 commented on #553
Maybe we can add a functionality to fetch branch based on the user input ?

[2019-11-02 03:51] vladdoster commented on #128
Did this ever get worked on?

[2019-11-02 08:52] yaronskaya commented on #128
@vladdoster not yet. Feel free to start.

[2019-11-03 16:46] bolivierjr opened #554 "LOC on some items are incorrect."
On some items like Javasript, PHP, jquery and async, it's giving me numbers way up there. No way I have written that much, giving me total lines of code in the 174k range. I have definitely not written nearly quarter of that much. Is this counting the total lines of the library used in a project as well?

![sourcerer2](https://user-images.githubusercontent.com/7041126/68088647-b4f9e880-fe26-11e9-9

[2019-11-06 12:57] AdityaSingh17 opened #555 "Sourcerer doubles the LOC and Commit count when a directory is removed from github."
When I removed a directory from one of my repositories and committed the changes, rather than reducing the LOC and commit count, sourcerer *doubled* it. Is it a problem with the app or something that I am doing wrong?

[2019-11-15 02:17] sarpik opened #558 "[Bug?] Failed to refresh profile with gh data: timeout of 30000ms exceeded"
I tried to `Refresh` > `Update Github repos` @ https://sourcerer.io/sarpik.

I get this error in my console:

[code]

Thanks!

[2019-11-16 09:11] yaronskaya commented on #558
Hi @sarpik, could you please check there is an access for Sourcerer in github settings
 `Settings -> Applications -> Authorized OAuth Apps`?

[2019-11-16 12:29] sarpik commented on #558
Hello @yaronskaya, thanks, yes there is: https://i.imgur.com/vS0Hzmx.png (under `Authorized OAuth Apps`)

[2019-11-16 14:23] yaronskaya commented on #558
@sarpik looks like your github token doesn't provide access for Sourcerer now.
Could you please revoke it and add github account at sourcerer.io again:
`Settings->Applications->Github: sign in`?

[2019-11-16 15:20] sarpik commented on #558
@yaronskaya yep, that did sync the profile.

Though if I click `Refresh` > `Update Github repos`, I still get the same errors and cannot refresh.

Also, before that, I tried signing in with a different browser with the same github account, and a different profile was created - https://sourcerer.io/sarpik1. I don't know if this is expected so just letting you know:D
And they ([sarpik](https://sourc

[2019-11-17 07:17] yaronskaya commented on #554
@bolivierjr could you please check your updated profile? There was an issue with PHP projects when library's source code was in a project - hopefully it was fixed.
If there is still something strange could you please look at Repositories  section and associated technologies and languages. Which repositories have unexpected technologies and languages?

[2019-11-18 10:03] yaronskaya commented on #558
@sarpik yes, these two profiles have different emails. Therefore assigned commits are different.
Meanwhile, I reassigned the github token from your second profile to the original one - it processes the profile https://sourcerer.io/sarpik now.  Did you change the primary email in github settings?

[2019-11-18 14:46] sarpik commented on #558
@yaronskaya I have changed my primary email a while back, but not after I started using sourcerer.

Now the refresh feature seems to work, at least with `/sarpik`:)

Would it be possible to merge the contributions from both (all) of my emails (that my profile has) into a single sourcerer profile, just like github does?
I don't think that having 2 (or more) separate profiles for every email is usef

[2019-11-18 19:32] yaronskaya commented on #558
@sarpik you can add emails in `Settings` -> `Emails` and after that `Update Github repos`.

[2019-11-20 03:08] hoony9x opened #559 "Unable to build "sourcerer-app.jar" on macOS."
This is what happened.

[code]

Java version
[code]

[2019-11-20 19:11] yogeshwar607 commented on #559
same issue , seems like issue with new gradle version 6.0.1 ,
was working well with gradle version 5.6.2

[2019-11-20 21:19] sarpik commented on #558
Thanks @yaronskaya - I've removed the duplicate account `/sarpik1` and added emails to the main account `/sarpik`. Everything seems to be fine now.

The Refresh feature is now working as expected, some maybe there were some issues with the duplicate account - I don't know.
I suppose we can close this?

Thanks again!

[2019-11-21 06:11] varunu28 commented on #493
@sergey48k Looks like this issue still persists. I will be happy to add a fix for this. Can you please assign this to me?

[2019-12-02 09:19] CorruptComputer commented on #126
I would like to +1 this, currently when analyzing repos with sourcerer it can take a **very** long time for large ones such as this: https://github.com/tgstation/tgstation

I can watch `htop` and see one core maxed out while the rest are sitting idle.

![image](https://user-images.githubusercontent.com/5573038/69946946-39856880-14b2-11ea-825f-fbf3f63f52ea.png)

[2019-12-02 21:44] mdiller commented on #514
Bump on this. I'm experiencing the same thing and am wondering if there is a workaround.

[2019-12-02 22:55] sergey48k commented on #514
Apologies. I thought this was answered.

Sourcerer only looks at emails when matching commits. When you log in via GitHub, it gets the list of the emails that GitHub knows about and counts commits assigned to those emails. However, you can also add emails to the list. For this, go to https://sourcerer.io/settings#emails and add as many as you want. Then refresh your profile, and it should count al

[2019-12-02 23:26] mdiller commented on #514
Thanks, thats perfect!

[2019-12-03 03:26] CorruptComputer commented on #548
I don't think Sourcerer supports private GitLab and GitHub installations currently.

[2019-12-03 11:37] VSevagen commented on #548
Ok. I'll close this then

[2019-12-03 11:37] #548 closed

[2019-12-06 18:52] grabear commented on #514
Even after adding my other email address it still doesn't seem to add the proper repositories.  Here is an example of a large code-base that I created:
![image](https://user-images.githubusercontent.com/20953530/70347692-b7d16a00-1826-11ea-948f-685ddea79aa5.png)
Unfortunately, I've used several _git usernames_ so it registers that as different people.  I don't want to change my git history just so

[2019-12-12 10:46] Impaled commented on #559
Updating the Kotlin version referenced in the Gradle build file to 1.3.61 and keeping the version of org.jetbrains.kotlin:kotlin-stdlib-jre8 at 1.2.31 solves this issue.

[2019-12-12 11:19] Impaled opened #563 "Timeout on huge local repos"
Hi,

I have a huge local repo and it takes the sourcerer app about 5 hours for hashing.
The problem is that after about 40 minutes the status of the hashing process on the server is FAILED with reason "Timeout reached".
The local app keeps on hashing for several hours, but after finishing this step, all I get is an error message saying that there was a error communicating with the server and the s

[2019-12-12 14:13] joelostblom commented on #382
The ability to add repo urls would be great!

[2019-12-16 13:55] #559 closed

[2019-12-26 14:20] #241 closed

[2019-12-31 03:00] caseykey opened #564 "Feature Request: API for retrieving Profile Statistics"
I would like to display on my online portfolio my Github commits per language for a given time frame and overall. For example, I would show three circular progress bars which show the percentage of code on my Github profile. It would be great if Sourcerer exposed an API which I could query to get this statistic. Additionally, I would like to show below the progress bars how much I have contributed

[2019-12-31 04:24] caseykey opened #565 "Commits not showing for local private repository"
I added my work repository to the desktop sourcerer app, then when I start sourcerer, it says no commits with my email have been found. I went to a PR I made in the repo, and checked a commit's patch for my email, and I confirmed I had that email added to sourcerer's list. Does my PR need to be merged before sourcerer will count my commits? This doesn't seem to be the case, as sourcerer was able t

[2020-01-01 21:56] caseykey commented on #565
Okay, when I cd into the directory which sourcerer says has no commits from me, I can do a `git log` and see that there are commits made by me in the author section `Author: Casey Key <caseykey@rams.colostate.edu>` this email is in the list of emails returned by sourcerer.

[2020-01-02 08:08] yaronskaya commented on #565
Hi @caseykey.
Does your local repository contain master branch? Are your commits in master branch?

[2020-01-03 00:47] caseykey commented on #565
All my commits are made in "feature" branches. None of my commits have been merged into master yet.

[2020-01-03 20:07] #565 closed

[2020-01-05 07:46] yaronskaya commented on #565
Yep, a space in the directory name might cause that.

[2020-01-05 08:37] sdlins opened #566 "Top x programmer seems not working properly"
Hi,

Top x programmers is supposed to be "based on number of commits" but, I see this:

![image](https://user-images.githubusercontent.com/412490/71777336-2b2cdf80-2f7d-11ea-9f83-64178bada599.png)

Is it a bug or how does it works really?

Thank you

[2020-01-05 14:23] yaronskaya commented on #566
@sdlins rankings are influenced by team size - commits from repositories having big team, contribute stronger to a rank.

[2020-01-06 03:31] sdlins commented on #566
@yaronskaya now I see. Anyway, this is not what we see when hovering the icon of information. Maybe it could inform about team sizes and how it affect the results. Couldn't?

Cheers!

[2020-01-09 22:15] FredHappyface commented on #363
Seems to be resolved so I'm going to close this

[2020-01-09 22:15] #363 closed

[2020-01-10 18:54] FredHappyface opened #570 "Feature Request: Pie chart for lines of code"
The pie chart is an incredibly useful feature when it comes to visualising what languages I use the most.

It would be also useful for me to see what languages I have written the most as a commit to a repo for a certain language will count to that language when I have not developed my knowledge/ skills or used said language.

I would likely use this to provide focus as what sort of languages I wis

[2020-01-15 03:05] tiennesdm opened #571 "Regarding Repo Updation"
I have 40 repo but it's having the status, okay but in my profile, it's showing only 33 repo. Even its processing everything

[2020-01-15 20:13] bshaffer commented on #329
Hello! Did you ever find a solution to this error?

[2020-01-15 20:19] bshaffer commented on #329
I was using Gradle 6. Downgrading to Gradle 5.6 seems to have fixed the issue.

[2020-01-15 20:51] Rav3nPL commented on #329
Just tried on lxss Ubuntu 18 and its gradle - compile w/o errors. Closing.

[2020-01-15 20:51] #329 closed

[2020-01-15 20:54] Rav3nPL commented on #553
Tried to hash local repo on "your" branch?
Because looks for me like it takes default (mostly master) from github and active on local repos.

[2020-01-16 18:37] ForeandAft commented on #563
Yeah, I'm having this same issue.  I have about 5 large local repos and it can only get through the smallest of them.  Having to skip a lot of commits to get it to finish within the timeout window.

[2020-02-01 22:05] caseyjkey commented on #564
Having an API for profile statistics would allow for dynamic language badges. I went to generate those HTML elements from the sourcerer.io profile page and noticed they would remain the same value and need updated manually. Not viable for implementing onto a personal website.

[2020-02-16 01:51] felubra opened #572 "Conventional commits - stats derived from the commit message"
First of all, thank you for this magnificent, impressive project!

I was thinking if some stats could be derived from the commit message. So, for example, if a repo uses the [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) spec, then the distribution of the types (chore, fix, feat...) could be used to create a badge, for example, "I am a fixer", if the most of the user commit

[2020-02-24 21:04] gruselhaus opened #573 ""Last Update""
It would be great if you can visualize when the last update was.

[2020-03-02 11:19] #571 closed, assigned to nobody

[2020-03-08 16:58] sycured commented on #553
Same, I work a lot on custom name, our "master" branch doesn't exist internally, we prefer "release".
I work a lot on devel and other branch like feature-* or fix-* or JIRA-* so it'll be good to add all branch during scan

[2020-03-09 12:11] Duduzera1997 opened #574 "Error while hashing: java.net.SocketTimeoutException: Read timed out"
Hello!  I run sourcerer command to update my repo and i have this error:

[code]

[2020-03-10 11:34] Awilum opened #575 "Emails associataed with this GitHub account are already in use."
Hello!

I have an issue

[code]

Steps:
1. create an sourcerer account by sign in with GitHub
2. remove sourcerer from GitHub - Authorized OAuth Apps settings section.
3. I can't login or re-create account on sourcerer anymore!

<img width="1274" alt="Screenshot 2020-03-10 at 14 33 19" src="https://user-images.githubusercontent.com/477114/76308577-20bff680-62dc-11ea-94d9-16f18557c5a6.png">

[2020-03-10 15:04] JesterOrNot opened #576 "Duration of programming in a language is wrong"
Sourcerer says I have been writing rust for a year when I just started in November 2019

[2020-03-15 06:20] magick93 commented on #400
Perhaps consider fetching this information from gh.

[2020-03-15 20:12] magick93 opened #577 "No gitlab repos added"
I have most of my work on Gitlab, as private repos.

I've tried several times to add them - and it doesnt seem like any ever get added.

![Selection_020](https://user-images.githubusercontent.com/2173213/76711044-336d7c00-6771-11ea-938f-29dad6f1dfd3.png)

[2020-03-15 20:16] magick93 commented on #575
Yes I have the same issue.

[2020-03-16 02:39] sergey48k commented on #577
HI @magick93 ,

This is by design. We do not take private repos to avoid taking something we should not. We ask our users to run our app (sourcerer-app) on their repos locally. This way we don't ever get to see source code, and it's only stats that's uploaded.

[2020-03-16 02:44] magick93 commented on #577
Hi @sergey48k

Thanks for the quick reply.

I also tried to run it locally, and didnt see any of my repos added.

I ran `sourcerer add -a -r .` in my directory that contains all my locally checked out git repos.

It chugged away, looked like it was doing stuff - but ultimately I never so those repos added.

[2020-03-16 02:58] sergey48k commented on #577
Could you verify that email addresses that you use in your commits are known to sourcerer?

https://sourcerer.io/settings#emails

We recognize commits by emails. It's often the case when people use multiple email addresses in one git repo, or different email addresses from what is known to GitHub/GitLab.

[2020-03-16 03:00] magick93 commented on #577
Yes, I've verified my email addresses.

On Mon, 16 Mar 2020 at 15:58, Sergey Surkov <notifications@github.com>
wrote:

[2020-03-16 03:30] sergey48k commented on #577
Well, then we need to dig into it. What is your sourcerer username?

[2020-03-16 03:32] magick93 commented on #577
Thanks @sergey48k

My username is `hughestech`

[2020-03-21 15:35] tiennesdm opened #578 "Failed to Refresh Profile"
failed to refresh profile with gh data:  Error: timeout of 30000ms exceeded
<img width="410" alt="Capture" src="https://user-images.githubusercontent.com/22448400/77230173-560bf480-6bb8-11ea-857d-175fc6b31167.PNG">

[2020-03-22 00:48] JesterOrNot opened #579 "Do not count forks"
Why are forks factored into calculations by default?

[2020-03-26 08:02] vaibhavarora14 opened #580 "Takes hell a lot of time to check repository"

[2020-03-27 16:04] #580 closed, assigned to nobody

[2020-03-28 16:14] VictorGarritano commented on #553
You can change the default branch for the remote, just for a while. Something like `git remote set-head origin <main-branch-name>`. It works for me!

[2020-03-28 16:20] VictorGarritano commented on #140
As a workaround, you can change the default branch for remote, using `git remote set-head <remote> <main-branch-name>`. Works like a charm

[2020-03-28 16:53] sycured commented on #553
It's not a solution when you're working on a lot of repositories and branches…
The best place is on this tool to implement that branch switching to analyze all branches

[2020-03-28 18:50] cmark commented on #574
Same happened for me! 😭

[2020-03-29 05:33] wonderlandpark opened #581 "Not counting organization repository"
Sourcerer is not counting commits to organization.

[2020-03-29 13:50] wonderlandpark commented on #581
Not a issue i haven't grant permission.

[2020-03-30 22:06] #581 closed, assigned to nobody

[2020-04-02 15:19] garyforsterio opened #582 "Reordering repositories is not persisting"
Hey, thanks for developing this, it's really nice.

I'm trying to reorder my repositories by clicking the pencil icon and dragging/dropping them into the correct order. After this doing and refreshing the page however they return to the original order.

I'm assuming this is a bug as there is drag and drop functionality?

[2020-04-18 19:17] smaharj1 commented on #527
I also have a problem with the emails. I have multiple projects in my GitHub but I recently added a second email (which I made my primary email). My sorcerer only shows 1 repo and I am not sure how to fix this since both of my emails are still connected to my Github. My profile: [https://sourcerer.io/smaharj1](https://sourcerer.io/smaharj1)

[2020-04-20 12:16] raghav4 opened #583 "Open graph tags for sharing"
Does sourcerer have open graph tags? So that it shows a snapshot of my profile while I share it on Twitter or Facebook? If yes, then it isn't working with mine. If not, then do you guys have any plans to implement it?

[2020-04-23 16:03] smarie opened #584 "Profile not refreshed correctly since January 2019 ?"
I had not refreshed my profile for a while and tried this week, but the refresh confirmed my previous attempt months ago: it seems to have stopped counting since January 2019 (was it correct before then, I do not know)

This is of course absolutely not a "need" but just a notification - I guess that you would like to be informed :)

[2020-04-30 13:15] Jighdan opened #585 "Still getting notification emails even when the option is unchecked"

[2020-04-30 19:59] geonizeli opened #586 "bug on the platform prevent me from creating an account."
Hello, contextualizing, I had a github account linked to the sourcerer-io, I lost access to it, github support changed the old user of that account for me to my new account, however Sourcerer seems to have not seen this change and remains linking my new user to my old account, so I can't register. I think this can be solved just by switching my user, but I wanted to pass this scenario on to you.

[2020-05-05 11:13] BrianRuizy opened #587 "Feature request: embedding of Sourcerer profile"
Would be great if there was a way to embed ones profile into an html page, including the plot's interactivity. Not only would it be neat, but it would also directly increase Sourcerer's traffic and profile creations.

For instance,
<img width="1382" alt="Screen Shot 2020-05-05 at 6 09 05 AM" src="https://user-images.githubusercontent.com/23439187/81059884-fd0dcc80-8e96-11ea-94a1-3961970ff3d3.png">

[2020-05-12 09:53] Franceshe commented on #559
in short for Mac users:
`
brew update
`
`
brew install kotlin
`

[2020-05-15 17:07] tranthuc-org198892 opened #588 "Btcz"

[2020-05-16 16:25] bk138 commented on #143
@anatolystansler Knowing this is an old issue, I can't  find the password reset functionality on sourcerer.io. Can you give a hint please?

[2020-05-16 16:54] bk138 opened #589 "Feature request: password reset button in account settings"
It would be quite handy to have the reset password functionality currently found at https://sourcerer.io/signin to be located also somewhere under https://sourcerer.io/settings. Like others (#425), I signed up using GitHub OAuth and lost the initial temp password mail. Took me quite a while to find out about :-).

[2020-05-16 19:15] bk138 commented on #574
Same here, on several repos. Running the app on MacOS.

[2020-05-22 08:05] himanshusharma89 opened #590 "[FEATURE REQUEST] Fun facts for other languages."
Can we have fun facts about other languages? For my case, it is `Dart`.

For e.g: we have a user with `Top CSS developer Ranked higher than 92% of users`, similar to this we can have a comparison between users working with Dart.

So if you find it valid can you add Fun facts of Dart of a particular user in comparison to other users?

[2020-05-27 01:20] pmaxhogan commented on #587
`https://storage.googleapis.com/sourcerer-public/preview/yourusernamehere.jpg` is referenced in the code, although mine hasn't updated very recently and I haven't found a way to make it update.

[2020-05-27 10:58] cgpu opened #591 "[FEATURE REQUEST] Add Nextflow as a language"
Hi and thank you for this awesome app!

Could you add Nextflow as well in the languages included?

[2020-05-29 06:59] paramsiddharth opened #592 "No nollowing in place of No following"
It says ```No nollowing``` when I click ```Following 0``` on a Sourcerer profile with 0 Followings.

[2020-05-29 18:50] basselalsayed opened #593 "Does not take directory name with spaces"
iCloud folder for Mac users is `"~/Library/Mobile Documents/com~apple~CloudDocs/projects/*"`
tried replacing space with `'\ '`, `%20` and wrapping it all in double quotes neither works.

[2020-06-02 18:17] sibelly commented on #143
Same issue here... and I didn't receive the email with the password... I did enter with github credentials... but it did not accept my password.

[2020-06-02 18:59] sibelly commented on #425
@sdlins

I can't find that option to "Resend password".

![Screenshot from 2020-06-02 14-56-35](https://user-images.githubusercontent.com/7544858/83558873-a9b48b80-a4e1-11ea-8aee-9b27a8cd39ed.png)

I need to know my actual password to change to another one but I can't find a way to know which password is the right one since my own github password doesn't work.

[2020-06-02 22:38] sparsh-99 opened #594 "No password mail"
I signed up to sourcerer app using Github and it clearly states that username and password will be sent to your primary email.
But the issue is I didn't receive any such email from the sourcerer app.
Without a password, I am not been able to authorize my app in bash.

[2020-06-03 15:05] bk138 commented on #143
@sibelly see my feature request at #589 on how to solve this.

[2020-06-04 08:29] devhammed commented on #359
Hello, I am having the same issue too.

[2020-06-06 05:36] mayankmetha opened #595 "Github Token based user commit identified as separate user"
Commit via a user using email id and password, or by GitHub access tokens are same, this app is treating both as separate user.

[2020-06-12 07:41] vinzlercodes commented on #370
Yes same even I have 2 public repo but my jupyter lab repository does not seem to be getting processed

[2020-06-12 07:50] vinzlercodes commented on #437
even for me, my jupyter lab repository seems to be facing processing error every time.
![image](https://user-images.githubusercontent.com/34100245/84478798-85119e00-acaf-11ea-8320-473462342133.png)

[2020-06-12 19:08] #570 closed, assigned to nobody

[2020-06-16 14:08] kernc commented on #578
Duplicate of https://github.com/sourcerer-io/sourcerer-app/issues/558.

[2020-06-16 14:09] kernc commented on #558
[Closing the Sourcerer account](https://sourcerer.io/settings#account) and then reconnecting seems to work.

[2020-06-24 15:34] sumeetrohra opened #598 "Installing sourcerer on mac gives Invalid or corrupt jarfile sourcerer.jar"

[2020-06-25 14:08] ShahrozTanveer commented on #589
Click On Forgot?
![image](https://user-images.githubusercontent.com/31120765/85735278-fb35ec00-b716-11ea-8e0a-79202d3dd41c.png)
input your Email address and click Reset Password. then you'll receive email to reset your password.
![image](https://user-images.githubusercontent.com/31120765/85735472-1dc80500-b717-11ea-84cf-2060cbbda969.png)

[2020-06-26 12:18] RemusRD commented on #109
Hi! I would like to take this issue, could you give me some advice on how to approach it?

[2020-06-27 00:55] kihonq commented on #494
@aodj I'm in the same boat bro 😭

[2020-06-27 07:44] bk138 commented on #589
Yeah, as written in my first comment, I know about this process. It's just hard to find. Currently, for logged-in users, it looks like this:
![grafik](https://user-images.githubusercontent.com/80450/85917486-c59a1b80-b85a-11ea-88fe-150d0d288b3a.png)

[2020-06-29 00:19] vrdn-23 commented on #598
Same error. Any update on when this will get fixed?

[2020-07-01 07:33] Delta456 opened #599 "[Feature Request] Add V language"
Please add https://github.com/vlang/v because it shows Verilog instead of V.

[2020-07-01 14:31] antony opened #600 "False Attribution"
Hi. It looks like if somebody creates a fork of a repository on github, then makes a bunch of changes (malicious or otherwise), the Sourcerer profile will suggest that a repository is "verified by network. We verify repos by comparing commits submitted by coworkers."

This behaviour is problematic when implying that an original author in any way endorses the work of the nefarious third party, simp

[2020-07-02 15:14] Hannibal404 opened #601 "Not acknowledging my contributions in my repo"
The app won't acknowledge my contributions in my repo [Meditation](https://github.com/Hannibal404/Meditation) and keeps skipping it every time I refresh my repos.

Edit : It won't scan any of my flutter repos

[2020-07-05 11:42] satyamroy001 opened #602 "correct spelling of following from "nollowing""
<div data-v-3c8deaf0="" class="section-caption">
            No following
          </div>

[2020-07-05 11:43] satyamroy001 commented on #602
change the section caption from (nollowing to following) in  sourcerer.io

code used___________

[following.zip](https://github.com/sourcerer-io/sourcerer-app/files/4874842/following.zip)

[2020-07-09 11:37] zhangchunsheng opened #603 "Error: Invalid or corrupt jarfile ~/.sourcerer/sourcerer.jar"
java -jar ~/.sourcerer/sourcerer.jar
Error: Invalid or corrupt jarfile ~/.sourcerer/sourcerer.jar

java -version
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

macOS 10.15.5

[2020-07-09 17:24] vrdn-23 commented on #603
Duplicate of #598

[2020-07-10 06:51] AlexisTM opened #604 "Ignore HUGE commits"
Hi there, it happens from time to time to do a repo copy (such as GoogleCode->Github) with no commit kept or have a library that has to be copied following the company requirements on third-parties.

I would propose to filter these out by not using any commit of more than "100k lines" for example. That should be enough to cover huge pull requests squashed and filter out external libraries. In my c

[2020-07-10 07:25] AlexisTM commented on #594
Had the same issue: Just use "I forgot my password", you'll get a link to reset your password (actually set your password)

[2020-07-10 07:29] AlexisTM commented on #600
I fully agree, endorsing should be at least an active action from the user perspective. Forking a project does not mean endorse all activity of a user.

[2020-07-10 07:36] AlexisTM commented on #576
Let's wait 5 more months and it will be fixed :laughing:

[2020-07-10 07:48] AlexisTM commented on #515
Same problem here;

[2020-07-14 11:11] Kittaru87 opened #605 "All my github repo processing times out"
Trying to process my github repos and all of them time out - maybe I need to change a setting somewhere but not sure where

<img width="664" alt="Screenshot 2020-07-14 at 12 01 36" src="https://user-images.githubusercontent.com/49982615/87418664-f784df00-c5c9-11ea-8274-93c7d2a944ea.png">

[2020-07-14 11:13] #605 closed, assigned to nobody

[2020-07-14 15:17] zhangchunsheng commented on #603
I build it from source can work well.

[2020-07-14 15:17] #603 closed, assigned to nobody

[2020-07-16 17:16] Enrique1987 commented on #527
I have the same problem, in "Refresh" I have 3 Repositories with status ok but appears nothing.
Profil: https://sourcerer.io/enrique1987
could be that take long to show the code ? more than one week ?

[2020-07-18 18:40] rljacobson commented on #359
In my case, I used the app on my local repos, and then I connected my sourcerer account to my GitHub account. The local app did not add any of the names of the repos, so I had to just guess at which of them are the duplicates. (Of course, what constitutes a "name" of a local repo is not clear.)

[2020-07-18 19:34] anshooarora commented on #425
Same here, haven't received an email and unable to request my current password.

[2020-07-18 19:43] anshooarora commented on #425
Fix:  I closed and recreated my account and received the password.

[2020-07-22 09:18] AlexWayfer commented on #140
I'm not interested in changing default branch. I have forks, and I create branches for PRs. But Sourcerer ignores these contributions.

[2020-07-22 09:19] AlexWayfer commented on #553
Looks like duplicate of #140

[2020-07-23 02:51] tvganesh opened #607 "Why no equivalent of R packages?"
While sourcerer shows up pandas/matplotlib/sklearn for Python it does not dplyr/ggplot/rpart etc in R. Why?

[2020-07-23 03:09] sergey48k commented on #607
Hi @tvganesh ,

Sourcerer shows libraries indexed in sourcerer-io/awesome-libraries repo. You are welcome to submit a PR.

Best,
Sergey

[2020-07-26 18:15] ming-tsai opened #608 "An endpoint for dashboard section"
As a developer, I would like to have an endpoint for obtaining some sections so it could be added on readme profile, like this project  [GitHub Readme Stats](https://github.com/anuraghazra/github-readme-stats)

[2020-08-01 00:17] #608 closed, assigned to nobody

[2020-08-01 17:24] pranjaldub opened #609 ""no nollowing" shows instead of "no following""
correct the statement where the website shows the followers and following. If there are no following, it shows "no nollowing".

[2020-08-02 01:03] prabhuSub commented on #352
Hi @mutiemule ,
Awesome! That worked. Any example on how to specify the repos?

[2020-08-04 01:40] Draichi opened #610 "App cannot load my repos and don't let me retry"
Hi

![image](https://user-images.githubusercontent.com/19378148/89243233-d6684a80-d5d9-11ea-9a12-2252593cb915.png)

I'm not sure why but none of my repos are being loaded

Is there a 'second' process that tries to fetch my repos again?

thanks

[2020-08-05 04:54] ashishpawar517 commented on #575
I have the same issue

[2020-08-05 10:22] Awilum commented on #575
any updates on this ?!

[2020-08-06 11:42] impshum opened #611 "Open graph tags (link previews)"
When I share my profile with others it would be nice to have a link preview on social media, messaging systems etc.

Add og tags please.

[2020-08-11 15:12] faction23 commented on #598
Also happening here. In addition i could only install with `curl -k https://sourcerer.io/app/install | bash` due to cert error before getting empty jar. Also, local build fails at kotlin stage on j8 for me.

[2020-08-14 16:48] matqr opened #612 "Error while hashing "expected a ':' ""
Hello,

I am trying to use the app locally to generate the stats for a private repo and I get the following error once the stats computation starts:

[e] Hashing error: Expected a ':' after a key at 104 [character 4 line 8]

I copied the full log below in `error_log.txt`. I tried the app locally with another local repo and it did work smoothly.

[error_log.txt](https://github.com/sourcerer-io/sour

[2020-08-30 18:15] adrianoavelino commented on #228
I was looking for that. Very thanks for helping us with that

[2020-09-01 10:17] gautamkrishnar opened #613 "Share button pointing to undefined fun_fact in url"
When I share something the share button is pointing to undefined in URL: https://sourcerer.io/gautamkrishnar?fun_fact=undefined

<img width="1026" alt="Screenshot 2020-09-01 at 3 45 08 PM" src="https://user-images.githubusercontent.com/8397274/91837909-5251c300-ec6a-11ea-8f89-4f1162119110.png">

[2020-09-11 21:33] #586 closed, assigned to nobody

[2020-09-13 01:38] my5t3ry opened #614 "Error while commiting facts to backend."
Hello,

first of all, i like your system. pretty much the first time i see something made with rxjava. it looks and feels pr good imo :)

The issue:

I importet a project using your cli. while i starred at stdout, this got flushed:

[code]

thanks :)

[2020-09-13 01:56] my5t3ry opened #615 "Irritating onboarding."
I ended up in  an unwanted Situation by doing this:

- Found the project on github and opened a new tab to "https://sourcerer.io/"
- SingleSingedOn by github auth.
- Everything works fine. Repos starting to get analyzed.
- I found your cli and installed it.
- It askes for my credentials. I only know my username, because of oauth.
- It asks me to signup. I signup via email.
- I could not use my git

[2020-09-13 02:02] my5t3ry opened #616 "Missing interaction feedback. Minor Usability improvement suggestion."
tMissing loading indikation on desktop browsers.

Some operations take long enought to doubt hitting trigger.
Example: clicking "Change (profile) picture" takes long enought to get irritatet at which point i try to hit the trigger again.

thank you :)

[2020-09-13 07:16] harshraj24 opened #617 "Technology not fetching"

[2020-09-13 07:36] #617 closed, assigned to nobody

[2020-09-16 17:17] ghost opened #618 "Doubling the repositories on refresh"
while updating repositories from refresh
the value on the total repositories are getting doubled
for ex:
it shows ``` updating 3 out of 12 repositories```
and on clicking update repositories
it shows``` updating 6 out of 24 repositories```
and more the clicks the double the values are changing

[2020-09-29 18:49] pbek opened #619 ""No contributions" on personal project"
Thank you for Sourcerer! I'd love it to show contribution lists. But I have an issue with the web-service (I didn't find another place to post an issue about it.)

My <https://sourcerer.io/settings#processing> page shows me "No contributions" to one of my personal projects https://github.com/pbek/qmarkdowntextedit.

![image](https://user-images.githubusercontent.com/1798101/94602081-b3ce7700-0294-

[2020-10-01 07:05] sarbikbetal opened #621 "Option to add cards in github readme."
#### Feature Request
On the Share your profile on: HTML option, let users choose other statistics such as top languages, fun facts etc, so that they can put it on their github profile readme.
![Screenshot from 2020-10-01 12-32-03](https://user-images.githubusercontent.com/41508422/94778087-2bf68300-03e2-11eb-8425-62bb166cc4a0.png)

[2020-10-03 16:06] #551 closed

[2020-10-04 21:26] antenore commented on #594
The same for me. I've the as @AlexisTM suggested and it works.

[2020-10-04 21:34] sparsh-99 commented on #594
Ok thank you @AlexisTM

[2020-10-04 21:34] #594 closed, assigned to nobody

[2020-10-05 05:10] antenore commented on #574
Same for me:

[code]

[2020-10-12 18:21] Zircoz commented on #618
Hey @Lalisfeed , it is happening because every refresh click makes a stack of repos to be "refreshed" or reevaluated, as you click multiple times, it keeps on adding on to that stack. I am not sure if this project is still maintained, but a possible fix would be to disable that button while repos are still getting evaluated.

[2020-10-12 18:58] Zircoz commented on #613
I am unable to replicate this issue. Can you check if it still exists for you?

[2020-10-13 07:09] gautamkrishnar commented on #613
@Zircoz looks like its fixed now. Thanks for the heads up.

[2020-10-13 07:09] #613 closed, assigned to nobody

[2020-10-13 07:22] ghost commented on #618
That's a good idea I guess

[2020-10-13 07:22] #618 closed, assigned to nobody

[2020-10-13 15:42] cycosta opened #623 "Gradle build never ends"
It's stuck on `:compileKotlin`

![image](https://user-images.githubusercontent.com/10959425/95883406-440ac280-0d51-11eb-82c3-2a9bf3776fef.png)

[2020-10-17 02:48] 1000i100 commented on #598
idem, but from windows 10 :
[code]

[2020-10-22 16:04] kolayne opened #624 "Add organizations to be analyzed"
When I was registering in Sourcerer, I was prompted with a GitHub permissions request window, where I was able to grant access to organizations, however, I can't find any way to do this after I've finished registration. I think it's very sad if I can't add an organization without deleting my account and creating it again

[2020-10-23 03:34] dingran commented on #249
I got a timeout error when attempting to use the app to login

~/Downloads » sourcerer
[w] No config file found.
[i] App started.
Sourcerer hashes your git repositories into intelligent engineering profiles.
If you don't have an account, please, sign up at https://sourcerer.io/join
Enter username:
dingran
Enter password:

Signing in...
Connection problems. Try again later.
[e] java.net.SocketTimeo

[2020-10-26 09:49] mihmul83 commented on #574
Same for me (at least 20 days i try to launch sourcerer)
[code]

[2020-10-26 13:43] 1000i100 commented on #359
same for me : i have mirror repository in github and gitlab, there are shown twice (event after i removed the github link)

[2020-10-26 13:49] 1000i100 opened #625 "Login timeout"
[code]
I've tried this 4 times now with few minutes between. (one the website, the login with same credential work as espected)

Any idea ?

[2020-10-26 14:03] 1000i100 commented on #625
it finally succeeded but now it's on hashing process i receive timeout (i have fiber web connection, it should work well on my side at least)

[code]

[code]

[2020-10-26 19:42] 1000i100 commented on #625
and now :
[code]

[2020-10-28 07:54] FlickerSoul commented on #625
Same issue. The app is randomly prompting read time out.

[2020-10-28 09:38] mihmul83 commented on #625
Same problem starting from October 2020

[2020-10-28 14:33] wwerner commented on #625
Happens for me as well, 9 out of 10 logins time out.

[2020-11-01 01:21] katnoria commented on #625
I have the same issue with sourcerer timing out since the start of Oct 2020.

[2020-11-02 00:29] Stijn-Jacobs commented on #625
Same issue

[2020-11-02 11:14] tawilkinson commented on #625
I have the exact same issue on both Widows and Linux

[2020-11-04 13:49] sgr2848 opened #626 "Github refresh times out"
Github & also the sourcerer-app refresh times out. Tried it few more times ,still no luck
![times](https://user-images.githubusercontent.com/37935221/98119316-8ea4d800-1ed4-11eb-87ff-233f6d1367fc.PNG)

[2020-11-06 18:48] shsarv opened #627 "Unable to update github repos."
**failing to refresh** the GitHub repository due to **timeout** every time for one week.

[2020-11-08 09:32] stephenleo commented on #626
same

[2020-11-08 09:32] stephenleo commented on #626
facing the same issue

[2020-11-09 05:51] lobophf commented on #627
Same here.

[2020-11-09 16:07] HenriqueACF commented on #627
here too

[2020-11-09 18:44] jcnoe commented on #627
Having the same issue

[2020-11-10 13:09] mgckaled commented on #627
Same issue too.

[2020-11-10 20:17] harshraj24 opened #628 "Git repos takes too long to be updated"

[2020-11-11 15:27] rlizzo commented on #627
Same issue too.

[2020-11-16 10:00] jfgiraud commented on #627
Same issue too.

[2020-11-16 10:01] jfgiraud commented on #626
Same issue too.

[2020-11-17 11:42] MusheAbdulHakim opened #629 "Installing sourcerer in Parrot Os gives Error: Invalid or corrupt jarfile"
after running **curl -s https://sourcerer.io/app/install | bash in the terminal i didn't get any error.
A**fter it was installed , it prompted me to add to path with this command : **sudo ln -s /home/user/.sourcerer/sourcerer /usr/local/bin/sourcerer** so I did.
after this command, I then run **sourcerer** then I got this error
**Error: Invalid or corrupt jarfile /home/user/.sourcerer/sourcerer.ja

[2020-11-22 03:34] iamsainikhil commented on #352
@prabhuSub

Steps:
1. Start the Sourcerer App & specify the repositories folder(s) on your machine
![sourcerer_app](https://user-images.githubusercontent.com/21148072/99892957-e23f5180-2c48-11eb-8ddd-c05fc5a3bb73.png)

2. Track the projects (you have the choice to whether hash[count] your contributions for a project)
![sourcerer_app_tracking_projects](https://user-images.githubusercontent.com/2114

[2020-11-22 08:27] BhishmDaslaniya commented on #626
Same issue...

[2020-11-26 11:14] CryptoSingh1337 opened #630 "Unable to analyse the deleted User profile, when added again."
Recently I have deleted my profile from sourcerer because my profile is not updating when I chose to update the github repos. This is also an issue but then I decided to delete my profile. Then when I added my profile again. So it showed zero repo and when I again chose to update my github repos, then again it got stuck and  now in status, it says "Timeout reached".

![issue](https://user-images.g

[2020-11-26 17:09] neuralsorcerer opened #631 "Unable to update Github repos due to timeout error"

[2020-11-28 23:04] jirkavrba commented on #631
Same thing happening for me, sourcerer successfully indexes 2 repositories and then hangs and indexing of all other repositories on github fails due to Timeout error

[2020-11-30 12:53] sagarmittal1 commented on #631
Same issue with me. index to 2 repos. then hangs and then timeout error

[2020-12-02 14:40] kassane opened #632 "Sourcerer Goodbye!"
Read this:
![sourcerer_goodbye](https://user-images.githubusercontent.com/6756180/100886885-19a4ce00-3493-11eb-88f5-df4eaa47a53f.jpg)

[2020-12-04 10:13] zhangchunsheng opened #633 "cert expired"
NET::ERR_CERT_DATE_INVALID
Subject: sourcerer.io

![image](https://user-images.githubusercontent.com/831839/101151103-26285280-365c-11eb-92a6-c13a40e3c330.png)

[2020-12-04 13:18] bk138 commented on #632
Great, I did not even get this email :-/.

[2020-12-05 18:06] #626 closed, assigned to nobody

[2020-12-06 17:05] kassane commented on #633
Likely Cause: #632

[2020-12-06 17:42] bk138 commented on #633
Yeah, I wrote to hello@sourcerer.io and got the reply that it's now the new owner's responsibility.

[2020-12-08 14:29] #633 closed, assigned to nobody

[2020-12-08 15:51] bk138 commented on #633
Hi @zhangchunsheng, the certificate is still expired, just FYI.

[2020-12-09 15:42] HenriqueACF commented on #632
so sad

[2020-12-10 20:34] shriyaMadan opened #634 "not showing the count of followers and following"

[2020-12-11 06:48] Yue-Q commented on #352
I have run      curl -s https://sourcerer.io/app/install | bash
on my gitbash, (I am using Windows 10.0.18363, so I have installed cRUL)
However, I could not see any installation process, and I can not found any file named .sourcerer under my C:/Users/windowsUserName

Does anyone have the same problem as me?
![error](https://user-images.githubusercontent.com/45703282/101872240-86326380-3b4a-11eb-8

[2020-12-11 18:24] barhouum7 commented on #627
I'm facing the same issue!

[2020-12-11 18:35] HenriqueACF commented on #627
the project was discontinued

[2020-12-11 18:50] iamsainikhil commented on #352
@Yue-Q don't worry about it. Sourcerer had shutdown its services.

https://github.com/sourcerer-io/sourcerer-app/issues/632#issue-755331385

[2020-12-11 19:14] Yue-Q commented on #352
Thanks for your update, sorry to see sourcerer.io has gone

[2020-12-11 19:38] barhouum7 commented on #627
Sad to hear that! Are they will fix it?

[2020-12-14 20:40] StyvenSoft opened #635 "Temporarily install https certificate"
Can you temporarily install the certificate for the platform using [letsencrypt.org](https://letsencrypt.org/) or, by default, [certbot.eff.org](https://certbot.eff.org/) to keep the links of the users active? I see that your domain (sourcerer.io) expires 2021-06-18

[2020-12-15 10:42] gautamkrishnar commented on #635
i also got the ssl error today

[2020-12-15 10:44] gautamkrishnar commented on #635
Just saw #632

[2020-12-17 06:20] #592 closed, assigned to nobody

[2020-12-17 18:34] shelcia opened #636 "Website - Connection not private"

[2020-12-19 15:28] dr5hn commented on #632
Sad to see you go 😭

[2020-12-30 11:57] csalmeida opened #637 "How to uninstall Sourcerer?"
Got wind of the sad news that Sourcerer is shutting down (#632) and would like to remove it from my machine and had no idea how to do it.

The `README.md` does provide [clear instructions on how to install it](https://github.com/sourcerer-io/sourcerer-app#usage) but not how remove it so if anyone is wondering here's the command you need to run from your terminal:

[code]

Output:

[code]

[2021-01-02 12:42] #573 closed, assigned to nobody

[2021-01-04 15:27] ksdkamesh99 opened #638 "Problem in Updating Github Repos"
Hi

I am using Sourcerer for many days. I like it for its insights and analytics it gives but these days it is not working fine.
When I want to update my repositories from GitHub it is not showing any change in the data in my profile. When I open the jobs it is showing timed out error

Please solve this issue

[2021-01-05 08:29] vinitshahdeo opened #639 "Hall of fame is not working"
Probably **due to expiry of sourcerer.io SSL certificate**, the hall of fame is not working. Any updates on this? **Will it be deprecated forever?**

_PS: I was using the hall of fame for most of my projects._

[![Screenshot 2021-01-05 at 1 48 54 PM](https://user-images.githubusercontent.com/20594326/103623354-05eefa80-4f5e-11eb-9ca2-2eec36b572e2.png)](https://github.com/vinitshahdeo/vinitshahdeo/

[2021-01-11 17:40] harry91 opened #640 "Website HTTPS certificate expired"
Hi, your website's HTTPS certificate has been expired for over a month. https://sourcerer.io/

[2021-01-13 06:59] Krakaw commented on #640
Hey, also noticed this, just commenting here for notifications sake.

[2021-01-13 17:05] ahmad-ali14 commented on #370
same here: https://sourcerer.io/ahmad-ali14

[2021-01-14 01:33] epwalsh commented on #640
+1. I will have to remove this from my projects unless fixed soon.

[2021-01-15 09:11] pavan-elisetty commented on #640
+1

[2021-01-15 14:33] wspringer commented on #640
Is there an alternative? If there is, then I will take it somewhere else. It seems sourcerer is no longer supported.

[2021-01-19 00:46] #635 closed, assigned to nobody

[2021-01-19 02:59] StyvenSoft commented on #640
You can check this issue #632 to know the information and current situation of Sourcerer. I particularly like [codersrank.io](https://codersrank.io/ ) as an alternative, but you can also look for more on [this site](https://www.producthunt.com/alternatives/github-profile-visualizer)

[2021-01-22 14:33] lecchereng commented on #280
I had the same issue because I had jre instead of jdk installed.
TO SOLVE install jdk 8.

[2021-01-24 07:23] stunn-areeb09 commented on #598
I am getting  gradle build failed when using the following command
`gradle build`

[2021-01-26 06:58] stunn-areeb09 commented on #605
I am facing the exact same issue what to do ??

[2021-02-07 17:49] alihassan-io opened #641 "Everytime Skipping entire repos (Part-ii)"
[Pon Muthu Selvam N](https://github.com/imhta) already opened this [Issue](https://github.com/sourcerer-io/sourcerer-app/issues/543) on Sep 9, 2019, and after fixing done by [Lubov Yaronskaya](https://github.com/yaronskaya) it was closed on Sep 11, 2019.

Unfortunately, I am facing the same issue. Whenever I try to scan my GitHub profile, it scans and skip the entire repositories.
![processing err

[2021-02-10 18:27] dhilmathy commented on #641
This repo is not actively maintained. Refer #632

[2021-02-10 18:28] dhilmathy commented on #639
This repos is not actively maintained. Refer #632

[2021-02-10 18:28] dhilmathy commented on #638
This repos is not actively maintained. Refer #632

[2021-02-10 18:28] dhilmathy commented on #636
@shelcia This repos is not actively maintained. Refer #632

[2021-03-02 07:38] HoukasaurusRex commented on #632
For those still coming to this issue, while sourcerer.io is ending its service in March, a decent alternative as suggested [here](https://github.com/sourcerer-io/sourcerer-app/issues/640#issuecomment-762570024) is to use [codersrank.io](https://codersrank.io) instead.

[2021-04-05 22:02] 825i commented on #632
Interesting that profiles are still available and it's now 1 week after the supposed date that they were supposed to go offline. Still no changes from this country that apparently acquired the service. Hmm...

[2021-04-10 16:29] ujorgeleite commented on #527
Hey @MHillier98 and @Enrique1987 I'm with the same problem. How you fix your problem? my profile: https://sourcerer.io/ujorgeleite

[2021-04-17 13:28] #616 closed, assigned to nobody

[2021-04-17 13:29] #614 closed, assigned to nobody

[2021-04-21 22:46] gerardoezequiel commented on #543
I have the same problem
![image](https://user-images.githubusercontent.com/34824185/115630336-c3c6aa80-a2fb-11eb-8999-6c470fc03013.png)

[2021-04-24 13:15] #525 closed

[2021-05-03 14:38] joaopcm opened #642 "Problems when chaging GitHub's username"
Hi, there! I hope you are doing well.

Some months ago I changed my GitHub username from jopcmelo to joaopcm. Since then, I can't refresh or update my Sourcerer profile because every time I try to log in on Sourcerer I get the following error message:
![image](https://user-images.githubusercontent.com/58827242/116890530-1c534d00-ac04-11eb-8fee-3648d386c591.png)

Can you guys help me to fix this pr

[2021-05-08 20:10] gagansingh198661 commented on #129
@yaronskaya Has this issue been fixed , if not would like to take this up.

[2021-05-08 20:18] gagansingh198661 commented on #585
@sergey48k @Jighdan  Can a better description be provided . How do I repro the error and where ?

[2021-06-08 16:10] nandgator commented on #632
If they are really shutting down, can someone please pin this issue?

[2021-06-16 08:49] Report-OSS-Security opened #643 "Issues related with security founded"
Dear sourcerer-io.

We are Security Team at Samsung Research. We are interested in the security of open-source projects.
We'd like to inform you of security-related issues in your repository but we couldn't find a proper way to reach you.

Please follow the below steps.
1. Please send this repository url to report.oss.sec@gmail.com.
2. Leave a comment 'Confirmed' on this issue. The comment should

[2021-07-03 20:42] mehr-licht commented on #598
me too. On Ubuntu 21.04

```gradle build --stacktrace```

[code]

and with ```sourcerer```after the curl request:
[code]

[2021-08-12 15:54] WilliamRagstad commented on #543
Me too
![image](https://user-images.githubusercontent.com/41281398/129228499-3759f878-58d4-4548-b3ab-ca19f63e3e83.png)

[2021-08-20 17:00] namanrana16 commented on #138
Hey, Can I work on this issue?

[2021-08-21 00:43] somer619 commented on #138
Ur a issue

On Fri, Aug 20, 2021, 11:00 AM namanrana ***@***.***> wrote:

[2022-01-02 15:03] chandrakeshram commented on #261
I am also facing the errors of Processing FAILED everytime when I am trying to update my profile while adding my repositories . Kindly look into this and please do the prompt actions . Please fix this problem so that I can add my repos in my sourcerer account and update my profile.
![Capture](https://user-images.githubusercontent.com/79987328/147879932-0c7be709-e298-41b7-ab47-b6cdb2fdd8c0.PNG)

[2022-10-07 14:48] Amandeep404 commented on #127
what to do in this issue?

[2022-10-08 02:29] this-Aditya commented on #109
hey @osilla can I contribute to this issue

[2022-10-08 14:46] Aadhithya-R-P commented on #127
What help needed?

[2022-10-10 20:15] Amandeep404 commented on #127
need guidance to clear this issue